{% extends 'twocolumn.html.twig' %}
{% use 'pieces/event.html.twig' %}
{% block content %}
    {% set newyear = date('Y') %}
    {% if app.request.locale == 'en' %}
        {% set route = "entropy_event_en" %}
    {% else %}
        {% set route = "entropy_event" %}
    {% endif %}
    {% set name_attr = 'name_attribute'|trans %}
    {% set content_attr = 'content_attribute'|trans %}
    <div id="events">
        {% for event in events %}
            {% if app.user %}
                {% set visible = true %}
            {% else %}
                {% set visible = app.user is null and event.published %}
            {% endif %}
            {% set year = event.eventdate|date('Y') %}
            {% if event is not null and visible %}
                {% if loop.first %}
                    {{ block("event") }}
                {% else %}
                    {% if year != newyear %}
                        <div class="linetext">
                            <span>{{ year }}</span>
                        </div>
                    {% endif %}
                    <div class="post"
                         data-type="{{ event.type }}"
                         data-cancelled="{{ event.cancelled }}">{{ block("events") }}</div>
                {% endif %}
            {% endif %}
            {% set newyear = event.eventdate|date('Y') %}
        {% endfor %}
    </div>
{% endblock %}
{% block events %}
    <h5 class="d-flex justify-content-between">
        <span {% if event.cancelled %}style="text-decoration: line-through;"{% endif %}>
            {% if event.url is empty and event.externalUrl %}
                {{ attribute(event, name_attr) }}
            {% else %}
                {% if event.url and not event.externalUrl %}
                    <a href="{{ path('entropy_event_slug',{'slug': event.url, 'year': event.eventdate|date('Y') }) }}">
                    {% else %}
                        <a href="{{ path(route,{'id': event.id}) }}">
                        {% endif %}
                        {{ attribute(event, name_attr) }}
                    </a>
                {% endif %}
            </span>
            <span class="border-bottom flex-fill">
                {% if event.epics %}
                    <a style="position: relative;
                              float: right;
                              right: 30%"
                       href="{{ event.epics }}"><i class="fas fa-image"></i></a>
                {% endif %}
            </span>
            <span>
                {% apply spaceless %}
                {{ event.publishdate|date("j.n.") }}
            {% endapply %}
        </span>
    </h5>
{% endblock %}
