{% extends 'onecolumn.html.twig' %}
{% use 'pieces/event.html.twig' %}
{% block title %}{{ 'page.announcements.title'|trans }} | Entropy ry{% endblock %}
{% block content %}
    {% set newyear = date('Y') %}
    {% set route = 'entropy_event' %}

    <h1>{{ 'page.announcements.title'|trans }}</h1>

    <div id="announcements">
        {% for event in events %}
            {% if app.user %}
                {% set visible = true %}
            {% else %}
                {% set visible = app.user is null and event.published %}
            {% endif %}
            {% set year = event.eventdate|date('Y') %}
            {% if event is not null and visible %}
                {% if loop.first %}
                    <div class="row">
                        <div id="event-content" class="col overflow-auto">
                            {{ block('event_head') }}
                            {{ block('event_content') }}
                        </div>
                        {% if event.picture is not null and event.picturePosition == 'after' %}
                            <div class="img-after mb-2 mt-3">{{ block('event_media') }}</div>
                        {% endif %}
                    </div>
                {% else %}
                    {% if loop.index == 2 %}
                        <hr>
                    {% endif %}
                    {% if year != newyear %}
                        <div class="linetext">
                            <span>{{ year }}</span>
                        </div>
                    {% endif %}
                    <div class="post"
                         data-type="{{ event.type }}"
                         data-cancelled="{{ event.cancelled }}">{{ block('events') }}</div>
                {% endif %}
            {% endif %}
            {% set newyear = event.eventdate|date('Y') %}
        {% endfor %}
    </div>
{% endblock %}
{% block events %}
    <h5 class="d-flex justify-content-between">
        <span {% if event.cancelled %}style="text-decoration: line-through;"{% endif %}>
            {% if event.url is empty and event.externalUrl %}
                {{ event.nameByLang(app.request.locale) }}
            {% else %}
                {% if event.url and not event.externalUrl %}
                    <a href="{{ path('entropy_event_slug', {slug: event.url, year: event.eventdate|date('Y')}) }}">
                {% else %}
                    <a href="{{ path(route, {id: event.id}) }}">
                {% endif %}
                    {{ event.nameByLang(app.request.locale) }}
                    </a>
            {% endif %}
        </span>
        <span class="border-bottom flex-fill">
            {% if event.epics %}
                <a style="position: relative;
                            float: right;
                            right: 30%"
                    href="{{ event.epics }}"><twig:ux:icon name="image" /></a>
            {% endif %}
        </span>
        <span>
            {{ event.publishdate|date('j.n.') }}
        </span>
    </h5>
{% endblock %}
