{% extends 'event.html.twig' %}
{% block title %}{{ event.nameByLang(app.request.locale) }} - {{ 'Artists'|trans }}| Entropy ry{% endblock %}
{% use 'pieces/event.html.twig' %}
{% block content %}
    {% if app.user %}
        {% set visible = true %}
    {% else %}
        {% set visible = app.user is null and event.published and (event.publishDate < date()) %}
    {% endif %}
    {% if event is not null and visible %}
    <div class="row">
        <div class="col">
            <h2><a href="{{ block('event_path') }}">{{ block('event_name') }}</a> - {{ 'Artists'|trans }}</h2>
            {{ block('bios') }}
            {{ block('vj_bios') }}
        </div>
    </div>
    {% else %}
        <div clas="col-12">
            <br>
            <h1 class="text-center">{{ 'event_not_found'|trans }}</h1>
            <div class="col-6 mx-auto">
               <a class="btn btn-primary w-100" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> {{ 'login'|trans|capitalize }}</a>
            </div>
            <br>
        </div>
    {% endif %}
{% endblock %}
