{%- block sonata_page_html_tag -%}
    {% set sessionTheme = app.request and app.request.hasSession() ? app.request.session.get('theme') : null %}
    {% if app.user and event is not defined %}
        {% set theme = app.user.member.theme %}
    {% elseif event is defined %}
        {% if event.theme == 'dynamic' %}
            {% set theme = app.user ? app.user.member.theme : sessionTheme %}
        {% else %}
            {% set theme = event.theme %}
        {% endif %}
    {% else %}
        {% set theme = app.user ? app.user.member.theme : (sessionTheme ?? 'light') %}
    {% endif %}
    <!DOCTYPE html>
    <html prefix="og: http://ogp.me/ns#" {{ sonata_seo_html_attributes() }} lang="{{ page is defined and page.site is defined and page.site.locale is not empty ? page.site.locale : (site is defined and site.locale is not empty ? site.locale : app.request.locale) }}"{% if theme %} data-bs-theme="{{ theme }}"{% endif %}>
    {% endblock %}
    {% block sonata_page_head %}
        <head {{ sonata_seo_head_attributes() }}>
            {% block preload_icons %}
                <link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
                <link rel="preload" as="image" href="{{ asset('/images/header-logo-text.svg') }}">
            {% endblock %}
            {% if block('title') is defined %}
                <title>{{ block('title') }}</title>
            {% elseif page.title is defined %}
                <title>{{ page.title }} | Entropy ry</title>
            {% else %}
                {{ sonata_seo_title() }}
            {% endif %}
            {% block meta %}{{ sonata_seo_metadatas() }}{% endblock %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
            {% block stylesheets %}
            {% endblock %}
            {% block javascripts %}{% endblock %}
            <link rel="manifest" href="/manifest.json">
        </head>
    {% endblock %}
    {% block sonata_page_body_tag %}
        <body class="entropy">
            {% if event is defined and event.backgroundEffect is not empty -%}
                <canvas
                    class="effect_canvas"
                    data-turbo-permanent
                    id="{{ event.backgroundEffect }}"
                    data-config='{{ event.backgroundEffectConfig }}'
                    style="opacity: {{ event.backgroundEffectOpacity|default(100) / 100 }}; {{ event.backgroundEffectPosition }}"
                ></canvas>
            {%- endif %}
        {% endblock %}
        {% block sonata_page_top_bar %}
            {% if app.user and is_granted('ROLE_SONATA_ADMIN') %}
                <nav class="navbar navbar-dark bg-dark navbar-expand-md" role="banner">
                    <span class="navbar-text" style="color: white;">ADMIN MENU:</span>
                    <ul class="navbar-nav justify-content-left">
                        {% if app.user and is_granted('ROLE_SONATA_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">
                                    <twig:ux:icon name="settings" />
                                    {{ 'Dashboard'|trans }}
                                </a>
                            </li>
                            {% set sites = sonata_page.siteavailables %}
                            {% if sites|length > 1 and site is defined %}
                                <li class="dropdown nav-item">
                                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">{{ site.name }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for site in sites %}
                                            <li class="dropdown-item">
                                                <a href="{{ site.url ? site.url : '/' }}">{{ site.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                            {% if page is defined and page is not null and page.id is defined %}
                                <li class="dropdown nav-item">
                                    <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">Page <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">
                                            <a href="{{ sonata_page_admin.generateUrl('edit', {(sonata_page_admin.idParameter): page.id}) }}"
                                               target="_new">{{ 'header.edit_page'|trans({}, 'SonataPageBundle') }}</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="{{ sonata_page_admin.generateUrl('sonata.page.admin.page|sonata.page.admin.snapshot.list', {(sonata_page_admin.idParameter): page.id}) }}"
                                               target="_new">{{ 'header.create_snapshot'|trans({}, 'SonataPageBundle') }}</a>
                                        </li>
                                        <div class="dropdown-divider"></div>
                                        <li class="dropdown-item">
                                            <a href="{{ sonata_page_admin.generateUrl('list') }}" target="_new">{{ 'header.view_all_pages'|trans({}, 'SonataPageBundle') }}</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                            {% if page is defined and page is not null and page.id is defined and event is not defined %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                       href="{{ sonata_page_admin.generateUrl('compose', {(sonata_page_admin.idParameter): page.id}) }}">
                                        <twig:ux:icon name="settings" />
                                        {{ 'header.compose_page'|trans({}, 'SonataPageBundle') }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if page is defined and page.edited %}
                                <li class="nav-item">
                                    <span class="nav-link" style="color:red;"><strong><em>{{ 'page_edited'|trans([], 'SonataPageBundle') }}</em></strong></span>
                                </li>
                            {% endif %}
                            {% if page is defined and not page.enabled %}
                                <li class="nav-item">
                                    <span class="nav-link" style="background: red;">
                                        <strong><em>{{ 'header.page_is_disabled'|trans([], 'SonataPageBundle') }}</em>
                                        </strong>
                                    </span>
                                </li>
                            {% endif %}
                        {% endif %}
                        {% if app.user and is_granted('IS_IMPERSONATOR') %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ path('homepage', {_switch_user: '_exit'}) }}">{{ 'header.switch_user_exit'|trans({}, 'SonataPageBundle') }}</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if event is defined %}
                        <span class="navbar-text" style="color: white;">{{ 'Event'|trans }}:</span>
                        <ul class="navbar-nav justify-content-left">
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ path('admin_app_event_edit', {id: event.id}) }}">
                                    <twig:ux:icon name="settings" />
                                    {{ 'event.edit'|trans }}
                                </a>
                            </li>
                            {% if event.published == false %}
                                <li class="nav-item float-end">
                                    <span class="nav-link text-warning">
                                        <twig:ux:icon name="lock" />
                                        {{ 'event.not_public'|trans }}
                                    </span>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </nav>
            {% endif %}
        {% endblock %}
        {% block sonata_page_container %}{% endblock %}
        {% block page_container %}{% endblock %}
        {% block sonata_page_asset_footer %}{% endblock %}
    </body>
</html>
