{% extends 'layout.html.twig' %}
{% block title %}
<title>{{bookingdata.name}} - {{ bookingdata.date }}</title>
{% endblock %}
{% block list %}
<div class="col-md-12">
{{ contract.contentFi|raw }}
<h1>{{ bookingdata.name }} - {{ bookingdata.date }}
    <input type="button" value="Print" class="no-print btn btn-primary pull-right" onClick="window.print()">
</h1>
{% if bookingdata.packages %}
<h3 style="text-transform: capitalize;">{{ 'packages'|trans }}</h3>
    {% for package in bookingdata.packages %}
    <input type="checkbox"><label>{{ package }}:</label>
    <ul class="list-unstyled">
        {% for item in package.items %}
        <li>
            {{ block('item') }}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endif %}
{% if bookingdata.items %}
<h3 style="text-transform: capitalize;">{{ 'items'|trans }}</h3>
    {% for item in bookingdata.items %}
        {{ block('item') }}
    {% endfor %}
{% endif %}
{% if bookingdata.accessories %}
    <h3 style="text-transform: capitalize;">{{ 'accessories'|trans }}</h3>
    <ul class="list-unstyled">
    {% for item in bookingdata.accessories %}
    <li>
        <input type="checkbox"><label><span class="lead">{{item.count}}</span> X {{ item.name }}</label>
            {% if item.name.compensationPrice %}
                <span class="pull-right">{{ item.name.compensationPrice }} €/pcs</span>
            {% endif %}
    </li>
    {% endfor %}
    </ul>
{% endif %}
{% if renter %}
<h3 style="text-transform: capitalize;">{{ 'renter'|trans }}</h3>
{{ renter.name }}<br>
{% if renter.organization %}{{ renter.organization }}<br>{% endif %}
{% if renter.phone %}{{ renter.phone }}<br>{% endif %}
{{ renter.email }}
<hr>
<div class="consent_form">
{{ form_start(form) }}
{{ form_widget(form) }}
<!--<div>Actual Total: <span class="pull-right">{#{ rent['actualTotal'] }#}€</span></div> -->
</div>
</div>
{% endif %}
{% endblock %}

{% block item %}
        <div class="form-check">
            <input type="checkbox"><label>{{ item }}, Manufacturer: {{ item.Manufacturer }}, Model: {{item.model}}, S/N: {{ item.serialNumber }}</label>
            {% if item.compensationPrice %}
                <span class="pull-right">{{ item.compensationPrice }} €</span>
            {% endif %}
            {% for file in item.files %} 
            <span class="no-print">- {{ file.downloadLink|raw }}</span> 
            {% endfor %}
        </div>
{% endblock %}

