{%- block sonata_page_html_tag -%}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" {{ sonata_seo_html_attributes() }} lang="{{ app.request.locale }}">
{% endblock %}
    {% block sonata_page_head %}
        <head {{ sonata_seo_head_attributes() }}>
            <link rel="icon" href="{{ asset('/images/e30v/logo-only.svg') }}" sizes="any" type="image/svg+xml">
            <link rel="preload" as="image" href="{{ asset("/images/e30v/logo-round-text-white.svg") }}">
            {% if block('title') is defined %}
                <title>{{ block('title') }}</title>
            {% elseif page.title is defined %}
                <title>{{ page.title }} | Entropy ry</title>
            {% else %}
                {{ sonata_seo_title() }}
            {% endif %}
            {% block meta %}
                {{ sonata_seo_metadatas() }}
            {% endblock %}
            {% block sonata_page_stylesheets %}
                {{ encore_entry_link_tags('e30v', null, 'e30v') }}
            {% endblock %}
            {% block sonata_page_javascripts %}
                {{ encore_entry_script_tags('e30v', null, 'e30v') }}
            {% endblock %}
        </head>
    {% endblock %}

    {% block sonata_page_body_tag %}
    <body class="entropy">
    {% if event is defined and event.backgroundEffect is not empty %}
    <canvas
        class="effect_canvas"
        data-turbo-permanent
        id="{{ event.backgroundEffect }}"
        style="opacity: {{ event.backgroundEffectOpacity|default(100) / 100 }};{{ event.backgroundEffectPosition }}
    "></canvas>
    {% endif %}
    {% endblock %}

    {% block sonata_page_top_bar %}
        {% if app.user and is_granted('ROLE_SONATA_ADMIN') %}
        <nav class="navbar navbar-dark bg-dark navbar-expand-md" role="banner">
            <span class="navbar-text" style="color: white;">ADMIN MENU:</span>
            <ul class="navbar-nav justify-content-left">
                {% if app.user and is_granted('ROLE_SONATA_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">
                            <i class="fa fa-magic"></i>
                            {{ 'Dashboard'|trans }}
                        </a>
                    </li>
                {% endif %}
                {% if app.user and is_granted('IS_IMPERSONATOR') %}
                    <li class="nav-item"><a  class="nav-link" href="{{ path('homepage', {'_switch_user': '_exit'}) }}">{{ "header.switch_user_exit"|trans({}, 'SonataPageBundle') }}</a></li>
                {% endif %}
            </ul>
            {% if event is defined %}
            <span class="navbar-text" style="color: white;">{{ 'Event'|trans }}:</span>
            <ul class="navbar-nav justify-content-left">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_app_event_edit', {'id': event.id}) }}">
                            <i class="fa fa-magic"></i>
                            {{ 'event.edit'|trans }}
                        </a>
                    </li>
                    {% if event.published == false %}
                    <li class="nav-item float-end">
                        <span class="nav-link text-warning">
                            <i class="fa fa-lock"></i>
                            {{ 'event.not_public'|trans }}
                        </span>
                    </li>
                    {% endif %}
            </ul>
            {% endif %}
        </nav>
    {% endif %}
    {% endblock %}

{% block page_container %}
{% endblock %}

    </body>
</html>


