{% extends 'e30v_base.html.twig' %}
{% use 'menu/menu.html.twig' %}
{% use 'pieces/event.html.twig' %}
{% use 'event/meta.html.twig' %}

{% block title %}{{ event.nameAndDateByLang(app.request.locale) }} | Entropy ry{% endblock %}
{% block sonata_page_stylesheets %}
    {{ parent() }}
    <style data-turbo-track="reload">
    {{ event.css|raw }}
    </style>
{% endblock %}
{% block sonata_page_javascripts %}
    {{ parent() }}
    {% if event.backgroundEffect is not empty %}
    {{ encore_entry_script_tags(event.backgroundEffect) }}
    {% endif %}
{% endblock %}
{% block page_container %}
<div class="container-fluid">
  <div class="row">
    <div id="marquee" class="marquee-wrapper col-12" data-morph-permanent>
      <div class="float-end locale-selector">
        {% set event_url = "/" ~ event.eventDate|date('Y') ~ "/" ~ event.url ~ "/" %}
        {{ block('mobile_locale') }}
      </div>
      <div class="marquee fs-1">
        {% for i in 0..8 %}
        <p>
            ENTROPY 30 {{ 'e30v.years'|trans }} / 3.2.2024 / UG /
        </p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="container-xxl">
  <div class="row">
    <div class="col-12 mt-4">
      <div class="row">
        <div class="col-6 col-sm-7 col-md-5 col-xl-4 order-0 pe-0 pe-md-3" data-turbo-frame="nav">
          {{ block('nav') }}
        </div>
        <div class="col-6 col-sm-5 d-md-none d-xl-block order-1 order-xl-2 col-xl-2">
          <img width="100%" src="{{ asset('images/e30v/logo-round-text-white.svg') }}">
        </div>
        <div class="col-12 col-md-7 col-xl-6 order-2 order-xl-1">
          {% include 'flashmessages.html.twig' %}
          <div class="text-center d-none d-md-block d-xl-none">
            <img width="50%" src="{{ asset('images/e30v/logo-round-text-white.svg') }}">
          </div>
          <div class="mt-4 mt-xl-0" data-turbo-frame="page">
          {{ block('content') }}
          </div>
        <div>
      </div>
      <footer class="mb-4" data-turbo-frame="footer">
        <div class="row mt-2 mb-2 location-and-time" data-turbo-permanent>
          <div class="col-12 d-flex justify-content-between">
            <span>
              {{ block('location') }}
            </span>
            <span>
              {{ block('time') }}
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            {{ block('links') }}
          </div>
        </div>
        <div class="mt-4">
        <small>{{ 'e30v.gdpr'|trans }}</small>
        </div>
      </footer>
    </div>
  </div>
</div>
{% endblock %}

{% block nav %}
{% if app.request.locale == 'en' %}
{% set prefix = '/en' %}
{% else %}
{% set prefix = '' %}
{% endif %}
{% set current_url = prefix ~ app.request.pathinfo %}
{% set el = {
  'home': block('event_path'),
  'info': block('event_path_info'),
  'tickets': block('event_path_shop'),
  'artists': block('event_path_artists'),
  'safer_space': block('event_path_safer_space')
  } %}
{% apply spaceless %}
<nav>
  {% for name, path in el %}
  {% if path is not null %}
  <a href={{ path }}
    type="button"
    aria-selected="{{ block('active_url') }}"
    class="btn btn-lg btn-outline-nav w-100 {% if block('active_url') == 'true' %}active{% endif %}"
  >{{ ('e30v.nav.' ~ name)|trans }}</a>
  {% endif %}
  {% endfor %}
</nav>
{% endapply %}
{% endblock %}

{% block active_url %}
{% if current_url == path %}true{% else %}false{% endif %}
{% endblock %}

{% block content %}
{% set input = template_from_string(event.contentForTwig(app.request.locale)) %}
<div class="content">
{{ block('content_home', input) ?? '' }}
</div>
{{ block('buy_button') }}
{% endblock %}

{% block buy_button %}
<a href="{{ block('event_path_shop') }}" class="btn mt-4 btn-lg btn-buy w-100">{{ 'e30v.buy_tickets'|trans }}</a>
{% endblock %}

{% block location %}
<div class="flex-row d-flex">
  <span class="mx-2 fs-1">
    <i class="lh-base fa fa-location-dot"></i>
  </span>
  <span class="flex-column align-self-center">
    <div>
      <strong>
        UG ({{ 'location.former_industrial_complex'|trans }})
      </strong>
    </div>
  </span>
</div>
{% endblock %}
{% block time %}
<div class="flex-row d-flex justify-content-end">
  <span class="mx-2 fs-1">
    <i class="lh-base fa-regular fa-calendar"></i>
  </span>
  <span class="flex-column align-self-center">
    <div><strong>3.2.2024</strong></div>
  </span>
</div>
{% endblock %}

{% block sonata_page_body_tag %}
<body class="entropy">
<div class="bg-img-container" data-turbo-permanent>
<img class="left-bg-img" src="{{ asset('images/e30v/chrome-pattern-left.webp') }}">
<img class="right-bg-img" src="{{ asset('images/e30v/chrome-pattern.webp') }}">
</div>
{% if event is defined and event.backgroundEffect is not empty %}
<canvas
    class="effect_canvas"
    data-turbo-permanent
    id="{{ event.backgroundEffect }}"
    style="opacity: {{ event.backgroundEffectOpacity|default(100) / 100 }};{{ event.backgroundEffectPosition }}
"></canvas>
{% endif %}
{% endblock %}
