{% extends 'twocolumn.html.twig' %}
{% block content %}
    {% set newyear = date('Y') %}
    {% if app.request.locale == 'en' %}
        {% set route = 'entropy_event_en' %}
    {% else %}
        {% set route = 'entropy_event' %}
    {% endif %}
    {% set name_attr = 'name_attribute'|trans %}
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="clubroomSwitch" checked>
      <label class="form-check-label" for="clubroomSwitch"> {{'include_clubroom_events'|trans}}</label>
    </div>
    <div id="events">
    {% for event in events %}
        {% if app.user %}
            {% set visible = true %}
        {% else %}
            {% set visible = app.user is null and event.published %}
        {% endif %}
        {% set year = event.eventdate|date('Y') %}
        {% if event is not null and visible %}
            {% if year != newyear %}
                <div class="linetext"><span>{{year}}</span></div>
            {% endif %}
            <div class="post" data-type="{{event.type}}" data-cancelled="{{event.cancelled}}">
                {{ block('events') }}
            </div>
        {% endif %}
        {% set newyear = event.eventdate|date('Y') %}
    {% endfor %}
    {{ sonata_page_render_container('afterevents', page) }}
    </div>
{% endblock %}

{% block events %}
            <h5 class="d-flex justify-content-between">
                <span {% if event.cancelled%}style="text-decoration: line-through;"{% endif %}>
                    {% if event.url is empty and event.externalUrl %}
                        {{ attribute(event, name_attr) }}
                    {% else %}
                        {% if event.url and not event.externalUrl %}
                        <a href="{{ path('entropy_event_slug',{'slug': event.url, 'year': event.eventdate|date('Y')}) }}">
                        {% else %}
                        <a href="{{ path(route,{'id': event.id}) }}">
                        {% endif %}
                        {{ attribute(event, name_attr) }}
                        </a>
                    {% endif %}
                </span>
                <span class="border-bottom flex-fill">
                    {% if event.epics %}
                    <a style="position: relative; float: right; right: 30%;" href="{{ event.epics }}"><i class="fas fa-image"></i></a>
                    {% endif %}
                </span>
                <span>
                    {% apply spaceless %}
                    {% if event.until %}
                        {% if event.until|date('n') != event.eventdate|date('n') %}
                            {{ event.eventdate|date('j.n.') }}-{{ event.until|date('j.n.') }}
                        {% elseif event.until|date('j') != event.eventdate|date('j') %}
                            {{ event.eventdate|date('j') }}-{{ event.until|date('j.n.') }}
                        {% else %}
                            {{ event.eventdate|date('j.n.') }}
                        {% endif %}
                    {% else %}
                    {{ event.eventdate|date('j.n.') }}
                    {% endif %}
                    {% endapply %}
                </span>
            </h5>
{% endblock %}
