{% extends 'onecolumn.html.twig' %}
{% use 'pieces/event.html.twig' %}
{% block content %}
    {% set content_attr = 'content_attribute'|trans %}
    {% set name_attr = 'name_attribute'|trans %}    
    {% if app.user %}
        {% set visible = true %}
    {% else %}
        {% set visible = app.user is null and event.published and (event.publishDate < date()) %}
    {% endif %}
    {% if event is not null and visible %}
        <div class="{% if event.picturePosition == 'right' %}col-md-8 order-1 order-md-0{% else %}col{% endif %}">
            {{ block('event_head_reverse') }}
            {{ block('event_content') }}
        </div>
        {% if event.picture is not null and event.picturePosition == 'right' %}
        <div class="col-md-4 order-0 order-md-1 mb-2">
            {{ block('event_media') }}
        </div>
        {% endif %}
        {% if event.picture is not null and event.picturePosition == 'after' %}
            <div class="img-after mb-2">
                {{ block('event_media') }}
            </div>
        {% endif %} 
<style>
{{ event.css|raw }}
</style>
    {% else %}
        <div clas="col">
            <br>
            <h1 class="text-center">{{ 'event_not_found'|trans }}</h1>
            <br>
        </div>
    {% endif %}
{% endblock %}
