{% extends 'onecolumn.html.twig' %}

{% block content %}
    <div class="{% if event.picturePosition == 'right' %}row p-4{%else%}col{%endif%}">
    {% if app.user %}
        {% set visible = true %}
    {% else %}
    {% set visible = app.user is null and event.published and (event.publishDate < date()) %}
    {% endif %}
    {% if event is not null and visible %}
        {% if event.picture is not null and event.picturePosition == 'banner' %}
        <div class="img-fluid mb-2 {% if event.picture.providername == 'sonata.media.provider.youtube' %}video-fluid{% endif %}">
        {% media event.picture, 'banner' with {'class':'img-banner img-fluid'} %}
        </div>
        {% endif %}
        <div class="{% if event.picturePosition == 'right' %}col-8{% else %}col{% endif %}">
            {% if app.request.locale == 'fi' %}
            <h2>{{ event.nimi }} - {{ event.eventdate|date() }}
                <small>{% if event.cancelled%}*{{'cancelled'|trans}}*{% endif %}</small>
            </h2>
            {{ event.Sisallys|raw }}
            {% endif %}
            {% if app.request.locale == 'en' %}
            <h2>{{ event.name }} - {{ event.eventdate|date() }}</h2>
                <small>{% if event.cancelled%}*{{'cancelled'|trans}}*{% endif %}</small>
            {{ event.Content|raw }}
            {% endif %}
        </div>
        {% if event.picture is not null and event.picturePosition == 'right' %}
        <div class="col-4">{% media event.picture, 'banner' with {'class':'img-right img-fluid'} %}</div>
        {% endif %}
    </div>
<style>
.video-fluid{
    position: relative; 
    padding-bottom: 56.25%; 
    height:0
}
.video-fluid object, .video-fluid embed {
      position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
{{ event.css|raw }}
</style>
    {% else %}
        <div clas="col">
            <br>
            <h1 class="text-center">{{ 'event_not_found'|trans }}</h1>
            <br>
        </div>
    {% endif %}
{% endblock %}

