{% extends 'onecolumn.html.twig' %}

{% block content %}
    {{ sonata_page_render_container('hero', page) }}
    {{ sonata_page_render_container('content', page) }}
    {% if eventdata is defined %}
        {% for event in eventdata %}
            <div clas="col">
                {% if app.request.locale == 'fi' %}
                    {{ event.nimi }} - {{ event.eventdate|date('d.m.Y') }}
                {% endif %}
                {% if app.request.locale == 'en' %}
                    {{ event.name }}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
