{% extends 'onecolumn.html.twig' %}

{% block content %}
    {{ sonata_page_render_container('content', page) }}
    {% if app.user %}
        {% set visible = true %}
    {% else %}
    {% set visible = app.user is null and event.published and (event.publishDate < date()) %}
    {% endif %}
    {% if event is not null and visible %}
        <div clas="col">
            {% if event.picture is not null %}
            {% media event.picture, 'banner' with {'class':'img-fluid'} %}
            {% endif %}
            {% if app.request.locale == 'fi' %}
            <h2>{{ event.nimi }} - {{ event.eventdate|date() }}</h2>
            {{ event.Sisallys|raw }}
            {% endif %}
            {% if app.request.locale == 'en' %}
            <h2>{{ event.name }} - {{ event.eventdate|date() }}</h2>
            {{ event.Content|raw }}
            {% endif %}
        </div>
<style>
{{ event.css|raw }}
</style>
    {% else %}
        <div clas="col">
            <br>
            <h1 class="text-center">{{ 'event_not_found'|trans }}</h1>
            <br>
        </div>
    {% endif %}
{% endblock %}

