{% extends 'twocolumn.html.twig' %}
{% block content %}
    {% set newyear = date('Y') %}
    {% set name_attr = 'name_attribute'|trans %}
    {{ sonata_page_render_container('content', page) }}
    {% for event in events %}
        {% if app.user %}
            {% set visible = true %}
        {% else %}
            {% set visible = app.user is null and event.published %}
        {% endif %}
        {% if event is not null and visible and event.type != 'Announcement'%}
            {% set year = event.eventdate|date('Y') %}
            <div class="post">
                {% if year != newyear %}
                    <div class="linetext"><span>{{year}}</span></div>
                {% endif %}
                <h5 class="d-flex justify-content-between">
                    <span>
                        <a href="{{ path('entropy_event', {'id': event.id})}}">{{ attribute(event, name_attr) }}</a>
                    </span>
                    <span class="border-bottom flex-fill">
                        {% if event.epics %}
                        <a style="position: relative; float: right; right: 30%;" href="{{ event.epics }}"><i class="fas fa-image"></i></a>
                        {% endif %}
                    </span>
                    <span>{{ event.eventdate|format_datetime('d.M.') }}</span>
                </h5>
            </div>
            {% set newyear = event.eventdate|date('Y') %}
        {% endif %}    
    {% endfor %}
    {#{ 'older_from_archive'|trans }#}
{% endblock %}

