{% extends 'twocolumn.html.twig' %}
{% block content %}
    {% set newyear = date('Y') %}
    {% set route = 'entropy_event' %}
    {% set name_attr = 'name_attribute'|trans %}
    <div class="input-group mb-3">
        <input type="text" {{ stimulus_controller('search') }} id="nameSearchInput" class="form-control" placeholder="{{ 'Search by name'|trans }}" />
        <span id="nameSearch" class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
    </div>
    <h4>{{ 'search.include'|trans }}</h4>
    <div class="form-check form-check-inline">
        <input type="checkbox"
               class="form-check-input"
               id="clubroomSwitch"
               checked
               data-bs-toggle="collapse"
               data-bs-target=".clubroom">
        <label class="form-check-label" for="clubroomSwitch">{{ 'include_clubroom_events'|trans }}</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="checkbox"
               class="form-check-input"
               id="streamSwitch"
               checked
               data-bs-toggle="collapse"
               data-bs-target=".stream">
        <label class="form-check-label" for="streamSwitch">{{ 'include_stream_events'|trans }}</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="checkbox"
               class="form-check-input"
               id="meetingSwitch"
               data-bs-toggle="collapse"
               data-bs-target=".meeting">
        <label class="form-check-label" for="meetingSwitch">{{ 'include_meeting_events'|trans }}</label>
    </div>
    <div id="events">
        {% for event in events %}
            {% if app.user %}
                {% set visible = true %}
            {% else %}
                {% set visible = app.user is null and event.published %}
            {% endif %}
            {% set year = event.eventdate|date('Y') %}
            {% if year != newyear %}
                <div class="linetext">
                    <span>{{ year }}</span>
                </div>
            {% endif %}
            {% if event is not null and visible %}
                <div class="post {{ event.type }} collapse {% if event.type != 'meeting' %}show{% endif %}"
                     data-name="{{ attribute(event, name_attr) }}">{{ block('events') }}</div>
            {% endif %}
            {% set newyear = event.eventdate|date('Y') %}
        {% endfor %}
    </div>
{% endblock %}
{% block events %}
    <h5 class="d-flex justify-content-between border-bottom">
        <span {% if event.cancelled %}style="text-decoration: line-through;"{% endif %}>
            {% if event.url is empty and event.externalUrl %}
                {{ attribute(event, name_attr) }}
            {% else %}
                {% if event.url and not event.externalUrl %}
                    <a class="link-offset-2 link-underline link-underline-opacity-10" href="{{ path('entropy_event_slug', {slug: event.url, year: event.eventdate|date('Y')}) }}">
                {% else %}
                    <a class="link-offset-2 link-underline link-underline-opacity-10" href="{{ path(route, {id: event.id}) }}">
                {% endif %}
                        {{ attribute(event, name_attr) }}
                    </a>
            {% endif %}
            {% if not event.published %}- {{ 'event.not_public'|trans }}{% endif %}
        </span>
        <span class="border-bottom d-flex gap-3">
            {% if event.epics %}
                <a class="icon-link" href="{{ event.epics }}">
                    <twig:ux:icon name="entypo:images" height="1em" width="1em" />
                </a>
            {% endif %}
            {% if event.linkToForums and app.user and app.user.member.isActiveMember %}
                <a class="icon-link" href="{{ event.linkToForums }}">
                    <twig:ux:icon name="fluent-mdl2:forum" height="1em" width="1em"/>
                </a>
            {% endif %}
            {% if event.wikiPage and app.user and app.user.member.isActiveMember %}
                <a class="icon-link" href="{{ event.wikiPage }}">
                    <twig:ux:icon name="fa:wikipedia-w" height="1em" width="1em"/>
                </a>
            {% endif %}
        </span>
        <span>
        {%- if event.until %}
            {% if event.multiday %}
                {% if event.until|date('n') != event.eventdate|date('n') %}
                    {{ event.eventdate|date('j.n.') }}-{{ event.until|date('j.n.') }}
                {% else %}
                    {{ event.eventdate|date('j') }}-{{ event.until|date('j.n.') }}
                {% endif %}
            {% else %}
                {# For events crossing midnight but less than 24 hours, just show start date #}
                {{ event.eventdate|date('j.n.') }}
                {#% if event.until|date('Y-m-d') == event.eventdate|date('Y-m-d') %}
                    {{ event.eventdate|date('H:i') }}-{{ event.until|date('H:i') }}
                {% endif %#}
            {% endif %}
        {% else %}
            {{ event.eventdate|date('j.n.') }}
        {% endif -%}
        </span>
    </h5>
{% endblock %}
