{% extends 'onecolumn.html.twig' %}
{% block title %}{{event.nameByLang(app.request.locale)}} | Entropy ry{% endblock %}
{% block sonata_page_stylesheets %}
    {{ parent() }}
    <style data-turbo-track="reload">
    {{ event.css|raw }}
    {% if event.headerTheme == 'dark' %}
    .header-img {
        filter: invert(1);
    }
    {% endif %}
    </style>
{% endblock %}
{% block sonata_page_javascripts %}
    {{ parent() }}
    {% if event.backgroundEffect is defined %}
    {{ encore_entry_script_tags(event.backgroundEffect) }}
    {% endif %}
{% endblock %}
{% use 'pieces/event.html.twig' %}
{% block content %}
    {% if app.user %}
        {% set visible = true %}
    {% else %}
        {% set visible = app.user is null and event.published and (event.publishDate < date()) %}
    {% endif %}
    {% if event is not null and visible %}
    <div class="row">
        <div class="{% if event.picturePosition == 'right' %}col-md-8 order-1 order-md-0{% else %}col{% endif %}">
            {{ block('event_head_reverse') }}
            {{ block('event_content') }}
        </div>
        {% if event.picture is not null and event.picturePosition == 'right' %}
        <div class="col-md-4 order-0 order-md-1 mb-2">
            {{ block('event_media') }}
        </div>
        {% endif %}
        {% if event.picture is not null and event.picturePosition == 'after' %}
            <div class="img-after mb-2 mt-3">
                {{ block('event_media') }}
            </div>
        {% endif %}
    </div>
    {% else %}
        <div clas="col-12">
            <br>
            <h1 class="text-center">{{ 'event_not_found'|trans }}</h1>
            <div class="col-6 mx-auto">
               <a class="btn btn-primary w-100" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i> {{ 'login'|trans|capitalize }}</a>
            </div>
            <br>
        </div>
    {% endif %}
{% endblock %}
