{% extends 'twocolumn.html.twig' %}
{% block content %}
    {% if fix is defined %}
        {% for item in fix %}
            <div>
                <a href="{{ path('admin_app_item_edit', {'id':item.id}) }}">
                    <h3>{{ item.name }}</h3>
                </a>
                {% for fixh in item.fixinghistory|reverse %}
                    <span>{{ fixh.createdAt|date("d.m.Y") }}, {{ fixh.creator }}: {{ fixh.description }}</span>
                    <br>
                {% endfor %}
                {# dump(item) #}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
