<footer class="row mt-4">
<div class="col-12 p-4">
    <div class="col-12">
        <div class="fs-5 mb-2">
            <a class="text-decoration-none e-text" href="https://entropy.fi/" title="Entropy ry" rel="home">
                Entropy ry</a>. {{'Elektronisen musiikin kulttuuriyhdistys'|trans }}.
        </div>
        <div class="d-block d-sm-flex justify-content-between">
        <div class="col">
            <h5 class="text-center text-sm-start">{{'Address'|trans}}</h5>
            <p class="ms-4">
                Jämeräntaival 3 A 1<br>
                02150 Espoo<br> 
                {{'Finland'|trans}}
            </p>
        </div>
        {{ sonata_page_render_container('footer', 'global') }}
        </div>
    </div>
    <div class="col-12 mt-2">
        <div class="d-block d-sm-flex justify-content-between">
        {{ sonata_page_render_container('footer2', 'global') }}
        </div>
    <small>{{ 'cookie_policy'|trans }}</small>
    </div>
</div>
</footer>
