{% extends 'onecolumn.html.twig' %}
{% use 'pieces/event.html.twig' %}
{% block content %}
    <turbo-frame id="test">
    <h1>TEST</h1>
    {% set name_attr = 'name_attribute'|trans %}
    {% set content_attr = 'content_attribute'|trans %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3">
    {% for event in events %}
        {% if app.user %}
            {% set visible = true %}
        {% else %}
            {% set visible = app.user is null and event.published and (event.publishDate < date()) %}
        {% endif %}
        {% if event is not null and visible %}
        <div class="col p-2">
        {{ block('event_tile') }}
        </div>
        {% endif %}
    {% endfor %}
    {% if epic is not null %}
        <div class="col p-2">
        {{ block('tile') }}
        </div>
    {% endif %}
    </div>
    </turbo-frame>
{% endblock %}

{% block tile %}
    <div class="tile col-12 p-2">
        <img src="{{ epic }}" class="img-fluid" title="{{'Random event picture'|trans}}">
        <h4>{{'Random event picture'|trans}}</h4>
        <div class="justify-content-between">
            <a class="btn btn-primary" href="https://epics.entropy.fi">ePics</a>
        </div>
    </div>
{% endblock %}
