{% extends 'twocolumn.html.twig' %}
{% block content %}
    {% set name_attr = 'name_attribute'|trans %}
    {% set content_attr = 'content_attribute'|trans %}
    {{ sonata_page_render_container('content', page) }}
    {% for event in events %}
        {% if app.user %}
            {% set visible = true %}
        {% else %}
        {% set visible = app.user is null and event.published and (event.publishDate < date()) %}
        {% endif %}
        {% if event is not null and visible %}
            <div class="post">
                    <h2>{{ attribute(event, name_attr) }}
                        {% if event.type != 'Announcement' %}
                            - {{ event.eventdate|date() }}
                        {% endif %}
                    </h2>

                    <small>{{ 'released'|trans }}: {{ event.publishDate|date() }}</small>
                    {% if event.picture is not null %}
                        {% media event.picture, 'banner' with {'class':'img-fluid'} %}
                    {% endif %}
                    {{ attribute(event,content_attr)|raw }}
            </div>
        {% endif %}    
    {% endfor %}
{% endblock %}
