{% extends 'onecolumn.html.twig' %}
{% use 'pieces/event.html.twig' %}
{% block content %}
    <turbo-frame id="home">
    {% set name_attr = 'name_attribute'|trans %}
    {% set content_attr = 'content_attribute'|trans %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3">
    {% for event in events %}
        {% if app.user %}
            {% set visible = true %}
        {% else %}
            {% set visible = app.user is null and event.published and (event.publishDate < date()) %}
        {% endif %}
        {% if event is not null and visible %}
        <div class="col p-2">
        {{ block('event_tile') }}
        </div>
        {% endif %}
    {% endfor %}
    {% if epic is not null %}
        <div class="col p-2">
        {{ block('epic_tile') }}
        </div>
    {% endif %}
    {% if info is not null %}
        <div class="col p-2">
        {{ block('artist_tile') }}
        </div>
    {% endif %}
    {% if not app.user %}
        <div class="col p-2">
        {{ block('join_us_tile') }}
        </div>
    {% endif %}
    </div>
    </turbo-frame>
{% endblock %}

{% block epic_tile %}
    <div class="tile col-12 p-2" {{ stimulus_controller('epics') }}
         data-epics-url-value="/api/epics/random"
         data-epics-refresh-interval-value="8000">
        <div class="rect-img-container">
        <img  data-epics-target="pic" src="{{ epic.url }}" class="rect-img" title="{{'epics.tile.title'|trans}}">
        <div class="badge-container">
            <span data-epics-target="badge" class="badge bg-secondary">{{epic.taken|date}}</span>
        </div>
        </div>
        <h4>{{'epics.tile.heading'|trans}}
            <a href="{{ path('_page_alias_events_'~app.request.locale) }}">{{'epics.tile.heading_events'|trans}}</a>.
        </h4>
        <div class="justify-content-between d-flex">
            <a class="btn btn-outline-primary" href="https://epics.entropy.fi">{{'epics.tile.more_button'|trans}}</a>
        </div>
    </div>
{% endblock %}
{% block join_us_tile %}
    <div class="tile col-12 p-2">
        <div class="rect-img-container">
            <img src="{{ asset('/images/golden-logo.svg')}}" class="rect-img" title="{{'Join us'|trans}}">
        </div>
        <h4>{{'join_us.title'|trans}}</h4>
        <p>{{'join_us.1'|trans}}</p>
        <ul>
            <li>{{'join_us.2'|trans}}</li>
            <li>{{'join_us.3'|trans}}</li>
            <li>{{'join_us.4'|trans}}</li>
        </ul>
        <div class="justify-content-between d-flex">
            <a class="btn btn-primary" href="{{ path('_page_alias_join_us_'~app.request.locale) }}">{{'join_us.button'|trans}}</a>
            <a class="btn btn-primary" href="https://entropy.fi/mm">Mattermost</a>
        </div>
    </div>
{% endblock %}
{% block artist_tile %}
    {% set artist = info.artistClone %}
    {% set event = info.event %}
    {% set name = info.artist.name %}
    <div class="tile col-12 p-2">
    <a href="{{ block('event_path') }}">
    <div class="rect-img-container">
        {% set frontpage = true %}
        {{block('artist_pic')}}
        <div class="badge-container">
            <span class="badge bg-secondary">{{'artist.tile.heading'|trans}}</span>
        </div>
    </div>
    </a>
    {#    <h4>{{'artist.tile.heading'|trans}}: {{name}}</h4> #}
    <div class="mb-2 justify-content-between d-flex">
        {% if app.request.locale =='fi'%}
            {% set artist_url = '/artistit'%}
        {% else %}
            {% set artist_url = '/en/artists'%}
        {% endif %}
        <a class="btn btn-outline-primary" href="{{ block('event_path') }}">{{'artist.tile.button_event'|trans}}</a>
        <a class="btn btn-outline-primary" href="{{artist_url}}">{{'artist.tile.button_artists'|trans}}</a>
    </div>
    {{block('artist_event_info')}}
    </div>
{% endblock %}
