{% use 'menu/menu.html.twig' %}
<header class="row" id="header" data-turbo-frame="nav">
    <div class="g-0 mb-4">
        <div class="header-img text-center d-none d-lg-block">
            <a href="/{% if app.request.locale == 'en' %}en{% endif %}">
                <img style="max-height: 20vh" src="{{ asset('/images/header-logo-text.svg') }}" width="50%" height="auto" z-index="0" alt="ENTROPY">
            </a>
            {% if event is not defined %}
                {% if app.user %}
                    <a
                        aria-label="{{ 'button.theme-switcher'|trans }}"
                        class="btn position-absolute top-0 end-0"
                        href="{{ path('profile_edit') }}#theme"
                        title="{{ 'button.theme-switcher'|trans }}"
                    >
                        <twig:ux:icon name="dark-theme" height="2em"/>
                    </a>
                {% else %}
                    <button
                        aria-label="{{ 'button.theme-switcher'|trans }}"
                        class="btn position-absolute top-0 end-0"
                        {{ stimulus_controller('theme-switcher') }}
                        {{ stimulus_action('theme-switcher', 'toggle') }}
                    >
                        <twig:ux:icon name="dark-theme" height="2em"/>
                    </button>
                {% endif %}
            {% endif %}
        </div>
        {{ block('menu') }}
    </div>
</header>
