{% extends 'event.html.twig' %}
{% block content %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}<h1 class="text-success">You are ADMIN</h1>{% endif %}
    {{ block('responsibles') }}
    {{ block('infos') }}
{% endblock %}
{% block responsibles %}
    {% if responsibles|length > 0 and infos|length > 0 %}
        {% set theme = event.theme == 'dynamic' ? (app.user ? app.user.member.theme : null) : event.theme %}
        <h3>{{ 'Responsibles'|trans }}</h3>
        <table class="table table-striped {% if theme == 'dark' %}table-dark{% endif %} ">
            <thead>
                <tr>
                    <th scope="col">Nakki</th>
                    <th scope="col">{{ 'Responsible'|trans }}</th>
                    <th scope="col">Channel</th>
                </tr>
            </thead>
            <tbody>
                {% for name, nakki in responsibles %}
                    {% if nakki.responsible %}
                        {% set r = nakki.responsible %}
                    {% else %}
                        {% set r = 'missing' %}
                    {% endif %}
                    <tr>
                        <th scope="col">{{ name }}</th>
                        <th scope="col">
                            {% if r == 'missing' %}
                                {{ r|trans }}
                            {% else %}
                                {{ r.username }}, {{ r.name }}, {{ r.phone }}, {{ r.email }}
                            {% endif %}
                        </th>
                        <th scope="col">
                            <a class="btn btn-success" target="_blank" href="{{ nakki.mattermost }}">
                                <twig:ux:icon name="link-out" /> Mattermost
                            </a>
                        </th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
{% block infos %}
{% set theme = event.theme == 'dynamic' ? (app.user ? app.user.member.theme : null) : event.theme %}
    {% for name, nakki in infos %}
        <h3>
            Nakki: {{ name }}
            {% if nakki.mattermost is not empty %}
                <a class="btn btn-secondary float-end"
                   target="_blank"
                   href="{{ nakki.mattermost }}">
                    <twig:ux:icon name="link-out" /> Mattermost
                </a>
            {% endif %}
        </h3>
        {% if nakki.responsible is not null %}
            {# {% set r = nakki.responsible %} #}
            {# <table class="table table-striped #} {# {% if event.headerTheme == 'dark' %} #} {# table-dark #} {# {% endif %} #} {# "> #}
            {# <thead> #}
            {# <tr> #}
            {# <th scope="col">{{ 'Username'|trans }}</th> #}
            {# <th scope="col">{{ 'Name'|trans }}</th> #}
            {# <th scope="col">{{ 'Phone'|trans }}</th> #}
            {# <th scope="col">Email</th> #}
            {# </tr> #}
            {# </thead> #}
            {# <tbody> #}
            {# <tr> #}
            {# <th scope="col">{{ r.username }}</th> #}
            {# <th scope="col">{{ r.name }}</th> #}
            {# <th scope="col">{{ r.phone }}</th> #}
            {# <th scope="col">{{ r.email }}</th> #}
            {# </tr> #}
            {# </tbody> #}
            {# </table> #}
        {% else %}
            <h5 class="text-warning">{{ 'Responsible'|trans }}: {{ 'missing'|trans }}</h5>
        {% endif %}
        {{ block('thead') }}
        {% for bookings in nakki.b %}
            {% for b in bookings %}
                {% if b.member is not null %}
                    <tr>
                        <th>{{ b.member.username }}</th>
                        <td>{{ b.member.name }}</td>
                        {% if not gdpr|default(false) %}
                            <td>{{ b.member.phone }}</td>
                            <td>{{ b.member.email }}</td>
                        {% endif %}
                        {% if event.nakkikone and event.nakkikone.requiresDifferentTimes %}
                            <td>
                                {{ b.startAt|date }}
                            </th>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1>{{ 'No permissions'|trans }}</h1>
{% endfor %}
{% endblock %}
{% block thead %}
        <table class="table table-striped {% if theme == 'dark' %}table-dark{% endif %} ">
        <thead>
            <tr>
                <th scope="col">{{ 'Username'|trans }}</th>
                <th scope="col">{{ 'Name'|trans }}</th>
                {% if not gdpr|default(false) %}
                    <th scope="col">{{ 'Phone'|trans }}</th>
                    <th scope="col">Email</th>
                {% endif %}
                {% if event.nakkikone and event.nakkikone.requiresDifferentTimes %}<th scope="col">Time</th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% endblock %}
