{% block sonata_media_type_widget %}
    <div class="row">
        <div class="col-12 col-md-4">
            {% if value is not empty and value.providerReference %}
                <div style="margin-right: 5px">
                    <div class="polaroid">
                        <img width="100%"
                             title="{{ name }}"
                             src="{{ sonata_path(value, 'square') }}">
                        <div class="caption">
                            <strong>{{ value.name }}</strong>
                        </div>
                    </div>
                </div>
            {% else %}
                <div style="margin-right: 5px">
                    <div class="polaroid">
                        <img src="{{ asset('images/thumb_artist_square.jpg') }}" style="width: 100%" title="Placeholder Image" />
                        <div class="caption">
                            <strong>{{ 'no_linked_media'|trans }}</strong>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <strong>{{ 'link_media'|trans }}</strong>
            {{ block('form_widget') }}
        </div>
    </div>
{% endblock sonata_media_type_widget %}
