{% extends 'base_layout.html.twig' %}
{% block sonata_page_container %}
    <div class="container e-container">
        <div class="content row">
            <header class="header">
                {{ sonata_page_render_container('header', 'global') }}
                {% include 'menu/menu.html.twig' %}
            </header>
            {% for label, messages in app.flashes %}
                <div class="col-md-12">
                {% for message in messages %}
                      <div class="alert alert-notice">
                         <h4><i class="fas fa-arrow-right"></i>  {{ message|trans }}</h4>
                      </div>
                {% endfor %}
                </div>
            {% endfor %}
            {% block page_content %}
                {% if content is defined %}
                    {{ content|raw }}
                {% else %}
                    {% set content = block('content') is defined ? block('content') : '' %}
                    {% if content|length > 0 %}
                        {{ content|raw }}
                    {% endif %}
                    {% if page is defined %}
                        {{ sonata_page_render_container('content', page) }}
                    {% endif %}
                {% endif %}
            {% endblock %}
        </div>

        <footer class="row mt-3">
            {{ sonata_page_render_container('footer', 'global') }}
        </footer>
    </div>
{% endblock %}
