{% extends 'base_layout.html.twig' %}
{% block sonata_page_container %}
    <div class="container">
        <div class="content row">
            <header class="col-12" id="header">
                {{ sonata_page_render_container('header', 'global') }}
            </header>
            <div class="col-12">
            {% block page_content %}
                {% if content is defined %}
                    {{ content|raw }}
                {% else %}
                    {% set content = block('content') is defined ? block('content') : '' %}
                    {% if content|length > 0 %}
                        {{ content|raw }}
                    {% elseif page is defined %}
                        {{ sonata_page_render_container('content', page) }}
                    {% endif %}
                {% endif %}
            {% endblock %}
            </div>
        </div>

        <footer class="row">
            {{ sonata_page_render_container('footer', 'global') }}
        </footer>
    </div>
{% endblock %}
