{% extends 'event.html.twig' %}
{% block title %}{{event.nameByLang(app.request.locale)}} | Entropy ry{% endblock %}
{% use 'pieces/ticket.html.twig' %}
{% use 'pieces/event.html.twig' %}
{% use 'pieces/nakkikone.html.twig' %}
{% block content %}
    {% if app.user %}
        {% set visible = true %}
    {% else %}
        {% set visible = app.user is null and event.published and (event.publishDate < date()) %}
    {% endif %}
    {% if event is not null and visible %}
    <div class="row">
        <div class="col">
            <a href="{{ block('event_path') }}">
                <h3 class="mt-2">{{ block('event_name') }} <span>{{ block('event_time') }}<span></h3>
            </a>
            {% if event.nakkikoneEnabled and event.requireNakkiBookingsToBeDifferentTimes|default(true) == false %}
                {% set show = true %}
                {% set hide_time = true %}
                {% set show_definition = true %}
                {% set allow_nakki_cancel = (ticket.status == 'available') %}
                {{ event.nakkiInfo(app.request.locale)|raw }}
                {% if hasNakki and ticket.status != 'available' %}
                {{ block('your_nakkis')}}
                {% else %}
                {{ block('reserve_nakkis')}}
                {% endif %}
                <hr>
            {% endif %}
            {{ block('ticket') }}
        </div>
    </div>
    {% else %}
        <div clas="col-12">
            <br>
            <h1 class="text-center">{{ 'event_not_found'|trans }}</h1>
            <br>
        </div>
    {% endif %}
{% endblock %}

