{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block show %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ 'Ticket'|trans }}: {{ ticket.owner }} - {{ ticket }}</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="change owner" class="btn mt-2 btn-primary">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

