{% use 'pieces/event.html.twig' %}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
<title>Entropy ry</title>
<link>
https://entropy.fi{% if locale == 'en' %}/en{% endif %}
</link>
<atom:link href="https://entropy.fi{{ path('rss_feed.' ~ locale) }}" rel="self" type="application/rss+xml" />
<description>{{ 'rss_desc'|trans }}</description>
<lastBuildDate>{{ 'now'|date('r') }}</lastBuildDate>
<language>{{ locale }}</language>
<image>
<url>https://entropy.fi/images/header-logo.svg</url>
<title>Entropy ry</title>
<link>https://entropy.fi{% if locale == 'en' %}/en{% endif %}</link>
</image>
{%- for event in events %}
    {% if locale == 'fi' %}
        {% set eventpath = 'entropy_event' %}
    {% else %}
        {% set eventpath = 'entropy_event_en' %}
    {% endif %}
    {% if event.externalUrl and event.url %}
        {% set link = event.url %}
    {% else %}
        {% set link = 'https://entropy.fi' ~ block('event_path') %}
    {% endif %}
    {% set guid = 'https://entropy.fi' ~ path(eventpath, {id: event.id}) %}
    <item>
        {% if event.type != 'announcement' %}
            <title>{{ event.nameAndDateByLang(locale)|escape }}</title>
        {% else %}
            <title>{{ event.nameByLang(locale)|escape }}</title>
        {% endif %}
        <link>{{ link }}</link>
        {% if event.Picture %}
        <enclosure url="https://entropy.fi{{ sonata_path(event.picture, 'banner') }}" type="{{ event.picture.contentType }}" length="0" />
        {% else %}
        <enclosure url="https://entropy.fi{{ asset('images/placeholders/' ~ event.type ~ '.webp') }}" type="image/webp" length="0" />
        {% endif %}
        <guid>{{ guid }}</guid>
        <pubDate>{{ event.updatedAt|date('r') }}</pubDate>
        <description>{{ event.abstract(locale) ?? event.abstractFromContent(locale) }}
        {% if event.updatedAt|date('Y') != '-0001' %}{{ 'updated'|trans }}: {{ event.updatedAt|date() }}{% endif %}
        </description>
        <category>{{ event.type|trans }}</category>
    </item>
{% endfor -%}
</channel>
</rss>
