{% use 'pieces/event.html.twig' %}
{% apply spaceless %}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" >
  <channel>
    <title>Entropy RSS</title>
    <link>https://entropy.fi{% if locale =='en' %}/en{% endif %}</link>
    <atom:link href="https://entropy.fi{{ path('rss_feed_'~locale) }}" rel="self" type="application/rss+xml" />
    <description>{{'rss_desc'|trans}}</description>
    <lastBuildDate>{{'now'|date('r') }}</lastBuildDate>
    <language>{{ locale }}</language>
    <image>
       <url>https://entropy.fi/images/header-logo.svg</url>
       <title>Entropy.fi</title>
       <link>https://entropy.fi{% if locale =='en' %}/en{% endif %}</link>
    </image>
    {% for event in events %}
        {% if locale == 'fi' %}
            {% set guid = 'https://entropy.fi' ~path('entropy_event',  {'id': event.id, 'updated': event.updatedAt|date('dmY') }) %}
        {% else %}
            {% set guid = 'https://entropy.fi' ~path('entropy_event_en',  {'id': event.id, 'updated': event.updatedAt|date('dmY') }) %}
        {% endif %}
        {% if event.externalUrl and event.url %}
            {% set link = event.url %}
        {% else %}
            {% set link = 'https://entropy.fi'~ block('event_path') %}
        {% endif %}
        <item>
            {% if event.type != 'announcement' %}
              <title>{{ event.nameAndDateByLang(locale)|escape }}</title>
            {% else %}
              <title>{{ event.nameByLang(locale)|escape }}</title>
            {% endif %}
          <link>{{ link }}</link>
          <guid>{{ guid }}</guid>
          <pubDate>{{ event.publishDate | date('r') }}</pubDate>
          <updated>{{ event.updatedAt | date('r') }}</updated>
          <description>{{ event.abstract(locale) }}</description>
          <category>{{ event.type|trans }}</category>
        </item>
    {% endfor %}
  </channel>
</rss>
{% endapply %}
