{% use 'pieces/event.html.twig' %}
{% apply spaceless %}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" >
  <channel>
    <title>Entropy RSS</title>
    <link>https://entropy.fi{% if locale =='en' %}/en{% endif %}</link>
    <atom:link href="https://entropy.fi{{ path('rss_feed_'~locale) }}" rel="self" type="application/rss+xml" />
    <description>{{'rss_desc'|trans}}</description>
    <lastBuildDate>{{'now'|date('r') }}</lastBuildDate>
    <language>{{ locale }}</language>
    <image>
       <url>https://entropy.fi/images/header-logo.svg</url>
       <title>Entropy.fi</title>
       <link>https://entropy.fi{% if locale =='en' %}/en{% endif %}</link>
    </image>
    {% for event in events %}
        {% if locale == 'fi' %}
        {% set guid = 'https://entropy.fi/tapahtuma' ~path('entropy_event',  {'id': event.id }) %}
        {% else %}
        {% set guid = 'https://entropy.fi/en/event' ~path('entropy_event_en',  {'id': event.id }) %}
        {% endif %}
    <item>
      <title>{{ event.name(locale)|escape }}</title>
      <link>https://entropy.fi{{ block('event_path') }}</link>
      <guid>{{ guid }}</guid>
      <pubDate>{{ event.publishDate | date('r') }}</pubDate>
      <description>{{ event.abstract(locale) }}</description>
      <category>{{ event.type|trans }}</category>
    </item>
    {% endfor %}
  </channel>
</rss>
{% endapply %}
