{% extends 'onecolumn.html.twig' %}
{% use 'pieces/product.html.twig' %}

{%- block title -%}
    {{- 'shop.title'|trans -}} | Entropy ry
{%- endblock -%}

{%- block meta -%}
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{- 'shop.description'|trans -}}">
    <meta property="og:title" content="{{- 'shop.title'|trans -}}">
    <meta property="og:description" content="{{- 'shop.description'|trans -}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{- app.request.uri -}}">
    <meta property="og:image" content="{{- asset('images/header-logo.svg') -}}">
    <meta property="twitter:image" content="{{- asset('images/header-logo.svg') -}}">
    <meta property="og:image:height" content="512">
    <meta property="og:image:width" content="512">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{- 'shop.title'|trans -}}">
    <meta name="twitter:description" content="{{- 'shop.description'|trans -}}">
    <meta name="twitter:url" content="{{- app.request.uri -}}">
{%- endblock -%}

{%- block content -%}
    <h1>{{- 'shop.title'|trans -}}</h1>
    <p>{{- 'shop.description'|trans -}}</p>

    {%- if form.products|length > 0 -%}
        {{- form_start(form) -}}
        <div class="col-12 col-sm-9 col-md-7 col-xl-6 m-auto">
            <div class="{% if app.user %}d-none{% endif %}">{{- form_row(form.email) -}}</div>
        </div>
        {%- for product_form in form.products -%}
            {% set product = product_form.vars.value.product %}
            {% set minus = inCheckouts[product.id]|default(0) %}
            {% set show_quantity = true %}
            {% set show_available = false %}
            {{ block('product_block') }}
        {%- endfor -%}
        <div class="col-12 col-sm-9 col-md-7 col-xl-6 m-auto">
            <input data-turbo="false"
                   type="submit"
                   class="btn btn-lg btn-primary float-end"
                   value="{{- 'shop.buy'|trans -}}" />
            {{- form_end(form) -}}
        </div>
    {%- else -%}
        <div class="alert alert-info">
            {{- 'shop.no_products'|trans -}}
        </div>
    {%- endif -%}
{%- endblock -%}
