{% extends 'onecolumn.html.twig' %}
{% block title %}
{{'profile.door.opener'|trans|capitalize }} | Entropy ry
{% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="{% if app.user.member.theme == 'dark' %}invert{%endif%}">
    <div class="mx-auto barcode" style="width:246px;">
        {{ barcode.1|raw }}
        <p class="text-center">Code: {{barcode.0}}</p>
    </div>
    </div>
    
    <hr>
    <h1>{{'profile.door.opener'|trans|capitalize }}</h1> 
    <p>{{ 'profile.door.last'|trans|capitalize }}: {{ status }}</p>
{% if member.isActiveMember and not member.denyKerdeAccess|default(false) %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="btn btn-primary" type="submit" value="{{'profile.door.open_the_door'|trans|capitalize}}" />
    {{ form_end(form) }}
    <ul class="fa-ul mt-3">
    {% for log in logs%}
    <li><span class="fa-li"><i class="fas fa-key"></i></span>
        {{ log.createdAt|date }} {{ log.member }}: {{log.message|default('profile.door.no_message')|trans}}
    </li>
    {% endfor %}
    </ul>
{% else %}
<h4>{{'profile.door.not_active_member'|trans }}</h4>
{% endif %}
</div>
{% endblock %}


