{% extends 'onecolumn.html.twig' %}

{% block content %}
<div class="col-md-12">
      {{ form_start(form) }}
		  <div class="form-row">
          {{ form_row(form.firstname, {'row_attr': {'class':'col-md-6'}}) }}
          {{ form_row(form.lastname, {'row_attr': {'class':'col-md-6'}}) }}
		  </div>
		  <div class="form-row">
          {{ form_row(form.email, {'row_attr': {'class':'col-md-6'}}) }}
          {{ form_row(form.phone, {'row_attr': {'class':'col-md-6'}}) }}
		  </div>
		  <div class="form-row">
              {{ form_row(form.username, {'row_attr': {'class':'col-md-6'}}) }}
              {{ form_row(form.CityOfResidence, {'row_attr': {'class':'col-md-6'}}) }}
		  </div>
          {{ form_row(form.StudentUnionMember) }}
          <a class="btn float-right btn-secondary" href="{{url('app_forgot_password_request') }}">{{ 'password-reset'|trans }}</a>
          {{ form_row(form.Submit, {'attr': {'class':'btn btn-primary'}}) }}
          {{ form_end(form) }}
</div>
{% endblock %} 
