{% extends 'onecolumn.html.twig' %}

{% block title %}{{ 'profile.epics.password_title'|trans }} | Entropy ry{% endblock %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ 'profile.epics.set_password'|trans }}</h1>
        <p class="text-muted">
            {{ 'profile.epics.password_page.description'|trans }}
            <br />
            {{ 'profile.epics.password_page.username_hint'|trans }}
        </p>

        <p><strong>{{ 'member.epics_username'|trans }}:</strong> <code>{{ epics_username }}</code></p>
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                {{ form_row(form.plainPassword.first, {row_attr: {class: 'col-md-6'}}) }}
                {{ form_row(form.plainPassword.second, {row_attr: {class: 'col-md-6'}}) }}
            </div>
            <div class="mt-3 d-flex gap-2">
                <a class="btn btn-secondary" href="{{ path('profile_edit') }}">{{ 'back'|trans|capitalize }}</a>
                <input class="btn btn-primary" type="submit" value="{{ 'profile.save'|trans|capitalize }}" />
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
