{% extends 'fullcolumn.html.twig' %}
{% block title %}{{ member.name }} | Entropy ry{% endblock %}
{% block content %}
    {% if not member.isActiveMember %}{# { sonata_block_render({'type':'entropy.block.door'}) } #}{% endif %}
    <div class="row">
        <div class="col-sm-4">
            {{ sonata_block_render({type: 'entropy.block.member.info'}) }}
            {{ sonata_block_render({type: 'entropy.block.compensations'}) }}
        </div>
        <div class="col-sm-8">
            {{ sonata_block_render({type: 'entropy.block.member.situation'}) }}
            {{ sonata_block_render({type: 'entropy.block.email_lists'}) }}
            {{ sonata_block_render({type: 'entropy.block.tickets'}) }}
        </div>
    </div>
{% endblock %}
