{% extends 'fullcolumn.html.twig' %}
{% block title %}{{ member.name }} | Entropy ry{% endblock %}
{% block content %}
    {% if not member.isActiveMember %}{# { sonata_block_render({'type':'entropy.block.door'}) } #}{% endif %}
    <div class="row">
        <div class="col-sm-4">
            {{ sonata_block_render({type: 'entropy.block.member.info'}) }}
            {{ sonata_block_render({type: 'entropy.block.compensations'}) }}
            <div class="box mt-3">
                <div class="box-header">
                    <h5 class="box-title">{{ 'profile.epics.title'|trans }}</h5>
                </div>
                <div class="box-body d-grid gap-2">
                    <span>
                    <twig:ux:icon name="image" />
                    {{ 'member.epics_username'|trans }}:
                    {% if member.epicsusername %}
                        {{ member.epicsusername }}
                    {% else %}
                        <em>{{ 'member.epics_username.not_set'|trans }}</em>
                    {% endif %}
                    </span>
                    <a class="btn btn-primary" href="{{ path('profile_epics_password') }}">{{ 'profile.epics.set_password'|trans }}</a>
                    <a class="btn btn-outline-primary" href="https://epics.entropy.fi" target="_blank" rel="noopener">{{ 'profile.epics.open'|trans }}</a>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            {{ sonata_block_render({type: 'entropy.block.member.situation'}) }}
            {# { sonata_block_render({type: 'entropy.block.email_lists'}) } #}
            {{ sonata_block_render({type: 'entropy.block.tickets'}) }}
        </div>
    </div>
{% endblock %}
