{% extends 'onecolumn.html.twig' %}
{% block content %}
    <div class="col-md-12">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row">
                {{ form_row(form.plainPassword.first, {'row_attr': {'class': 'col-md-6' }}) }}
                {{ form_row(form.plainPassword.second, {'row_attr': {'class': 'col-md-6' }}) }}
            </div>
            <input class="mt-2 btn btn-primary"
                   type="submit"
                   value="{{ 'profile.save'|trans|capitalize }}" />
        {{ form_end(form) }}
    </div>
{% endblock %}
