{% extends '@SonataAdmin/CRUD/base_list_flat_inner_row.html.twig' %}

{% block row %}
<div class="col-md-4">
    <span class="pull-left">
    {{ object|render_list_element(admin.list['name']) }} - {{ object|render_list_element(admin.list['bookingDate']) }}<br>
    <small>
    {% if object.retrieval and object.returning %}
        {{ object|render_list_element(admin.list['retrieval']) }} - {{ object|render_list_element(admin.list['returning']) }}<br>
    {% endif %}
    Renter: {{ object|render_list_element(admin.list['renter']) }} -
    {% if object.renterHash %}
    <a href="{{ path('entropy_tunkki_booking_hash', {'bookingid':object.id, 'renterid':object.renter.id, 'hash': object.renterHash}) }}">
        Stufflist for renter</a><br>
    {% endif %}
    {% if object.givenAwayBy %}
    Given Away by: {{ object.givenAwayBy }}</br>
    {% endif %}
    {% if object.ReceivedBy %}
    Recived by: {{ object.ReceivedBy }}</br>
    {% endif %}
    </small>
    </span>
</div>
<span class="col-md-{% if object.actualPrice %}6{% else %}8{%endif%}">
    {% if not object.renterConsent and object.actualPrice and not object.cancelled %}
    <span class="label label-warning">Needs Renters Consent</span><br>
    {% elseif object.renterConsent and object.actualPrice %}
    <span class="label label-success">Renters Consent</span><br>
    {% endif %}
    {% if object.cancelled %}
    <span class="label label-warning">Cancelled</span>
    {% else %}
        {% if not object.itemsReturned %}
            {% for item in object.items if item.needsFixing %}
                <a class="btn btn-sm" href="{{ path('admin_entropy_tunkki_item_event_list', {'id':item.id}) }}">
                    <i class="fa fa-medkit"></i>
                    {{ item.name }}
                </a>
            {% endfor %}
            {% for package in object.packages %}
                {% for item in package.itemsNeedingFixing %}
                    <a class="btn btn-sm" href="{{ path('admin_entropy_tunkki_item_event_list', {'id':item.id}) }}">
                        <i class="fa fa-medkit"></i>
                        {{ item.name }}
                    </a>
                {% endfor %}
            {% endfor %}
        {% else %}
        {%spaceless%}
        <span class="label label-success">Items Returned</span><br>
            {% if object.actualPrice %}
            <span class="label label-{% if object.invoiceSent %}success">Invoice{% else %}danger">Invoice not{% endif %} sent</span><br>
            <span class="label label-{% if object.paid %}success">Paid{% else %}danger">Not paid{% endif %}</span>
            {% endif %}
        {% endspaceless %}
        {% endif %}
    {% endif %}
</span>
{% if object.actualPrice and not object.cancelled %}
<div class="col-md-2">
    Ref. {{ object|render_list_element(admin.list['referenceNumber']) }}<br>
    Price: {{ object.actualPrice }}€<br>
</div>
{% endif %}
<style>
.label-group>.label:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}
.label-group>.label:nth-child(2) {
    border-radius: 0;
    margin-left: 0;
}
.label-group>.label:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}
</style>
{% endblock %}
