{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block sonata_admin_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ name }} - {{ date }}
                    <input type="button" value="Print" class="no-print btn pull-right" onClick="window.print()">
                </h1>
            </div>
            <div class="col-md-12">
            {% if packages %}
            <h3>Packages</h3>
            {% for package in packages %}
            <div class="checkbox">
                <label><input type="checkbox">{{ package }}:</label>
                <span class="pull-right">{{ package.rent }}€</span>
                {% for item in package.items %}
                <small>{{ item }}</small>{% if not loop.last %},{% endif %}
                {% endfor %}
            </div>
            {% endfor %}
            Subtotal: <span class="pull-right">{{ rent['packages'] }}€</span>
            </div>
            {% endif %}
            <div class="col-md-12">
            {% if items %}
            <h3>Items</h3>
            {% for item in items %}
                <div class="checkbox">
                    <label><input type="checkbox"> {{ item }}</label>
                    <span class="pull-right">{{ item.rent }}€</span>
                </div>
            {% endfor %}
            Subtotal: <span class="pull-right">{{ rent['items'] }}€</span>
            {% endif %}
            {% if accessories %}
            <h3>Accessories</h3>
            {% for item in accessories %}
                <div class="checkbox">
                <label><input type="checkbox"><span class="lead">{{item.count}}</span> X {{ item.name }}</label>
                <span class="pull-right">{{ item.name.compensationPrice }} €/pcs</span>
                </div>
            {% endfor %}
            Subtotal: <span class="pull-right">{{ compensation['accessories'] }}€</span>
            {% endif %}
            <hr>
            <div>Total (does not contain accessories): <span class="pull-right">{{ rent['total'] }}€</span></div>
            <div>Actual Total: <span class="pull-right">{{ rent['actualTotal'] }}€</span></div>
            </div>
        </div>
    </div>
<style>
@media print {
.icheckbox_square-blue, .iradio_square-blue { background: #fff !important; border: 1px solid #000 !important; }
}
</style>
{% endblock %}
