{% extends '@SonataAdmin/CRUD/base_show.html.twig' %}
{% block show %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    {{ name }} - {{ date }}
                    <input type="button"
                           value="Print"
                           class="no-print btn pull-right"
                           onClick="window.print()">
                </h1>
            </div>
            <div class="col-md-12">
                <h3>Items</h3>
                {{ block('tablehead') }}
                {% set package_list = object.packageSnapshots is defined and object.packageSnapshots|length > 0
                    ? object.packageSnapshots
                    : packages %}
                {% if package_list %}
                    {% for package in package_list %}
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        {{ package }}:
                                    </label>
                                    {% for item in package.items %}
                                        <small>{{ item }}</small>
                                        {% if not loop.last %},{% endif %}
                                    {% endfor %}
                                </div>
                            </td>
                            <td>
                                <span class="">{{ package.rent }}€</span>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% set item_list = object.itemSnapshots is defined and object.itemSnapshots|length > 0
                    ? object.itemSnapshots
                    : items %}
                {% if item_list %}
                    {% for item in item_list %}
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        {{ item }}
                                        {% if item.manufacturer or item.model %}
                                            (
                                            {% if item.manufacturer %}{{ item.manufacturer }}{% endif %}
                                            {% if item.manufacturer and item.model %}-{% endif %}
                                            {% if item.model %}{{ item.model }}{% endif %}
                                            )
                                        {% endif %}
                                    </label>
                                </div>
                            </td>
                            <td>
                                <span class="">{{ item.rent }}€</span>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% if accessories %}
            <h3>Accessories</h3>
            {{ block('acces_tablehead') }}
            {% for item in accessories %}
                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                                <span class="lead">{{ item.count }}</span> X {{ item.name }}
                            </label>
                        </div>
                    </td>
                    <td>
                        <span class="">{{ item.compensationPrice }}€/pcs</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
<hr style="border-top: 1px solid #222;">
<div>
    Items Total: <span class="pull-right">{{ rent['total'] }}€</span>
</div>
{% if object.accessoryPrice %}
    <div>
        Accessories Total: <span class="pull-right">{{ object.accessoryPrice }}€</span>
    </div>
{% endif %}
<hr style="border-top: 1px solid #222;">
{% if object.reasonForDiscount %}<div>Reason for Discount: {{ object.reasonForDiscount }}</div>{% endif %}
{% if rent['actualTotal'] %}
    <div>
        Actual Total: <span class="pull-right">{{ rent['actualTotal'] }}€</span>
    </div>
{% else %}
    <div>
        Sum: <span class="pull-right">{{ rent['total'] + object.accessoryPrice }}€</span>
    </div>
{% endif %}
<div>First day costs 100% of the total, next day is 50% of the total.</div>
</div>
</div>
</div>
<style>
@media print {
.icheckbox_square-blue, .iradio_square-blue { background: #fff !important; border: 1px solid #000 !important; }
}
</style>
{% endblock %}
{% block tablehead %}
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th style="width: 80%" scope="col">Name</th>
                <th scope="col">Rent</th>
            </tr>
        </thead>
        <tbody>
        {% endblock %}
        {% block acces_tablehead %}
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th style="width: 80%" scope="col">Name</th>
                        <th scope="col">Compensation</th>
                    </tr>
                </thead>
                <tbody>
                {% endblock %}
