{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block sonata_admin_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ name }} - {{ date }}
                    <input type="button" value="Print" class="no-print btn pull-right" onClick="window.print()">
                </h1>
            </div>
            <div class="col-md-12">

            {% if packages %}
            <h3>Packages</h3>
            {{ block('tablehead') }}
            {% for package in packages %}
                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox">{{ package }}:</label>
                            {% for item in package.items %}
                            <small>{{ item }}</small>{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <span class="">{{ package.rent }}€</span>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td>
                        Subtotal:
                    </td>
                    <td>
                        <span>{{ rent['packages'] }}€</span>
                    </td>
                </tr>
                </tbody>
            </table>
            {% endif %}
            {% if items %}
            <h3>Items</h3>
            {{ block('tablehead') }}
            {% for item in items %}
                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox"> {{ item }}
                                {% if item.manufacturer or item.model %}(
                                    {% if item.manufacturer %}
                                        {{ item.manufacturer }}
                                    {% endif %}
                                    {% if item.manufacturer and item.model %}-{% endif %}
                                    {% if item.model %}
                                        {{ item.model }}
                                    {% endif %}
                                    )
                                {% endif %}
                            </label>
                        </div>
                    </td>
                    <td>
                        <span class="">{{ item.rent }}€</span>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <td>
                        Subtotal:
                    </td>
                    <td>
                        <span>{{ rent['items'] }}€</span>
                    </td>
                </tr>
                </tbody>
            </table>
            {% endif %}
            {% if accessories %}
            <h3>Accessories</h3>
            {{ block('acces_tablehead') }}
            {% for item in accessories %}
                <tr>
                    <td>
                        <div class="checkbox">
                            <label><input type="checkbox"><span class="lead">{{ item.count }}</span> X {{ item.name }}</label>
                        </div>
                    </td>
                    <td>
                        <span class="">{{ item.name.compensationPrice }}€/pcs</span>
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% endif %}
            <hr style="border-top: 1px solid #222;">
            <div>Total (does not contain accessories): <span class="pull-right">{{ rent['total'] }}€</span></div>
            {% if rent['actualTotal'] %}
            <div>Actual Total: <span class="pull-right">{{ rent['actualTotal'] }}€</span></div>
            {% endif %}
            </div>
        </div>
    </div>
<style>
@media print {
.icheckbox_square-blue, .iradio_square-blue { background: #fff !important; border: 1px solid #000 !important; }
}
</style>
{% endblock %}

{% block tablehead %}
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Rent</th>
        </tr>
    </thead>
    <tbody>
{% endblock %}
{% block acces_tablehead %}
<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Compensation</th>
        </tr>
    </thead>
    <tbody>
{% endblock %}
