{% extends 'onecolumn.html.twig' %}
{% block sonata_page_javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('artist_signup') }}
{% endblock %}

{% block content %}
<div class="col-12">
    <div class="col-12">
        <p>{{ 'artist.explanation'|trans }}</p>       
{{ form_start(form) }}
{{ form_widget(form) }}
<input class="btn btn-primary" type="submit" value="{{'submit'|trans|capitalize}}">
{{ form_end(form) }}
    </div>
</div>
{% endblock %}
