{% extends event.template %}
{% block content %}
    <div class="col-12">
        <div class="col-12">
            <h3>
                {{ event.nameAndDateByLang(app.request.locale) }}
                {% if event.until %}- {{ event.until|date }}{% endif %}
            </h3>
            <h5>{{ 'event.form.sign_up.ends'|trans }}: {{ event.artistSignUpEnd|date }}</h5>
            <p>{{ 'event.form.sign_up.description'|trans }}.</p>
            {{ event.artistSignUpInfo(app.request.locale) |raw }}
            <hr>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input class="btn btn-primary"
                       data-turbo="false"
                       type="submit"
                       value="{{ 'event.form.sign_up.save'|trans }}">
                {% if form.vars.value.id is not null %}
                    <a href="{{ path('entropy_event_slug_artist_signup_delete', {'id': form.vars.value.id }) }}"
                       class="btn btn-warning float-end"
                       data-turbo="false">{{ 'event.form.sign_up.delete'|trans }}<a />
                    {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    {% endblock %}
