{% extends 'fullcolumn.html.twig' %}
{% use 'pieces/event.html.twig' %}
{% block title %}{{ artist }} {{'artist.streams'|trans }} | Entropy ry{% endblock %}
{% block content %}
  <div class="col-sm-12">
    <h1>{{ 'artist.streams_by'|trans }}: {{ artist }}</h1>
    <twig:ArtistStreams artist="{{ artist }}" />
  </div>
{% endblock %}
