{% if this.box|default(false) %}
    <div class="box">
        <div class="box-header">
            <h5>{{ 'block.bookings.bookings'|trans }}</h5>
        </div>
        <div class="box-body">
{% else %}
    <h5>{{ 'block.bookings.bookings'|trans }}</h5>
{% endif %}
<ul class="fa-ul">
    {% for booking in this.bookings %}
        <li>
            <span class="fa-li">
                {% if booking.BookingDate|date('U') > 'now-1day'|date('U') %}
                    <twig:ux:icon name="link" />
                {% else %}
                    <twig:ux:icon name="history" style="color:red" />
                {% endif %}
            </span>
            {% if is_granted('ROLE_ENTROPY_ADMIN_BOOKING_EDIT') or is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('admin_entropy_admin_booking_edit', {id: booking.id}) }}">{{ booking }}</a>
            {% else %}
                {{ booking }}
            {% endif %}
        </li>
    {% else %}
        {{ 'block.bookings.no_bookings'|trans }}
    {% endfor %}
</ul>
{% if is_granted('ROLE_ENTROPY_ADMIN_BOOKING_EDIT') or is_granted('ROLE_SUPER_ADMIN') %}
    <a class="btn btn-primary" href="{{ path('admin_entropy_admin_booking_list') }}">{{ 'block.bookings.manage'|trans }}</a>
{% else %}
    {{ 'block.bookings.help'|trans }}
{% endif %}
{% if this.box|default(false) %}
    </div>
</div>
{% endif %}
