{% extends 'onecolumn.html.twig' %}
{% block content %}
    <h1>{{ 'error.access_denied.title'|trans }}</h1>
    <p>
        {{ 'error.access_denied.description'|trans }}
        <a href="/">{{ 'error.return_home'|trans }}</a>.
    </p>
    <p>
        {{ 'error.try_again_hint'|trans }}
    </p>
    <p>
        <a href="{{ app.request.attributes.get('_route') ? path(app.request.attributes.get('_route'), (app.request.attributes.get('_route_params')|default({}))|merge(app.request.query.all)) : app.request.uri }}" class="btn">{{ 'error.try_again'|trans }}</a>
    </p>
{% endblock %}
