{% extends 'SonataAdminBundle:CRUD:base_list_flat_inner_row.html.twig' %}

{% block row %}
<div class="col-md-2">
{% set loaded = 1 %}
{% for file in object.files %}
    {% if file is defined and loaded %}
        {% if file.file.providerName == "sonata.media.provider.image" %}
            {% media file.file, 'small' %}
            {% set loaded = 0 %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if loaded %}
    <img src="/bundles/entropytunkki/images/logo.png" alt="noimg" />
{% endif %}
</div>
<div class="col-md-4">
    {{ object|render_list_element(admin.list['name']) }}
        {% if object.url is not empty %}
            <span class="pull-right"><a href="{{object.url}}">URL</a></span>
        {% endif %}<br>
        {% if object.category is not empty %}
            {% if object.category.parent is not empty %}
                {{ object.category.parent }} -
            {% endif %}
                {{ object.category }}
        {% endif %}
        <br>
    <small>
        {{ object.description|truncate(150) }}
    </small>
</div>
{% if object.rent %}
<div class="col-md-3">
{% else %}
<div class="col-md-6">
{% endif %}
        {% if not object.canBeRentedByCondition %}
        Condition  <span class="btn-danger pull-right">needs fixing</span><br>
        <hr style="margin: 2px">
        {% set fixh = object.fixinghistory|last %}
            {% if fixh %}
             <span>{{fixh.createdAt|date('d.m.Y')}}, {{fixh.creator}}: {{ fixh.description }}</span><br>
            {% endif %}
        {% endif %}
</div>
{% if object.rent %}
<div class="col-md-3">
        Rent info
        <span class="pull-right">{{ object.rent }} €</span>
		<hr style="margin: 2px">
        For:
        {% for who in object.whocanrent %}
            {{ who }}
        {% endfor %}
    <small>
        {{ object.rentnotice }}
    </small>
</div>
{% endif %}
{% endblock %}
