{% extends 'SonataAdminBundle:CRUD:base_list_flat_inner_row.html.twig' %}

{% block row %}
<div class="col-md-5">
    {{ object|render_list_element(admin.list['name']) }} - {{ object|render_list_element(admin.list['bookingDate']) }}<br>
    <small>
        {{ object|render_list_element(admin.list['retrieval']) }} - {{ object|render_list_element(admin.list['returning']) }}<br>
    Renter: {{ object|render_list_element(admin.list['renter']) }}<br>
    Given Away by: {{ object.givenAwayBy }}
    Recived by: {{ object.ReceivedBy }}
    </small>
</div>
<div class="col-md-5">
        {% for item in object.items %}
            {% if item.needsFixing %}
                <a class="btn btn-sm btn-danger" href="{{ path('admin_entropy_tunkki_item_edit', {'id':item.id}) }}">{{ item.name }} needs fixing</a>
            {% endif %}
        {% endfor %}
        {% for package in object.packages %}
            {% for item in package.itemsNeedingFixing %}
                <a class="btn btn-sm btn-danger" href="{{ path('admin_entropy_tunkki_item_edit', {'id':item.id}) }}">{{ item.name }} needs fixing</a>
            {% endfor %}
        {% endfor %}
</div>
<div class="col-md-2">
    Ref. {{ object|render_list_element(admin.list['referenceNumber']) }}<br>
    Paid: {{ object|render_list_element(admin.list['paid']) }}<br>
    Price: {{ object.actualPrice }}€<br>
</div>
{% endblock %}
