{% extends 'SonataAdminBundle:CRUD:base_list_flat_inner_row.html.twig' %}

{% block row %}
<div class="col-md-4">
	<span class="pull-left">
    {{ object|render_list_element(admin.list['name']) }} - {{ object|render_list_element(admin.list['bookingDate']) }}<br>
    <small>
	{% if object.retrieval and object.returning %}
        {{ object|render_list_element(admin.list['retrieval']) }} - {{ object|render_list_element(admin.list['returning']) }}<br>
	{% endif %}
    Renter: {{ object|render_list_element(admin.list['renter']) }}<br>
	{% if object.givenAwayBy %}
	Given Away by: {{ object.givenAwayBy }}</br>
	{% endif %}
	{% if object.ReceivedBy %}
	Recived by: {{ object.ReceivedBy }}</br>
	{% endif %}
    Returned: {{ object|render_list_element(admin.list['returned']) }}<br>
    </small>
	</span>
</div>
<span class="col-md-6 pull-left">
	{% if not object.paid and not object.returned %}
        {% for item in object.items %}
            {% if item.needsFixing %}
                <a class="btn btn-sm" href="{{ path('admin_entropy_tunkki_item_event_list', {'id':item.id}) }}">
					<i class="fa fa-medkit"></i>
					{{ item.name }}
				</a>
            {% endif %}
        {% endfor %}
        {% for package in object.packages %}
            {% for item in package.itemsNeedingFixing %}
                <a class="btn btn-sm" href="{{ path('admin_entropy_tunkki_item_event_list', {'id':item.id}) }}">
					<i class="fa fa-medkit"></i>
					{{ item.name }}
				</a>
            {% endfor %}
        {% endfor %}
	{% endif %}
</span>
<div class="col-md-2">
    Ref. {{ object|render_list_element(admin.list['referenceNumber']) }}<br>
    Paid: {{ object|render_list_element(admin.list['paid']) }}<br>
    Price: {{ object.actualPrice }}€<br>
</div>
{% endblock %}
