{% extends sonata_block.templates.block_base %}
{% block block %}
    <div class="box">
        <div class="box-header"
             data-bs-toggle="collapse"
             data-bs-target="#artistList">
            <h5 class="box-title btn-link">{{ 'artist.list'|trans }} ({{ count }})</h5>
        </div>
        <div class="box-body">
            <div id="artistList" class="box-body row collapse">
                {% for type, list in artists %}
                    <h4>{{ type }} ({{ list|length }})</h4>
                    <ul class="ms-4">
                        {% for artist in list %}
                            <li>
                                {{ artist.type }}: {{ artist.name }}
                                <a href="{{ path('entropy_public_artist.fi', {name: artist.name, id: artist.id}) }}">FI</a> |
                                <a href="{{ path('entropy_public_artist.en', {name: artist.name, id: artist.id}) }}">EN</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
