{% extends sonata_block.templates.block_base %}
{% use 'pieces/event.html.twig' %}
{% block block %}
<h2 class="col-md-12 pb-2 pt-2">{{'artist.profiles'|trans }}
    <a class="btn btn-primary" href="{{ url('entropy_artist_create') }}">{{'profile.add_new_artist'|trans|capitalize }} <i class="fas fa-plus"></i></a>
</h2>
 {% for artist in member.artist %}
<div class="col-12">
<div class="row">
<div class="col-sm-4">
    <div class="box">
        <div class="box-header">
            <h5 class="box-title">{{'artist.information'|trans}}</h5>
        </div>
        <div class="box-body">
            <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-user"></i></span>
                {{ artist.type }}: {{ artist.name }}
            </li>
            <li><span class="fa-li"><i class="fas fa-question"></i></span>
                {{'artist.form.genre'|trans}}: {{ artist.genre }}<br>
                {{'artist.form.hardware'|trans}}: {{ artist.hardware }}<br>
                {{'created_at'|trans }}: {{artist.createdAt|date('d.m.Y')}}<br>
                {{'updated_at'|trans }}: {{artist.updatedAt|date('d.m.Y')}}
            </li>
            </ul>
            <a class="btn btn-primary btn-large" href="{{ url('entropy_artist_edit',{'id':artist.id}) }}">{{ 'edit'|trans|capitalize }}</a>
            <a class="btn btn-secondary btn-large" onclick="return ConfirmDelete();" href="{{ url('entropy_artist_delete',{'id':artist.id}) }}">{{ 'delete'|trans|capitalize }}</a>
            <script>
            function ConfirmDelete()
            {
            return confirm("{{'Are you sure you want to delete?'|trans}}");
            }
            </script>
            <div class="pt-2">{{'events'|trans|capitalize}}:</div>
            <ul>
            {% for info in artist.eventArtistInfos %}
            <li><a href="{{ url('entropy_event_slug', {'year':info.event.eventDate|date('Y'),'slug': info.event.url})}}">{{ info.event }}</a>
                {% if info.StartTime %}
                @ {{ info.StartTime|date('H:i')}}
                {% else %}
                : {{ 'artist.not_confirmed_yet'|trans }}
                {% endif %}
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>        
</div>
<div class="col-sm-8">
    <div class="box">
        <div class="box-header">
            <h5 class="box-title">{{'preview'|trans}}</h5>
        </div>
        <div class="box-body row">
            <div class="col-sm-6">
                {{ block('artist_preview_info') }}
            </div>
            <div class="col-sm-6">
                {{ block('artist_pic')}}
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% else %}
<div class="col-md-12">{{ 'artist.no_artist_profile'|trans }}</div>
{% endfor %}
{% endblock %}
