{% extends sonata_block.templates.block_base %}
{% block block %}
    <div class="box">
        <div class="box-header">
            <h5 class="box-title">{{'artist.list'|trans}}</h5>
        </div>
        <div class="box-body row">
            <ul>
                {% for artist in artists|sort((a,b) => (a.type <=> b.type)) %}
            <li>{{ artist.type }}: {{ artist.name }}
                  <a href="{{path('entropy_public_artist.fi', {'name': artist.name}) }}">FI</a> |
                  <a href="{{path('entropy_public_artist.en', {'name': artist.name}) }}">EN</a>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
