{% extends sonata_block.templates.block_base %}
{% block block %}
    <div class="box">
        <div class="box-header">
            <h5 class="box-title">
                {{ 'block.items.title'|trans }} <a href="/korjattavat" class="float-right">{{ 'Full list'|trans }}</a>
            </h5>
        </div>
        <div class="box-body">
            {% if settings.bs3 ?? true %}
                {% for item in broken %}
                    <div class="box box-solid collapsed-box">
                        <div class="box-header">
                            <a href="{{ path('admin_app_item_show', {id: item.id}) }}">{{ item.name }}</a>
                            <div class="box-tools pull-right">
                                <a class="btn btn-default btn-sm"
                                   href="{{ path('admin_app_item_edit', {id: item.id}) }}">
                                    <twig:ux:icon name="fa6-solid:pen-to-square" /> edit
                                </a>
                                {% if item.fixingHistory is not empty %}
                                    <button class="btn btn-default btn-sm" data-widget="collapse">
                                        <twig:ux:icon name="fa6-solid:plus" /> Show Comments
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                        <div style="display: none;" class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {% if item.fixingHistory is not empty %}{{ item.getFixingHistoryMessages(5, 'html')|raw }}{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for item in broken %}
                    <div>
                        <span class="font-weight-bold">
                            {% if is_granted('ROLE_ENTROPY_TUNKKI_ADMIN_ITEM_ALL') or is_granted('ROLE_SUPER_ADMIN') %}
                                <a href="{{ path('admin_app_item_edit', {id: item.id}) }}">{{ item }}</a>
                            {% else %}
                                {{ item }}
                            {% endif %}
                        </span>
                        {% if item.fixingHistory is not empty %}: {{ item.getFixingHistoryMessages(1, 'html')|raw }}{% endif %}
                    </div>
                {% endfor %}
                {% if is_granted('ROLE_ENTROPY_TUNKKI_ADMIN_ITEM_ALL') or is_granted('ROLE_SUPER_ADMIN') %}
                    <a class="mt-2 btn btn-primary" href="{{ path('admin_app_item_list') }}">{{ 'block.bookings.manage'|trans }}</a>
                {% else %}
                    <div class="mt-2">{{ 'block.items.help'|trans }}</div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
