{% extends sonata_block.templates.block_base %}
{% block block %}
    <div class="box">
        <div class="box-header">
            <h5>{{'block.email_lists.name'|trans}}</h5>
        </div>
        <div class="box-body">
            <dl class="row">
            <dt class="col-8">{{'block.email_lists.tiedotus'|trans }}</dt>
            <dd class="col-4 text-right">
                <a class="btn btn-primary" href="https://list.ayy.fi/postorius/lists/tiedotus.entropy.fi/">{{'block.email_lists.control'|trans}}</a>
            </dd>
            <dt class="col-8">{{'block.email_lists.aktiivit'|trans }}</dt>
            <dd class="col-4 text-right">
                <a class="btn btn-primary" href="https://list.ayy.fi/postorius/lists/aktiivit.entropy.fi/">{{'block.email_lists.control'|trans}}</a>
            </dd>
            <dt class="col-8">{{'block.email_lists.vuokra'|trans }}</dt>
            <dd class="col-4 text-right">
                <a class="btn btn-primary" href="https://list.ayy.fi/postorius/lists/vuokra.entropy.fi/">{{'block.email_lists.control'|trans}}</a>
            </dd>
            </dl>
        </div>
    </div>
{% endblock %}
