{% extends sonata_block.templates.block_base %}
{% block block %}
<div class="box">
    <div class="box-header">
        <h5 class="box-title">{{'future_events'|trans}}</h5>
    </div>
    <div class="box-body">
        <ul>
        {% set name = 'name_attribute'|trans %}
        {% for event in events %}
            <li>
            <a href="
            {% if event.url %}
            {{ path('entropy_event_slug',{'slug': event.url, 'year': event.eventdate|date('Y')}) }}
            {% else %}
            {{ path('entropy_event',{'id': event.id}) }}
            {% endif %}">{{ attribute(event,name) }} - {{ event.eventDate|date() }}</a>
        {% else %}
            {{ 'stay_tuned'|trans}}
        {% endfor %}
        </ul>
    </div>
</div>        
{% endblock %}
