{% extends sonata_block.templates.block_base %}
{% block block %}
    {% if settings.box|default(false) %}
    <div class="box">
        <div class="box-header">
            <h5>{{'block.events.upcoming_events'|trans}}</h5>
        </div>
        <div class="box-body">
    {% else %}
    <div class="col">
        <h5>{{'block.events.future_events'|trans}}</h5>
    {% endif %}
        <ul class="fa-ul">
        {% set name = 'name_attribute'|trans %}
        {% for event in events %}
        <li><span class="fa-li"><i class="fas fa-link"></i></span>
            <a href="
            {% if event.url %}
            {{ path('entropy_event_slug',{'slug': event.url, 'year': event.eventdate|date('Y')}) }}
            {% else %}
            {{ path('entropy_event',{'id': event.id}) }}
            {% endif %}">{{ attribute(event,name) }} - {{ event.eventDate|date() }}</a>
            </li>
        {% else %}
        <li>
            <span class="fa-li">
                <i class="fas fa-exclamation"></i>
            </span> {{ 'stay_tuned'|trans}} 
        </li>
        <li>
            <span class="fa-li">
                <i class="fas fa-arrow-right"></i>
            </span> {{ 'block.future_events.checkout_old_events'|trans}} <a href="{{path('_page_alias_events_'~ app.request.locale)}}">{{'block.future_events.events'|trans}}</a>
        </li>
        {% endfor %}
        </ul>
    {% if settings.box|default(false) %}
        {% if is_granted('ROLE_ENTROPY_ADMIN_EVENT_EDIT') %}
        <a class="btn btn-primary" href="{{path('admin_app_event_list')}}">{{ 'block.events.manage'|trans }}</a>
        {% endif %}
        </div>
    </div>
    {% else %}
    </div>
    {% endif %}
{% endblock %}
