{% extends sonata_block.templates.block_base %}
{% block block %}
<div class="col-sm-4">
<div class="box">
    <div class="box-header">
        <h5 class="box-title">{{'membership_information'|trans}}</h5>
    </div>
    <div class="box-body">
        <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-user"></i></span>
            {{ member.name }}, {{ member.username }}
        </li>
        <li><span class="fa-li"><i class="fas fa-envelope"></i></span>
            {{ member.email }}
        </li>
        <li><span class="fa-li"><i class="fas fa-lock"></i></span>
            ********
        </li>
        <li><span class="fa-li"><i class="fas fa-phone"></i></span>
            {{ member.phone }}
        </li>
        <li><span class="fa-li"><i class="fas fa-city"></i></span>
            {{ member.CityOfResidence }}
        </li>
        <li><span class="fa-li"><i class="fas fa-language"></i></span>
            {{ member.locale|trans }}&nbsp;
        </li>
        <li><span class="fa-li"><i class="{% if member.StudentUnionMember %}far fa-check-square{%else%}far fa-square{%endif%}"></i></span>
            {{'Student union member'|trans}}
        </li>
        </ul>
        <a class="btn btn-primary btn-large" href="{{ url('entropy_profile_edit') }}">{{ 'edit'|trans|capitalize }}</a>
    </div>
</div>        
</div>
<div class="col-sm-8">
<div class="box">
    <div class="box-header">
        <h5 class="box-title">{{'membership_status'|trans}}</h5>
    </div>
    <div class="box-body">
        <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-trophy"></i></span>
        <div class="progress" style="height: 25px;">
            <div class="progress-bar" 
                role="progressbar" 
                style="width: {{member.ProgressP}}%" 
                aria-valuenow="{{member.ProgressP}}" 
                aria-valuemin="0" 
                aria-valuemax="100">{{member.ProgressP}}%</div>
        </div>
        <div>
        {{'you_need_at_least_25_procent_to_be_able_to_vote_in_our_association_meeting'|trans}},
        {{'100_procent_is_honorary_member'|trans}}
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" disabled {% if member %}checked{% endif %}>
            <label class="form-check-label" for="inlineCheckbox2">{{'Member'|trans}}, {{'since'|trans}} {{member.createdAt|date('d.m.Y')}}</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" disabled {% if member.isActiveMember %}checked{% endif %}>
            <label class="form-check-label" for="inlineCheckbox2">{{'Active member'|trans}}{% if member.ApplicationHandledDate %}, {{'since'|trans}} {{member.ApplicationHandledDate|date('d.m.Y')}}{% endif %}
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" disabled {% if member.isFullMember %}checked{% endif %}>
            <label class="form-check-label" for="inlineCheckbox2">{{'Full member'|trans}}</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled {% if member.AcceptedAsHonoraryMember %}checked{% endif %}>
            <label class="form-check-label" for="inlineCheckbox3">{{'HC member'|trans}}{% if member.AcceptedAsHonoraryMember %}, {{'since'|trans}} {{member.AcceptedAsHonoraryMember|date('d.m.Y')}}{% endif %}
            </label>
        </div>
        </span>
        </li>
        </ul>
    </div>
</div>
<div class="box">
    <div class="box-header">
        <h5 class="box-title">{{'paid_renting_rewards'|trans}}</h5>
    </div>
    <div class="box-body">
        {% for reward in member.user.rewards|reverse|slice(0,5) %}
            {% if reward.PaidDate %}
            {{ reward.PaidDate|date('d.m.Y') }}: {{ reward.Evenout }}€<br>
            {% else %}
            {{ 'next_reward_is_bubling_under'|trans }}<br>
            {% endif %}
        {% else %}
        {{'no_renting_rewards'|trans }}
        {% endfor %}
    </div>
</div>        
</div>
{% endblock %}
