{% apply spaceless %}
{% set loc = app.request.locale %}
{% set theme = 'light' %}
{% if event is defined %}
    {% if app.user %}
        {% set theme = event.headerTheme ? event.headerTheme : (app.user.member.theme ? app.user.member.theme : 'light') %}
    {% else %}
        {% set theme = event.headerTheme ? event.headerTheme : 'light' %}
    {% endif %}
    {% if event.url is not empty and not event.externalUrl %}
        {% set event_url = event.eventDate|date('Y')~"/"~ event.url ~"/" %}
    {% endif %}
{% else %}
    {% if app.user %}
    {% set theme = app.user.member.theme ? app.user.member.theme : 'light' %}
    {% endif %}
{% endif %}
<nav class="navbar navbar-expand-lg navbar-{{ theme }} g-4">
    <div class="container-fluid">
    <a class="navbar-brand d-lg-none d-inline-block" href="/{%if loc == 'en'%}en{% endif %}">
        <img src="{{ asset('/images/header-logo-text.svg') }}" 
            width="auto" height="45" alt="Entropy"
            {% if theme == 'dark' %}
                style="filter:invert(1);"
            {% endif %}
        >
    </a>
    <span class="d-lg-none">
        <a {% if loc == 'en'%}href="/{% if event_url is defined %}{{ event_url }}{% endif %}"{% endif %}>FI</a> |
           <a {% if loc == 'fi'%}href="/en/{% if event_url is defined %}{{ event_url }}{% endif %}"{% endif %}>ENG</a>
           {% if not app.user %}
           | <a href="{{ path('app_login')}}"><i class="fas fa-sign-in-alt"></i> {{'login'|trans|capitalize}}</a>
           {% endif %}
    </span>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
    {{ knp_menu_render(loc) }}
    <ul class="navbar-nav d-none d-lg-flex">
        {% if not app.user %}
            <li class="nav-item">
               <a class="nav-link" href="{{ path('app_login')}}"><i class="fas fa-sign-in-alt"></i> {{'login'|trans|capitalize}}</a>
            </li>
        {% endif %}
        <li class="nav-item{% if loc == 'fi'%} current{%endif%}">
            <a class="nav-link" data-turbo="false" href="/{% if event_url is defined %}{{ event_url }}{% endif %}">FI</a>
        </li>
        <li class="nav-item{% if loc == 'en'%} current{%endif%}">
           <a class="nav-link" data-turbo="false" href="/en/{% if event_url is defined %}{{ event_url }}{% endif %}">ENG</a>
        </li>
    </ul>
  </div>
</div>
</nav>
{% include 'menu/user_menu.html.twig' %}
{% endapply %}
