{% use 'pieces/event.html.twig' %}
{%- block menu %}
    <nav class="navbar navbar-expand-lg g-4">
        <div class="container-fluid">
            <a class="navbar-brand d-lg-none d-inline-block"
               href="/{% if app.request.locale == 'en' %}en{% endif %}">
                <img src="{{ asset('/images/header-logo-text.svg') }}" width="auto" height="45" alt="Entropy">
            </a>
            <span class="d-lg-none">
                {{ block('mobile_locale') }}
                {% if not app.user %}
                    | <a href="{{ path('app_login') }}"><twig:ux:icon name="fa6-solid:right-to-bracket" height="1em" width="1em" /> {{ 'login'|trans|capitalize }}</a>
                {% endif %}
            </span>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between"
                 id="navbarSupportedContent">
                {{ knp_menu_render(app.request.locale) }}
                <ul class="navbar-nav d-none d-lg-flex">
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">
                                <twig:ux:icon name="fa6-solid:right-to-bracket" height="1em" width="1em" /> 
                                {{ 'login'|trans|capitalize }}</a>
                        </li>
                    {% endif %}
                    {{ block('locale') }}
                </ul>
            </div>
        </div>
    </nav>
    {{ include('menu/user_menu.html.twig') }}
{% endblock -%}
{% block locale %}
    {% if app.request.locale == 'fi' %}
        <li class="nav-item current">
            <span class="nav-link">FI</span>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               href="{{ localized_url('en') }}">EN</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link"
               href="{{ localized_url('fi') }}">FI</a>
        </li>
        <li class="nav-item current">
            <span class="nav-link">EN</span>
        </li>
    {% endif %}
{% endblock %}
{%- block mobile_locale %}
    {% if app.request.locale == 'fi' %}
        <span>FI</span> |
        <a href="{{ localized_url('en') }}">EN</a>
    {% else %}
        <a href="{{ localized_url('fi') }}">FI</a> |
        <span>EN</span>
    {% endif %}
{% endblock -%}
