{% extends 'admin/crud/base_list_flat_inner_row.html.twig' %}

{% block row %}
    <div class="col-xs-12" style="border-bottom: 1px solid #a2a2a2">
        <span style="display: flex; justify-content: space-between;">
            <span style="font-size: 1.2em;">
            {% set artist = object.artist %}
            {{ artist.type }}: {{ artist.name }}, Previews:
                  <a href="{{path('entropy_public_artist.fi', {'name': artist.name}) }}">FI</a> |
                  <a href="{{path('entropy_public_artist.en', {'name': artist.name}) }}">EN</a>
            </span>
            <span style="font-weight: 800">
            Member: {{ object|render_list_element(admin.list['Artist.member']) }}
            </span>
        </span>
    </div>
    <div class="col-xs-2">
        {% if object.artist.Picture is not empty %}
            {{ sonata_media(object.artist.Picture, 'square') }}
        {% else %}
            <div style="width: 100%; padding-bottom: 100%; position: relative; text-align: center;">
                <div style="position: absolute; top: 50%; color: red;">NO PICTURE</div>
            </div>
        {% endif %}
    </div>
    <div class="col-xs-10">
    {% if object.StartTime %}
        <div>
            <div style="font-weight: 800">Time: {{ object.StartTime|date }}</div>
            Stage: {{ object.stage|default('No stage') }}<br>
            Hardware: {{ object.Artist.hardware }}
        </div>
    {% endif %}
        <span style="float: right; margin-left: 2em; padding: 5px; border-left: 1px solid #a2a2a2; border-bottom: 1px solid #a2a2a2;  ">
            <small>
                Links: {{ object|render_list_element(admin.list['ArtistClone.linkUrls']) }}<br>
                Genre: {{ object.Artist.genre }}<br>
                Hardware: {{ object.Artist.hardware }}<br>
                Wish for Play Time: {{ object.WishForPlayTime }}<br>
            </small>
        </span>
        <span>
            <p>{{ object.freeWord|raw }}</p>
        </span>
    </div>
{% endblock %}
