{% extends event.template %}
{% block title %}
    {% set title = event.NameByLang(app.request.locale) ~ ' - ' ~ event.EventDate|date('d.m.Y, H:i') %}
    {{ title }} - {{ 'Artists'|trans }} | Entropy ry
{% endblock %}
{% block content %}
    {% if app.user %}
        {% set visible = true %}
    {% else %}
        {# Replaced deprecated event.isPublished() usage with EventTemporalStateService #}
        {% set visible = app.user is null and eventTemporalState.isPublished(event) %}
    {% endif %}
    {% if event is not null and visible %}
        {% set frontpage = false %}
        <div class="row">
            <div class="col">
                {% if event.template == 'event.html.twig' %}
                    <h1 class="event-heading">
                        <a href="{{ block('event_path') }}">{{ block('event_name') }}</a>
                        — {{ 'event.section.artists'|trans }}
                    </h1>
                {% endif %}
                {% if event.ArtistInfosByType('DJ')|length > 0 %}
                    {% set input = template_from_string(event.contentForTwig(app.request.locale)) %}
                    <div class="content">
                        {{ block('content_artists', input) ?? '' }}
                    </div>
                    {{ block('bios') }}
                    {% if event.ArtistInfosByType('VJ')|length > 0 %}
                        {% if event.template == 'event.html.twig' %}
                            <h2 class="event-heading">
                                <a href="{{ block('event_path') }}">{{ block('event_name') }}</a>
                                — VJ {{ 'event.section.artists'|trans }}
                            </h2>
                        {% endif %}
                        {{ block('vj_bios') }}
                    {% endif %}
                    {% if event.ArtistInfosByType('ART')|length > 0 %}
                        {% if event.template == 'event.html.twig' %}
                            <h2 class="event-heading">
                                <a href="{{ block('event_path') }}">{{ block('event_name') }}</a>
                                — {{ 'event.section.artists'|trans }}
                            </h2>
                        {% endif %}
                        {{ block('art_bios') }}
                    {% endif %}
                    {% if event.template == 'event.html.twig' %}
                        {{ block('event_back_to_link') }}
                    {% endif %}
                {% else %}
                    <h1>{{ 'event.no_artists'|trans }}</h1>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
