{% extends event.template %}
{% block title %}{{ 'page.title.checkout'|trans }} | Entropy ry{% endblock %}
{% block javascripts %}
    <script src="https://js.stripe.com/v3/"
            data-turbo-track="reload"
            crossorigin="anonymous"></script>
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1 class="mb-4">
        {% if email %}
            {{ email }}
        {% else %}
            {{ 'page.title.checkout'|trans }}
        {% endif %}
    </h1>
    {% if email %}
        <p class="text-muted mb-4">
            {{ 'checkout.email.confirmation'|trans|default('We will use this email for your purchases.') }}
            <a class="ms-2" href="{{ path('entropy_event_shop', {year: event.eventDate|date('Y'), slug: event.url}) }}">
                {{ 'checkout.email.change'|trans|default('Change email') }}
            </a>
        </p>
    {% endif %}
    <div {{ stimulus_controller('stripe', {publicKey: publicKey, clientSecret: stripeSession.client_secret, time: time}) }}>
    </div>
{% endblock %}
