{% extends event.template %}
{% use 'pieces/event.html.twig' %}
{% block content %}
    <h1>{{ 'event.location.title'|trans }}:
        <a href="{{ block('event_path') }}">
            {{ block('event_name') }} ~ {{ block('event_time') }}
        </a>
    </h1>
    <div class="col-12 col-sm-9 col-md-7 col-xl-6 m-auto">
        {% set location = event.location %}
        {% if location and location.latitude is not empty %}
            {% set name = block('event_name') %}
            {% set time = block('event_time') %}
            {% set center = [location.latitude, location.longitude] %}
            {% set title = name ~ ' ~ ' ~ time %}
            {% set markers = [{
                position: [location.latitude, location.longitude],
                title: title,
                infoWindow: {
                    content: '<h3>' ~ title ~ '</h3>' ~ '<br>' ~ location.streetAddress,
                },
            }] %}
                <p>{{ 'event.location.description'|trans }}</p>
                <twig:ux:map
                    center="{{ center }}"
                    zoom="15"
                    markers="{{ markers }}"
                    class="foo"
                    style="height: 800px; width: 100%;"
                />
                <p>{{ location.streetAddress }}</p>
            <div class="mt-3 d-flex justify-content-between">
                {# reittiopas link #}
                {% set gps = '::' ~ event.location.latitude ~ ',' ~ event.location.longitude %}
                <a class="btn btn-outline-info"
                   href="https://reittiopas.hsl.fi/etusivu/-/{{ event.location.streetAddress|url_encode }}{{ gps|url_encode }}">
                    <twig:ux:icon name="location-dot" />
                    Reittiopas
                </a>
                {# google maps link #}
                <a class="btn btn-outline-info"
                     href="https://www.google.com/maps/dir/?api=1&destination={{ event.location.latitude|url_encode }},{{ event.location.longitude|url_encode }}">
                    <twig:ux:icon name="location-dot" />
                    Google Maps
                </a>
                {# openstreetmap link #}
                <a class="btn btn-outline-info"
                    href="https://www.openstreetmap.org/directions?engine=fossgis_osrm&route={{ event.location.latitude|url_encode }},{{ event.location.longitude|url_encode }}">
                    <twig:ux:icon name="location-dot" />
                    OpenStreetMap
                </a>
            </div>
        {% else %}
                <p>{{ 'event.location.not_found'|trans }}</p>
        {% endif %}
    </div>
{% endblock %}
