{% extends event.template %}
{% block content %}
    <h1 class="event-heading">
        <a href="{{ block('event_path') }}">{{ block('event_name') }}</a>
        — {{ 'event.section.safer_space'|trans }}
    </h1>
    {% set input = template_from_string(event.contentForTwig(app.request.locale)) %}
    <div class="content">
        {{ block('content_safer_space', input) ?? '' }}
    </div>
    {{ block('event_back_to_link') }}
{% endblock %}
