{% extends event.template %}
{% use 'pieces/event.html.twig' %}
{% use 'pieces/nakkikone.html.twig' %}
{% block content %}
    <a href="{{ block("event_path") }}">
        <h3>{{ 'Back to'|trans }}: {{ block("event_name") }} ~ {{ block("event_time") }}</h3>
    </a>
    {% if event.nakkikoneEnabled and event.requireNakkiBookingsToBeDifferentTimes == false %}
        {{ event.nakkiInfo(app.request.locale) |raw }}
        {% set show = true %}
        {% set hide_time = true %}
        {% set show_definition = true %}
        {% set allow_nakki_cancel = true %}
        {% if hasNakki %}
            {{ block("your_nakkis") }}
        {% else %}
            {{ block("reserve_nakkis") }}
        {% endif %}
    {% endif %}
    {% if form.products|length > 0 %}
        {{ form_start(form) }}
            {% for product_form in form.products %}
                {% set product = product_form.vars.value.product %}
                {% if inCheckouts[product.id] is defined %}
                    {% set minus = inCheckouts[product.id] %}
                {% endif %}
                <div class="col product mb-4" {{ stimulus_controller('product', {'max': product.max((minus|default(0) ))}) }}>
                    <div class="row">
                        <div class="col-12 pic text-center">
                            {% if product.picture %}
                                {{ sonata_media(product.picture, 'big', {'class': 'img-fluid w-100', 'title': product.name(app.request.locale) }) }}
                            {% endif %}
                        </div>
                        <div class="col-12 price">
                            <button {{ stimulus_action('product', 'callopse') }} class="p-0 text-darkblue text-uppercase d-flex justify-content-between rounded">
                                <h3 class="ps-4 pe-2 d-flex w-100 fw-bold justify-content-between align-items-center">
                                    <span>
                                        {% if app.request.locale == 'fi' %}
                                            {% if product.name(app.request.locale) is not null %}
                                                {{ product.name(app.request.locale) }}
                                                <br>
                                                <span class="fs-6 float-start">({{ product.nameEn }})</span>
                                            {% else %}
                                                {{ product.nameEn }}
                                            {% endif %}
                                        {% else %}
                                            {{ product.name(app.request.locale) }}
                                        {% endif %}
                                    </span>
                                    <span>{{ product.amount / 100 }}€</span>
                                </h3>
                                <span class="btn rounded-circle text-darkblue fs-4">
                                    <i class="fa fa-chevron-down" {{ stimulus_target('product', 'chevron') }}></i>
                                </span>
                            </button>
                        </div>
                        <div class="col-12 info" {{ stimulus_target('product', 'callopse') }}>
                            <div class="px-4">
                                <p>{{ product.description(app.request.locale) }}</p>
                            </div>
                            <div class="text-uppercase text-center fw-bold">{{ 'product.quantity'|trans }}</div>
                        </div>
                        <div class="col-12 quantity">
                            {% if not nakkiRequired %}
                                {{ block("quantity") }}
                            {% else %}
                                {% if hasNakki %}{{ block("quantity") }}{% endif %}
                            {% endif %}
                        </div>
                        <div style="height: 0px;overflow: hidden">{{ form_row(product_form) }}</div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-12">
                <div class="d-none">{{ form_row(form.email) }}</div>
                <label>{{ 'event.stripe.fee'|trans }}</label>
                <input data-turbo="false"
                       type="submit"
                       class="{% if not hasNakki %}disabled{% endif %} btn btn-lg btn-buy w-100"
                       value="{{ 'e30v.buy'|trans }}" />
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}
{% block quantity %}
    <div class="quantity-holder d-flex justify-content-center">
        {% if product.max(minus|default(0)) <= 0 %}
            {% set button = "btn-secondary disabled" %}
        {% else %}
            {% set button = "btn-primary" %}
        {% endif %}
        <button {{ stimulus_target('product', 'minus') }} {{ stimulus_action('product', 'minus') }} class="btn {{ button }} text-darkblue fs-4">
            <i class="fa fa-minus"></i>
        </button>
        <span class="number text-center w-100 fs-2 fw-bolder" {{ stimulus_target('product', 'quantity') }}>
            {% if product.max(minus|default(0)) <= 0 %}
                {{ 'product.sold_out'|trans }}
            {% else %}
                0
            {% endif %}
        </span>
        <button {{ stimulus_target('product', 'plus') }} {{ stimulus_action('product', 'plus') }} class="btn {{ button }} text-darkblue fs-4">
            <i class="fa fa-plus"></i>
        </button>
    </div>
{% endblock %}
