{% extends event.template %}
{% use 'pieces/event.html.twig' %}
{% use 'pieces/nakkikone.html.twig' %}
{% use 'pieces/product.html.twig' %}
{% block content %}
    <h1>{{ 'event.ticket.shop'|trans }}:
        <a href="{{ block('event_path') }}">
            {{ block('event_name') }} ~ {{ block('event_time') }}
        </a>
    </h1>
    {{ event.ticketInfo(app.request.locale)|default('<p>&nbsp;</p>')|raw }}
    {% if event.nakkiRequiredforTicketReservation and event.nakkikoneEnabled and event.requireNakkiBookingsToBeDifferentTimes == false %}
        {{ event.nakkiInfo(app.request.locale)|raw }}
        {% set show = true %}
        {% set hide_time = true %}
        {% set show_definition = true %}
        {% set allow_nakki_cancel = true %}
        {% if hasNakki %}
            {{ block('your_nakkis') }}
        {% else %}
            {{ block('reserve_nakkis') }}
        {% endif %}
    {% endif %}
    {% if form.products|length > 0 %}
        {{ form_start(form) }}
        <div class="col-12 col-sm-9 col-md-7 col-xl-6 m-auto">
            <div class="{% if app.user %}d-none{% endif %}">{{ form_row(form.email) }}</div>
            {# <label>{{ 'event.stripe.fee'|trans }}</label> #}
        </div>
        {% for product_form in form.products %}
            {% set product = product_form.vars.value.product %}
            {% set minus = inCheckouts[product.id]|default(0) %}
            {% set show_quantity = (not nakkiRequired) or (event.nakkiRequiredforTicketReservation and hasNakki) %}
            {% set show_available = false %}
            {{ block('product_block') }}
        {% endfor %}
        <div class="col-12 col-sm-9 col-md-7 col-xl-6 m-auto">
            {% if event.ticketTotalAmount %}
                {% set available = event.ticketTotalAmount - totalSold %}
                <p class="text-center mb-4">
                    {{ 'event.tickets.available'|trans }}
                    <strong>{{ available }} / {{ event.ticketTotalAmount }}</strong> 
                    {{ 'event.tickets.total_amount'|trans }}
                </p>
            {% endif %}
            <input data-turbo="false"
                    type="submit"
                    class="{% if event.nakkiRequiredforTicketReservation and not hasNakki %}disabled{% endif %} btn btn-lg btn-primary float-end"
                    value="{{ 'shop.buy'|trans }}" />
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}
