{% extends '@SonataAdmin/CRUD/base_list_flat_inner_row.html.twig' %}

{% block row %}
<div class="col-md-2">
{% set loaded = 1 %}
{% for file in object.files %}
    {% if file is defined and loaded %}
        {% if file.file.providerName == "sonata.media.provider.image" %}
            {{ sonata_media(file.file, 'small') }}
            {% set loaded = 0 %}
        {% endif %}
    {% endif %}
{% endfor %}
{% if loaded %}
    <img  class="hidden-xs hidden-sm" src="/images/logo.png" alt="noimg" />
{% endif %}
</div>
<div class="col-md-4">
    {{ object|render_list_element(admin.list['name']) }} {{ object.manufacturer }} {{ object.model }}
        {% if object.url is not empty %}
            <span class="pull-right"><a href="{{object.url}}">URL</a></span>
        {% endif %}<br>
        {% if object.category is not empty %}
            {% if object.category.parent is not empty %}
                {{ object.category.parent }} -
            {% endif %}
                {{ object.category }}
            <br>
        {% endif %}
    <small>
        {{ object.description|u.truncate(150) }}
    </small>
</div>
{% if object.rent %}
<div class="col-md-3">
{% else %}
<div class="col-md-6">
{% endif %}
        {% if object.needsFixing or object.toSpareParts or object.forSale or object.cannotBeRented%}
        Condition
        <span class="pull-right">
            {% if object.needsFixing %}
            <i class="fa fa-medkit" title="Needs Fixing!"></i>
            {% endif %}
            {% if object.toSpareParts %}
            <i class="fa fa-puzzle-piece" title="To Spare Parts!"></i>
            {% endif %}
            {% if object.cannotBeRented %}
            <i class="fa fa-ban" title="Cannot be rented!"></i>
            {% endif %}
            {% if object.forSale %}
            <i class="fa fa-euro" title="For Sale!"></i>
            {% endif %}
        </span>
        <hr style="margin: 2px">
        {% set fixh = object.fixinghistory|last %}
            {% if fixh %}
             <span>{{fixh.createdAt|date('d.m.Y')}}, {{fixh.creator}}: {{ fixh.description }}</span><br>
            {% endif %}
        {% endif %}
</div>
{% if object.rent %}
<div class="col-md-3">
    <div>
        Rent:
        <span class="pull-right">{{ object.rent }} €</span>
    </div>
    <div>
        Compensation:
        <span class="pull-right">{{ object.compensationPrice }} €</span>
    </div>
    <hr style="margin: 2px">
    <div>{% for who in object.whocanrent %}
        <span class="label label-default">{{ who }}</span>
    {% endfor %}</div>
    <small>
        {{ object.rentnotice }}
    </small>
</div>
{% endif %}
{% endblock %}
