{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}
{% block entropy_type_packages_widget %}
{% spaceless %}
    {%- for child in form %}
		{% set reserved,fix = false,false %}
        {% set package = form.vars.choices[child.vars.value].data %}
		{% if package.items is defined %}
			{% for item in package.items %}
				{% for itemBooking in item.rentHistory.toArray if itemBooking in bookings  %}
					{% set reserved = true %}
				{%endfor %}
				{% if item.needsFixing %}
					{% set fix = true %}
				{% endif %}
			{% endfor %}
			<div class="box box-solid collapsed-box">
				<div class="box-header {% if fix %}bg-warning{% endif %}" style="padding: 2px;{% if reserved %}opacity:0.5;{% endif %}">
					<span>
						{{ block('item') }}
					</span>
					<div class="box-tools pull-right">
						<button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-plus"></i> Show Contents</button>
					</div>
				</div>
				<div style="display: none;" class="box-body">
				<ul>
					{% for item in package.items %}
					<li>
						{% if item.needsFixing %}
							<i class="fa fa-medkit"></i>
						{% endif %}
						{{ item }}
					</li>
					{% endfor %} 
				</ul>
				Note: {{ package.notes }}
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		{% endif %}
    {% endfor -%}
{% endspaceless %}
{% endblock %}

{% block item %}
<div {{ block('widget_container_attributes') }}>
	{{- form_widget(child) -}}
	{{- form_label(child) -}}
</div> 
{% endblock %}

{% block entropy_type_items_widget %}
{% for key, category in categories %}
<div class="col-md-12">
	<h3>{{ key }}
	{% if loop.first %}
		<button id="pop" type="button" class="btn pull-right" data-toggle="popover" title="Color coding for the items" 
			data-content='<span style="opacity:0.3;">Greyed out</span> selections are in another booking.</br>
		<span style="color:brown;">redish</span> selections need fixing.</br>
		<span style="border: brown 1px dotted;">circled</span> are not allowed to be rented.</br></br>
		Any combination is possible.' data-placement="left">
		Help?</button>
		<script>
		$("#pop").popover({"html":true, });
		</script>
		{% endif %}</h3>
	<div id="masonry">
		{% for key2, cat in category %}
		{% if key2 %}
		<div class="item">
			<h4>{{ key2 }}</h4>
			{%- for child in form %}
				{% set item = form.vars.choices[child.vars.value].data %}
				{% set rentHistory = item.rentHistory.toArray %}
				{% if item.category == key2 %}
					<div style="
					{% if bookings is not empty %}
						{% for booking in bookings if booking in rentHistory %}
							opacity: 0.3;
						{% endfor %}
					{% endif %}
					{% if item.needsFixing %}
						color:brown;
					{% endif %}
					{% if item.cannotBeRented %}
						border: brown 1px dotted;
					{% endif %}
					">
					{{ block('item') }}
					</div>
				{% endif %}
			{% endfor -%}
		</div>
		{% endif %}
		{% endfor -%}
	</div>
</div>
{% endfor %}
{% endblock %}

