{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block entropy_type_packages_widget %}
	<div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
		{% set reserved = false %}
        {% set package = form.vars.choices[child.vars.value].data %}
		{% if package.items is defined %}
			{% for item in package.items %}
				{% for itemBooking in item.rentHistory.toArray if itemBooking in bookings  %}
					{% set reserved = true %}
				{%endfor %}
			{% endfor %}
			<div class="box box-solid collapsed-box">
				<div class="box-header" style="padding: 0px;{% if reserved %}opacity:0.5;{% endif %}">
					<span>
						{{- form_widget(child) -}}
						{{- form_label(child, {translation_domain: choice_translation_domain}) -}}
					</span>
					<div class="box-tools pull-right">
						<button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-plus"></i> Show Contents</button>
					</div>
				</div>
				<div style="display: none;" class="box-body">
				<ul>
					{% for item in package.items %}
						<li>{{ item }}</li>
					{% endfor %} 
				</ul>
				Note: {{ package.notes }}
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		{% endif %}
    {% endfor -%}
    </div> 
{% endblock %}

{% block item %}
	{{- form_widget(child) -}}
	{{- form_label(child) -}}
{% endblock %}

{% block entropy_type_items_widget %}
{% for key, category in categories %}
<div class="col-md-12">
	<h3>{{ key }}</h3>
	<div id="masonry">
		{% for key2, cat in category %}
		{% if key2 %}
		<div class="item">
			<h4>{{ key2 }}</h4>
			{%- for child in form %}
				{% set entity = form.vars.choices[child.vars.value].data %}
				{% set rentHistory = entity.rentHistory.toArray %}
				{% if entity.category == key2 %}
					{% if bookings is not empty %}
						{% for booking in bookings %}
							{% if booking in rentHistory %}
								<div style="opacity: 0.3;">	
									<div {{ block('widget_container_attributes') }}>
										{{- form_widget(child) -}}
										{{- form_label(child) -}}
									</div>
								</div>
							{% else %}
								<div {{ block('widget_container_attributes') }}>
									{{ block('item') }}
								</div>
							{% endif %}
						{% endfor %}
					{% else %}
						<div {{ block('widget_container_attributes') }}>
							{{ block('item') }}
						</div>
					{% endif %}
				{% endif %}
			{% endfor -%}
		</div>
		{% endif %}
		{% endfor -%}
	</div>
</div>
{% endfor %}
<style>
#masonry {
   line-height: 22px;
   -webkit-column-count: 3;
   -webkit-column-gap:   5px;
   -moz-column-count:    3;
   -moz-column-gap:      5px;
   column-count:         3;
   column-gap:           5px;
}
@media (max-width: 1400px) {
  #masonry {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1200px) {
  #masonry {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #masonry {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 500px) {
  #masonry {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
.item {
	height: auto;
}
</style>
{% endblock %}

