{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block choice_widget_expanded %}
   <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
        {% set entity = form.vars.choices[child.vars.value].data %}
		{% if entity.items is defined %}
        <div class="box box-solid collapsed-box">
            <div class="box-header" style="padding: 0px;">
                <span>
                    {{- form_widget(child) -}}
                    {{- form_label(child, {translation_domain: choice_translation_domain}) -}}
                </span>
                <div class="box-tools pull-right">
                    <button class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-plus"></i>Show Contents</button>
                </div>
            </div>
            <div style="display: none;" class="box-body">
            <ul>
                {% for item in entity.items %}
                    <li>{{ item }}</li>
                {% endfor %} 
            </ul>
            Note: {{ entity.notes }}
            </div><!-- /.box-body -->
        </div><!-- /.box -->
		{% endif %}
    {% endfor -%}
    </div> 
{% endblock %}

{% block item %}
	{{- form_widget(child) -}}
	{{- form_label(child) -}}
{% endblock %}

{% block entropy_type_items_widget %}
<div class="col-md-12">
{% for category in categories.children %}
<div class="col-md-4">
	<h4>{{ category }}</h4>
		{%- for child in form %}
			{% set entity = form.vars.choices[child.vars.value].data %}
			{% if entity.category == category or entity.category in category.children %}
			<div {{ block('widget_container_attributes') }}>
				{{ block('item') }}
			</div>
			{% endif %}
		{% endfor -%}
		</div>
	{% endfor %}
</div>
{% endblock %}

