{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block sonata_admin_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
			<h1>{{ name }} - {{ date }}</h1>
            {% if packages %}
            <h2>Packages</h2>
            {% for package in packages %}
                <h4>{{ package }}</h4>
                {% for item in package.items %}
                    <div class="checkbox">
                    <label><input type="checkbox"> {{ item }}</label>
                    </div>
                {% endfor %}
            {% endfor %}
            </div>
            {% endif %}
            <div class="col-md-12">
            {% if items %}
            <h2>Items</h2>
            {% for item in items %}
                <div class="checkbox">
                <label><input type="checkbox"> {{ item }}</label>
                </div>
            {% endfor %}
            {% endif %}
            {% if accessories %}
            <h2>Accessories</h2>
            {% for item in accessories %}
                <div class="checkbox">
                <label><input type="checkbox"><span class="lead">{{item.count}}</span> X {{ item.name }}</label>
                </div>
            {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
<style>
@media print {
.icheckbox_square-blue, .iradio_square-blue { background: #fff !important; border: 1px solid #000 !important; }
}
</style>
{% endblock %}
