{% extends 'event.html.twig' %}
{% block title %}{{ 'happening.edit'|trans }} | Entropy ry{% endblock %}
{% block content %}
    <div class="col-12">
        <h1>{{ 'happening.heading.edit'|trans }}: {{ happening.name(app.request.locale) }}</h1>
        {% if not happening.releaseThisHappeningInEvent %}<h2 class="text-warning">{{ 'happening.shown_only_to'|trans }} {{ app.user.member.username }}</h2>{% endif %}
        {{ form_start(form) }}
            <div class="row">
                {{ form_row(form.type) }}
                {{ form_row(form.time) }}
                <div class="col-6">
                    {{ form_row(form.nameFi) }}
                    {{ form_row(form.descriptionFi) }}
                </div>
                <div class="col-6">
                    {{ form_row(form.nameEn) }}
                    {{ form_row(form.descriptionEn) }}
                </div>
                {{ form_row(form.needsPreliminarySignUp, {row_attr: {class: 'my-2'}}) }}
                <div class="accordion">
                    <div class="accordion-item">
                        <div id="signups" class="accordion-collapse collapse {{ form.needsPreliminarySignUp.vars.data ? 'show' : '' }}">
                            <div class="row accordion-body">
                                <div class="col-md-6">
                                {{ form_row(form.maxSignUps) }}
                                {{ form_row(form.allowSignUpComments) }}
                                </div>
                                <div class="col-md-6">
                                {{ form_row(form.signUpsOpenUntil) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_row(form.needsPreliminaryPayment, {row_attr: {class: 'my-2'}}) }}
                <div class="accordion">
                    <div class="accordion-item">
                        <div id="payment" class="accordion-collapse collapse {{ form.needsPreliminaryPayment.vars.data ? 'show' : '' }}">
                            <div class="row accordion-body">
                                <div class="col-md-6">
                                    {{ form_row(form.priceFi) }}
                                    {{ form_row(form.paymentInfoFi) }}
                                </div>
                                <div class="col-md-6">
                                    {{ form_row(form.priceEn) }}
                                    {{ form_row(form.paymentInfoEn) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_widget(form) }}
            <input class="btn btn-primary"
                   data-turbo="false"
                   type="submit"
                   value="{{ 'happening.button.save'|trans }}">
        {{ form_end(form) }}
    </div>
{% endblock %}
