{% use 'pieces/rsvp.html.twig' %}
{% use 'pieces/ticket.html.twig' %}
{% block event_tile %}
    <div class="tile event_tile col-12 p-2">
        <a href="{{ block('event_path') }}">
            {{ block('rect_img') }}
            {% set badge = true %}
            <h5 class="my-2">{{ block('event_time_small') }}</h5>
            <h4>{{ block('event_name') }}</h4>
        </a>
        <div class="d-flex justify-content-between">
            {% if event.showNakkikoneLinkInEvent|default(false) and event.url and app.user %}
            <span class="pe-2">
                <a class="btn btn-primary" href="{{ path('entropy_event_slug_nakkikone', {'slug': event.url, 'year': event.eventdate|date('Y') }) }}">
                    {{"fas fa-tasks"|parse_icon }}
                    Nakkikone
                </a>
            </span>
            {% endif %}
            {% if event.artistSignUpNow and event.url and (event.showArtistSignUpOnlyForLoggedInMembers|default(false) == false or (event.showArtistSignUpOnlyForLoggedInMembers and app.user) )%}
                <a class="btn btn-primary" href="{{ path('entropy_event_slug_artist_signup', {'slug': event.url, 'year': event.eventdate|date('Y') }) }}">
                    {{"fas fa-tasks"|parse_icon }}
                    {{'Artist signup'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block event %}
    {% if event.url is null and event.externalUrl %}
        {{ block('event_head_frontpage') }}
    {% else %}
        <a href="{{ block('event_path') }}">
        {{ block('event_head_frontpage') }}
        </a>
    {% endif %}
    <small>{{ block('published_and_updated') }}</small>
    {% if event.picture is not null and event.picturePosition == 'right' %}
    <div class="row">
        <div class="col-md-8 order-1 order-md-0">
        {{ block('event_frontpage_content')}}
        </div>
        <div class="col-md-4 order-0 order-md-1">
        {{ block('event_media') }}
        </div>
    </div>
    {% else %}
        {{ block('event_frontpage_content')}}
    {% endif %}
{% endblock %}

{% block event_head_reverse %}
    {{ block('event_banner_media') }}
    <small>{{ block('published_and_updated') }}</small>
    <h2 class="mt-2">{{ block('event_name') }} ~ <span class="">{{ block('event_time') }}<span></h2>
{% endblock %}

{% block event_path %}
{% apply spaceless %}
    {% if event.url and not event.externalUrl %}
        {{ path('entropy_event_slug',{'slug': event.url, 'year': event.eventdate|date('Y')}) }}
    {% else %}
        {% if app.request.locale == 'fi' %}
        {{ path('entropy_event',{'id': event.id}) }}
        {% else %}
        {{ path('entropy_event_en',{'id': event.id}) }}
        {% endif %}
    {% endif %}
{% endapply %}
{% endblock %}

{% block published_and_updated %}
    {{ 'released'|trans }}: {{ event.publishDate|date() }}
    {% if event.updatedAt and event.updatedAt|date('Y') != '-0001' %}
        {% if event.publishDate < event.updatedAt %} -- {{ 'updated'|trans }}: {{event.updatedAt|date }}
    {% endif %}
    {% endif %}
{% endblock %}

{% block event_head_frontpage %}
    <h3 class="mt-2">{{ block('event_name') }} ~ <span>{{ block('event_time') }}<span></h3>
    {{ block('event_banner_media') }}
{% endblock %}

{% block event_name %}
{% set name_attr = 'name_attribute'|trans %}
  {{ attribute(event, name_attr) }}
  {% if event.cancelled %}*{{ 'cancelled'|trans }}*{%endif%}
  {% if event.sticky and app.user %}<i style="font-size: 1rem;" class="fas fa-thumbtack float-end"></i>{% endif %}
{% endblock %}

{% block event_time_badge %}
<span class="badge bg-info text-wrap float-end" style="font-size:0.8rem"
    {{ stimulus_controller('moment') }}
     data-moment-date-value="{{ event.eventDate|date('c') }}"
     data-moment-target="badge"
     data-moment-refresh-interval-value="1000"
     data-moment-locale-value="{{ app.request.locale }}"
     ></span>
{% endblock %}
{% block event_time %}
  {% if event.type != 'announcement' %}
    {% if event.multiday %}
        {{ event.eventdate|date('j') }} - {{ event.until|date('j.n.Y') }}
    {% else %}
        {{ event.eventdate|date() }}
    {% endif %}
  {% endif %}
{% endblock %}
{% block event_time_small %}
  {% if event.type != 'announcement' %}
    {% if event.multiday %}
        {{ event.eventdate|date('j') }} - {{ event.until|date('j.n.Y') }}
    {% else %}
        {{ event.eventdate|format_datetime(pattern='E, d.M. @ HH:mm') }}
    {% endif %}
    {% if badge|default(false) %}
        {{ block('event_time_badge') }}
    {% endif %}
  {% endif %}
{% endblock %}

{% block event_banner_media %}
    {% if event.picture is not null and event.picturePosition == 'banner' %}
    {{ block('event_media') }}
    {% endif %}
{% endblock %}

{% block event_content %}
{% set frontpage = false %}
{% apply spaceless %}
{% set content_attr = 'content_attribute'|trans %}
{{ attribute(event,content_attr)|replace({
    '{{ timetable }}': block('timetable'),
    '{{ bios }}': block('bios'),
    '{{ streamplayer }}': block('streamplayer'),
    '{{ vj_bios }}': block('vj_bios'),
    '{{ links }}':block('links'),
    '{{ rsvp }}':block('RSVP'),
    '{{ ticket }}':block('ticket_for_event_page')
})|raw }}
{% if '{{ links }}' not in attribute(event,content_attr) %}
    {{ block('links') }}
{% endif %}
{% endapply %}
{% endblock %}

{% block event_frontpage_content %}
{% set frontpage = true %}
{% apply spaceless %}
{% set content_attr = 'content_attribute'|trans %}
{{ attribute(event,content_attr)|replace({
    '{{ timetable }}': block('timetable'),
    '{{ streamplayer }}': block('streamplayer'),
    '{{ bios }}':'',
    '{{ vj_bios }}':'',
    '{{ links }}':'',
    '{{ ticket }}':block('ticket_for_frontpage'),
    '{{ rsvp }}':block('RSVP')
})|raw }}
{{ block('links') }}
{% endapply %}
{% endblock %}

{% block rect_img %}
    {% set rect = true %}
    {{ block('event_media') }}
{% endblock %}

{% block event_badge %}
    <div class="badge-container">
        {% if event.badgeText == 'event.now'%}
        <span class="shadow badge bg-success">{{ event.badgeText|trans }}</span>
        {% elseif event.badgeText == 'event.after'%}
        <span class="shadow badge bg-danger">{{ event.badgeText|trans }}</span>
        {% else %}
        <span class="shadow badge bg-secondary">{{ event.badgeText|trans }}</span>
        {% endif %}
    </div>
{% endblock %}
{% block event_img_title %}
    {% apply spaceless %}
    {{ event.badgeText|trans ~':'~ block('event_name') ~ block('event_time') }}
    {% endapply %}
{% endblock %}
{% block event_media %}
    {% if event.picture is not null %}
        {% set name_attr = 'name_attribute'|trans %}
        {% if event.picture.providername == 'sonata.media.provider.file' and event.picture.contentType == 'video/mp4' %}
            {% if rect|default(false) %}
                <div class="rect-img-container">
                    <div class="rect-img">
            {% else %}
                <div class="img-fluid">
            {% endif %}
                    <video autoplay loop muted inline width="100%">
                    <source src="{{ sonata_path(event.picture, 'reference') }}" type="video/mp4">
                    </video>
                </div>
                {% if rect|default(false) %}
                {{ block('event_badge') }}
                </div>
                {% endif %}
        {% else %}
        <div class="
            {% if event.picture.providername == 'sonata.media.provider.youtube' %}
                video-fluid
            {% else %}
                img-filter
                {% if rect|default(false)%}
                    rect-img-container
                {% endif %}
            {% endif %}"
             {{ block('imgfilter') }}
            >
            {% if rect|default(false)%}
                {% set class = 'rect-img' %}
            {%else%}
                {% set class = 'img-fluid' %}
            {%endif%}
            {{ sonata_media( event.picture, 'banner', {'srcset': ['small', 'normal', 'banner'],
                'loading': 'lazy',
                'style': event.imgFilterBlendMode,
                'class': class,
                'title': block('event_img_title')
                } ) }}
            {% if rect|default(false)%}
            {{ block('event_badge') }}
            {%endif%}
        </div>
        {% endif %}
    {% else %}
        <div class="rect-img-container">
            <img class="rect-img" src="/images/header-logo.svg" title="{{ block('event_img_title') }}">
            {% if rect|default(false)%}
            {{ block('event_badge') }}
            {%endif%}
        </div>
    {% endif %}
{% endblock %}

{% block imgfilter %}
{% if event.imgFilterColor and event.imgFilterBlendMode %}
    style="background: {{event.imgFilterColor}};"
{% endif %}
{% endblock %}

{% block links %}
{% if event.attachment %}
<div class="mb-2">
<a href="{{ path('sonata_media_download', {'id': event.attachment.id}) }}">
    <i class="fas fa-link"></i>
    {{ event.attachment.name }}
</a>
</div>
{% endif %}
{% if event.epics is not empty or event.links.urls|length > 0 or (event.showNakkikoneLinkInEvent|default(false) and app.user) or event.includeSaferSpaceGuidelines or event.artistSignUpNow or (event.webMeetingUrl is not empty and event.EventDate >= date('now-8hours')) %}
<div>
<hr>
    {% for keys in event.links %}
        {% for url in keys %}
        <span class="pe-2">
            <a {% if url.open_in_new_window|default(false) %}target="_blank"{% endif %} href="{{ url.url }}">
                <i class="{{ url.icon }}"></i>
                {{ url.title|trans }}
            </a>
        </span>
        {% endfor %}
    {% endfor %}
    {% if event.epics %}
    <span class="pe-2">
        <a href="{{ event.epics }}">
            <i class="fas fa-image"></i>
            Epics
        </a>
    </span>
    {% endif %}
    {% if event.webMeetingUrl %}
    <span class="pe-2">
        {% if event.EventDate|date_modify('-8hours')|date('U') < 'now'|date('U') and event.EventDate|date_modify('+2hours')|date('U') > 'now'|date('U')%}
        <a href="{{ event.webMeetingUrl }}">
            <i class="fas fa-laptop"></i>
            {{'Join remotely'|trans }}
        </a>
        {% elseif event.EventDate|date_modify('-8hours') > date('now')%}
        <a>
            <i class="fas fa-laptop"></i>
            {{'Join remotely'|trans }}
        </a>
        {% endif %}
    </span>
    {% endif %}
    {% if event.includeSaferSpaceGuidelines %}
    <span class="pe-2">
        {% if app.request.locale =='fi' %}
            <a href="/turvallisemman-tilan-periaatteet">
                <i class="fas fa-hand-holding-heart"></i>
                Turvallisemman tilan periaatteet
            </a>
        {%else%}
            <a href="/en/safer-space-guidelines">
                <i class="fas fa-hand-holding-heart"></i>
                Safer space guidelines
            </a>
        {% endif %}
    </span>
    {% endif %}
    {% if event.artistSignUpNow and event.url and (event.showArtistSignUpOnlyForLoggedInMembers|default(false) == false or (event.showArtistSignUpOnlyForLoggedInMembers and app.user) )%}

    <span class="pe-2">
        <a href="{{ path('entropy_event_slug_artist_signup', {'slug': event.url, 'year': event.eventdate|date('Y') }) }}">
            {{"fas fa-tasks"|parse_icon }}
            {{'Artist signup'|trans }}
        </a>
    </span>
    {% endif %}
    {% if event.showNakkikoneLinkInEvent|default(false) and event.url and app.user %}
    <span class="pe-2">
        <a href="{{ path('entropy_event_slug_nakkikone', {'slug': event.url, 'year': event.eventdate|date('Y') }) }}">
            {{"fas fa-tasks"|parse_icon }}
            Nakkikone
        </a>
    </span>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block timetable %}
{% set last = null %}
{% if event.DjArtistInfos|length > 0 %}
{% if event.multiday == true %}
    {% set datestring = 'E, HH:mm' %}
{% else %}
    {% set datestring = 'HH:mm' %}
{% endif %}
<div class="row">
{% for stage, infos in event.DjArtistInfos %}
    {% if event.DjArtistInfos|length > 1 %}
    <div class="col-md-6">
    {% else %}
    <div class="col-12">
    {% endif %}
    <h4 class="artists-heading">
        {{'Timetable'|trans}} {% if stage|length>1 %}@ {{stage}}{% endif %}
    </h4>
    <ul>
    {% for info in infos %}
        {% set name = info.artist.name %}
        {% set artist = info.artistClone %}
        {% if last is defined %}
            {% if info.timediff(last) > 4 and event.multiday %}
                <hr>
            {% endif %}
            {% if last != info.StartTime %}
                <li>{{info.StartTime|format_datetime(pattern=datestring)}}:
            {% endif %}
        {% endif %}
        {% if info.StartTime is not empty %}
            {% if last is defined %}
                {% if last == info.StartTime %}
                B2B
                {% endif %}
            {% endif %}
            <a href="{% if frontpage %}{{ path('entropy_event_slug',{'slug': event.url, 'year': event.eventdate|date('Y')}) }}{% endif %}#{{ name }}">{{ name }}</a> {% if artist.type == 'Live' %}(Live){% endif %}
        {% endif %}
        {% set last = info.StartTime %}
        {% if last is defined %}
            {% if last != info.StartTime %}
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
    </div>
{% endfor %}
</div>
{% endif %}
{% endblock %}

{% block vj_bios %}
{% set bio_attribute = 'bio_attribute'|trans %}
    {% set stage = null %}
    {% for info in event.eventArtistInfos %}
        {% if info.StartTime is not empty %}
            {% if info.stage != stage %}
            <h3 class="artists-heading text-center">
                {{'Artists'|trans}} {% if info.stage %}@ {{info.stage}}{% endif %}
            </h3>
            {% endif %}
            {% set name = info.artist.name %}
            {% if info.artistClone is null %}
                {% set artist = info.artist %}
            {% else %}
                {% set artist = info.artistClone %}
            {% endif %}
            {% if artist.type =='VJ' %}
                {{ block('cycle') }}
                {% set stage = info.stage %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block cycle %}
{% set thecycle = loop.index0 is odd ? 'odd' : 'even' %}
{% if thecycle == 'even' %}
<div id="{{ name }}" class="col-md-12 pt-3 pb-3">
    <div class="row">
        <div class="col-md-5 order-last order-md-first pt-3 pt-md-0">
            {{ block('artist_event_info') }}
        </div>
        <div class="col-md-7 order-first order-md-last">
            {{ block('artist_pic') }}
        </div>
    </div>
</div>
{% else %}
<div id="{{ name }}" class="col-md-12 pt-3 pb-3">
    <div class="row">
        <div class="col-md-7 order-first">
            {{ block('artist_pic') }}
        </div>
        <div class="col-md-5 order-last pt-3 pt-md-0">
            {{ block('artist_event_info') }}
        </div>
    </div>
</div>
{% endif %}
{% if not loop.last %}
<hr class="d-md-none">
{% endif %}
{% endblock %}

{% block bios %}
    {% set stage = null %}
    {% for info in event.eventArtistInfos %}
        {% if info.StartTime is not empty %}
            {% if info.stage != stage %}
            <h3 class="artists-heading text-center">
                {{'Artists'|trans}} {% if info.stage %}@ {{info.stage}}{% endif %}
            </h3>
            {% endif %}
            {% set name = info.artist.name %}
            {% if info.artistClone is null %}
                {% set artist = info.artist %}
            {% else %}
                {% set artist = info.artistClone %}
            {% endif %}
            {% if artist.type !='VJ' %}
                {{ block('cycle') }}
                {% set stage = info.stage %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block artist_event_info %}
{% set bio_attribute = 'bio_attribute'|trans %}
{% set content_attr = 'content_attribute'|trans %}
{% set show = true %}
{% if event is defined and event.multiday == true %}
    {% set datestring = 'E, HH:mm' %}
{% else %}
    {% set datestring = 'HH:mm' %}
{% endif %}
{% if event is defined and ('{{ timetable }}' not in attribute(event,content_attr)) %}
    {% set show = false %}
{% endif %}
{% if frontpage is defined and frontpage %}
    {% set show = false %}
{% endif %}
<h3>{{ name }} {% if artist.type == 'Live' %}(Live) {% endif %}
    {% if artist.type != 'VJ' %}
        {% if info is defined and show %}
            @ {{info.StartTime|format_datetime(pattern=datestring)}}
        {% endif %}
    {% endif %}
</h3>
    <small>{{ artist.genre }}</small>
    <div>{{ attribute(artist, bio_attribute) }}</div>
    {{ block('artist_links') }}
{% endblock %}

{% block artist_pic %}
    {% if name is not defined %}
        {% set name = artist.name %}
    {% endif %}
    <span class="{% if frontpage|default(false) %}rect-img{%else%}polaroid{% endif %}">
    {% if artist.Picture %}
    <img width="100%" loading="lazy" title="{{name}}" src="{{ sonata_path(artist.Picture, 'square') }}">
    {% else %}
    <img width="100%" loading="lazy" title="{{name}}" src="{{ asset('images/thumb_artist_square.jpg') }}">
    {% endif %}
    <div class="caption">{{ name }}</div>
    </span>
{% endblock %}

{% block artist_preview_info %}
{% set bio_attribute = 'bio_attribute'|trans %}
    <h3>{{ artist.name }}</h3>
    <small>{{ artist.genre }}</small>
    <div>{{ attribute(artist, bio_attribute) }}</div>
    {{ block('artist_links') }}
{% endblock %}

{% block artist_links %}
    {% if artist.links is not empty %}
        <hr>
        {% for link in artist.links %}
        <span><a {% if link.open_in_new_window|default(false) %}target="_blank"{% endif %}
         href="{{ link.url }}"><i class="{{link.icon}}"></i> {{link.title}}</a>
        </span>{% if not loop.last %} |{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block public_artist_info %}
    {% set name = artist.name %}
    {% set bio_attribute = 'bio_attribute'|trans %}
    <div id="{{ name }}" class="col-md-12 pt-3">
        <div class="row">
            <div class="col-md-5 order-sm-last order-md-first">
                {{ block('artist_event_info') }}
            </div>
            <div class="col-md-7 order-sm-first order-md-last">
                {{ block('artist_pic') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block streamplayer %}
{% if event.streamPlayerUrl and event.NowTest == 'now' %}
    <div class="ckeditor-html5-audio" style="text-align: center;">
        <audio controls="controls" controlslist="nodownload" src="{{ event.streamPlayerUrl }}">&nbsp;</audio>
    </div>
{% elseif event.streamPlayerUrl and event.NowTest == 'before'  %}
    <div class="ckeditor-html5-audio" style="text-align: center; border: #aaa solid; margin: 0 auto; width: 60%">
        {{ 'event.player.will_appear_here_when_the_stream_is_on'|trans }}: {{ event.eventDate|date }}
    </div>
{% elseif event.streamPlayerUrl and event.NowTest == 'after'  %}{% endif %}
{% endblock %}
