{% use 'pieces/rsvp.html.twig' %}
{% use 'pieces/ticket.html.twig' %}
{% use 'pieces/happening.html.twig' %}
{% use 'pieces/timetable.html.twig' %}
{% use 'pieces/bio.html.twig' %}

{%- block menu -%}
{% set theme = event.headerTheme ? event.headerTheme : 'light' %}
<nav class="navbar navbar-expand-lg navbar-{{ theme }}">
    <div class="container">
        <a class="navbar-brand d-lg-none" href="{{ block('event_path') }}">{{ 'Menu'|trans }}</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#eventContent"
                aria-controls="eventContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="eventContent">
            <ul class="navbar-nav w-100 d-flex justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="{{ block('event_path') }}">{{ 'Home'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#venue">{{ 'Venue'|trans|capitalize }}</a>
                </li>
                {% if event.ArtistInfosByType('DJ')|length > 0 %}
                <li class="nav-item">
                    <a class="nav-link" href="#timetable">{{ 'Timetable'|trans|capitalize }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ block('event_path_artists') }}">{{ 'Artists'|trans|capitalize }}</a>
                </li>
                {% endif %}
                {% if event.allowMembersToCreateHappenings %}
                    <li class="nav-item">
                        <a class="nav-link" href="#happening_list">{{ 'happening.happenings'|trans|capitalize }}</a>
                    </li>
                {% endif %}
                {% if tickets|length > 0 %}
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{{ path('entropy_event_tickets.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) }}">
                            {% if event.nakkiRequiredForTicketReservation %}
                                {{ 'ticket.and_nakki'|trans }}
                            {% else %}
                                {{ 'ticket.your_tickets'|trans }}
                            {% endif %}
                        </a>
                    </li>
                {% endif %}
                {% if event.includeSaferSpaceGuidelines %}
                    {% if app.request.locale == 'fi' %}
                        {% set url = '/turvallisemman-tilan-periaatteet' %}
                    {% else %}
                        {% set url = '/en/safer-space-guidelines' %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url }}">{{ 'event.safer_space'|trans|capitalize }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{%- endblock -%}
{% block event_tile %}
    {% set currentMember = app.user ? app.user.member : null %}
    {% set eventInPast = eventTemporalState.isInPast(event) %}
    {% set presaleOpen = eventTemporalState.isPresaleOpen(event) %}
    {% set signupLinkVisible = eventTemporalState.canShowSignupLink(event, currentMember) %}
    <div class="tile event_tile col-12 p-2">
        <a {% if event.externalUrl %}data-turbo="false"{% endif %}
           href="{{ block('event_path') }}">
            {{ block('event_frontpage_media') }}
            {% set badge = true %}
            <h5 class="my-2">{{ block('event_time_small') }}</h5>
            <h4>{{ block('event_name') }}</h4>
        </a>
        <div class="d-inline-flex gap-2 flex-wrap">
            {% if presaleOpen and event.url and not eventInPast %}
                <a class="btn btn-primary"
                    href="{{ path('entropy_event_shop.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) }}">
                    <twig:ux:icon name="ticket" />
                    {{ 'ticket.to_ticket_shop'|trans }}
                </a>
            {% endif %}
            {% if event.showNakkikoneLinkInEvent|default(false) and event.url and app.user and not eventInPast %}
                <a class="btn btn-primary"
                    href="{{ path('entropy_event_slug_nakkikone.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) }}">
                    <twig:ux:icon name="tasks" />
                    Nakkikone
                </a>
            {% endif %}
            {% if not eventInPast and signupLinkVisible and event.url %}
                <a class="btn btn-primary"
                   href="{{ path('entropy_event_slug_artist_signup.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) }}">
                    <twig:ux:icon name="register" />
                    {{ 'Artist signup'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block event_head %}
    {{ block('event_banner_media') }}
    {% if '{{ menu }}' in event.contentForTwig(app.request.locale) %}
        {{ block('menu') }}
    {% else %}
        <small>{{ block('published_and_updated') }}</small>
    {% endif %}
    <h1 class="event-name">
        {{ block('event_name') }}
        {% if event.type != 'announcement' %}~ <span class="event_time">{{ block('event_time') }}</span>{% endif %}
    </h1>
    {% if '{{ menu }}' in event.contentForTwig(app.request.locale) %}
        <small>{{ block('published_and_updated') }}</small>
    {% endif %}
{% endblock %}
{% block event_path %}
{% if event.url and not event.externalUrl -%}
    {{ path('entropy_event_slug.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) }}
{%- else -%}
    {{ path('entropy_event.' ~ app.request.locale, {id: event.id}) }}
{%- endif %}
{% endblock %}
{% block event_path_shop %}
    {% if event.url and not event.externalUrl %}
        {{- path('entropy_event_shop.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) -}}
    {% endif %}
{% endblock %}
{% block event_path_info %}
    {% if event.url and not event.externalUrl %}
        {{- path('entropy_event_info.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) -}}
    {% endif %}
{% endblock %}
{% block event_path_safer_space %}
    {% if event.url and not event.externalUrl %}
        {{- path('entropy_event_safer_space.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) -}}
    {% endif %}
{% endblock %}
{% block event_path_artists -%}
    {% if event.url and not event.externalUrl %}
        {{- path('entropy_event_artists.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) -}}
    {% endif %}
{% endblock %}
{%- block event_path_timetable -%}
    {% if event.url and not event.externalUrl %}
        {{ path('entropy_event_timetable.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) }}
    {% endif %}
{%- endblock %}
{% block published_and_updated -%}
    {{ 'released'|trans }}: {{ event.publishDate|date() }}
    {% if event.updatedAt -%}
        {%- if event.publishDate < event.updatedAt %}-- {{ 'updated'|trans }}: {{ event.updatedAt|date }}{% endif -%}
    {%- endif %}
    {%- if event.published == false -%}
        --
        <span class="only_for_members">
            <twig:ux:icon name="hidden" />{{ 'event.only_for_members'|trans }}
        </span>
    {%- endif %}
{%- endblock %}
{%- block event_name -%}
    {{- event.nameByLang(app.request.locale) -}}
    {% if event.cancelled %}*{{ 'cancelled'|trans }}*{% endif %}
{%- endblock -%}
{% block event_time_badge %}
    <span class="badge text-black bg-info text-wrap float-end" style="font-size:0.8rem" {{ stimulus_controller('moment') }} data-moment-date-value="{{ event.eventDate|date('c') }}" data-moment-target="badge" data-moment-refresh-interval-value="1000" data-moment-locale-value="{{ app.request.locale }}"></span>
{% endblock %}
{%- block event_time -%}
    {%- if event.type != 'announcement' -%}
        {%- if event.multiday -%}
            {{- event.eventdate|date('j') -}}. - {{- event.until|date('j.n.Y') -}}
        {%- else -%}
            {{- event.eventdate|date() -}}
        {%- endif -%}
    {%- endif -%}
{%- endblock -%}
{% block event_time_small %}
    {% if event.type != 'announcement' %}
        {% if event.multiday %}
            {{ event.eventdate|date('j') }} - {{ event.until|date('j.n.Y') }}
        {% else %}
            {{ event.eventdate|format_datetime(pattern: 'E, d.M. @ HH:mm') }}
        {% endif %}
        {% if badge|default(false) %}{{ block('event_time_badge') }}{% endif %}
    {% endif %}
{% endblock %}
{% block event_banner_media %}
    {% if event.picturePosition == 'banner' %}{{ block('event_media') }}{% endif %}
{% endblock %}
{%- block event_content %}
    {% set frontpage = false %}
    {% if event.picture is not null and event.picturePosition == 'right' %}
        <div class="ms-md-4 mb-md-4 float-end col-12 col-md-6">{{ block('event_media') }}</div>
    {% endif %}
    <div class="event-text-content">
        {{ render_tokens(event.contentForTwig(app.request.locale))|markdown_to_html|raw }}
        {% if '{{ links }}' not in event.contentForTwig(app.request.locale) %}
            {{ block('links') }}
        {% endif %}
    </div>
{% endblock -%}
{% block event_badge %}
    {% set badgeKey = eventTemporalState.badgeKey(event) %}
    <div class="badge-container text-end">
        {{ block('event_icons') }}
        {% if date() >= event.EventDate and date() <= event.until %}
            <span class="shadow badge bg-success">{{ 'event.now'|trans }}</span>
        {% elseif badgeKey == 'event.after' %}
            <span class="shadow badge bg-danger">{{ badgeKey|trans }}</span>
        {% else %}
            <span class="shadow badge bg-secondary">{{ badgeKey|trans }}
                {% if event.published == false %}| {{ 'event.only_for_members'|trans }}{% endif %}
            </span>
        {% endif %}
    </div>
{% endblock %}
{% block event_icons %}
    <div>
        {% if event.streamPlayerUrl or event.type == 'stream' %}
            <span class="shadow badge bg-secondary" title="{{ 'event.badge.stream'|trans }}">
                <i style="rotate: -90deg; margin-right: -5px" class="fa fa-wifi"></i>
                <i style="rotate: 90deg; margin-left: -5px" class="fa fa-wifi"></i>
            </span>
        {% endif %}
        {% if event.webMeetingUrl %}
            <span class="shadow badge bg-secondary" title="{{ 'event.badge.web'|trans }}">
                <twig:ux:icon name="globe" />
            </span>
        {% endif %}
        {% if event.location %}
            {% if event.type == 'clubroom' or event.location.id == 1 %}
                <span class="shadow badge bg-secondary" title="{{ 'event.badge.clubroom'|trans }}">
                    <twig:ux:icon name="house" />
                </span>
            {% else %}
                <span class="shadow badge bg-secondary" title="{{ event.location.name }}" >
                    <twig:ux:icon name="location-dot" />
                </span>
            {% endif %}
        {% endif %}
        {% if event.type == 'meeting' %}
            <span class="shadow badge bg-secondary" title="{{ 'event.badge.meeting'|trans }}">
                <twig:ux:icon name="comments" />
            </span>
        {% endif %}
        {% if event.type == 'clubroom' or event.type == 'event' or event.type == 'stream' %}
            <span class="shadow badge bg-secondary" title="{{ 'event.badge.music'|trans }}">
                <twig:ux:icon name="music" />
            </span>
        {% endif %}
        {% if event.type == 'announcement' %}
            <span class="shadow badge bg-secondary" title="{{ 'event.badge.announcement'|trans }}">
                <twig:ux:icon name="bullhorn" />
            </span>
        {% endif %}
    </div>
{% endblock %}
{%- block event_img_title -%}
    {% set badgeKey = eventTemporalState.badgeKey(event) %}
    {{- badgeKey|trans ~ ': ' ~ block('event_name') ~ ' ' ~ block('event_time') -}}
{%- endblock -%}
{% block event_frontpage_media %}
    {% if event.picture is not null %}
        {% set aspect = event.picture.width / event.picture.height %}
        {% if aspect >= 1.20 %}
            {% set containerClass = 'rect-img-container i16by9' %}
            {% set class = 'rect-img' %}
        {% elseif aspect > 0.85 and aspect < 1.20 %}
            {% set containerClass = 'rect-img-container' %}
            {% set class = 'rect-img' %}
        {% elseif aspect <= 1.20 %}
            {% set containerClass = 'img-container' %}
            {% set class = 'img-fluid' %}
        {% endif %}
    {% else %}
        {% set containerClass = 'rect-img-container i16by9' %}
        {% set class = 'rect-img' %}
    {% endif %}
    {% if event.picture and event.picture.providername == 'sonata.media.provider.file' and event.picture.contentType == 'video/mp4' %}
        <div class="rect-img-container i16by9">
            <div class="rect-img">
                <div class="img-fluid">{{ block('video_media') }}</div>
                {{ block('event_badge') }}
            </div>
        </div>
    {% else %}
        {% if event.picture and event.picture.providername == 'sonata.media.provider.youtube' %}
            {% set containerClass = 'video-fluid' %}
        {% else %}
            {% set containerClass = containerClass ~ ' img-filter' %}
        {% endif %}
        {% set applyFilter = event.imgFilterBlendMode and (event.picture is null or (event.picture.providername != 'sonata.media.provider.youtube' and not (event.picture.providername == 'sonata.media.provider.file' and event.picture.contentType == 'video/mp4'))) %}
        <div class="{{ containerClass }}" {% if applyFilter %}style="--img-filter-color: {{ event.imgFilterColor }}; --img-filter-mode: {{ event.imgFilterBlendMode|replace({'mix-blend-mode:': ''})|replace({';': ''})|trim }};"{% endif %}>
            {{ block('img') }}
            {{ block('event_badge') }}
        </div>
    {% endif %}
{% endblock %}
{% block video_media %}
    <video autoplay loop muted inline width="100%">
        <source src="{{ sonata_path(event.picture, 'reference') }}" type="video/mp4">
    </video>
{% endblock %}
{% block event_media %}
    {% if event.picture and event.picture.providername == 'sonata.media.provider.file' and event.picture.contentType == 'video/mp4' %}
        <div class="img-fluid">{{ block('video_media') }}</div>
    {% else %}
        {% set applyFilter = event.imgFilterBlendMode and (event.picture is null or (event.picture.providername != 'sonata.media.provider.youtube' and not (event.picture.providername == 'sonata.media.provider.file' and event.picture.contentType == 'video/mp4'))) %}
        <div class="{% if event.picture and event.picture.providername == 'sonata.media.provider.youtube' %}video-fluid{% elseif applyFilter %}img-filter{% else %}{% endif %}" {% if applyFilter %}style="--img-filter-color: {{ event.imgFilterColor }}; --img-filter-mode: {{ event.imgFilterBlendMode|replace({'mix-blend-mode:': ''})|replace({';': ''})|trim }};"{% endif %}>
            {% set class = 'img-fluid w-100 ' ~ event.picturePosition %}
            {{ block('img') }}
        </div>
    {% endif %}
{% endblock %}
{% block img %}
    {% if loop is defined and loop.first %}
        {% set lazy = false %}
    {% else %}
        {% set lazy = true %}
    {% endif %}
    {% if event.picture is not null %}
        <twig:ProgressiveImage
            :media="event.picture"
            :sizes="{
                'small': '(max-width: 480px)',
                'normal': '(max-width: 768px)',
                'banner': '(min-width: 769px)'
            }"
            :placeholder="sonata_path(event.picture, 'placeholder')"
            :class="class"
            :alt="block('event_img_title')"
            :title="block('event_img_title')"
            :lazy="lazy"
        />
    {% else %}
        {{ block('placeholder_img') }}
    {% endif %}
{% endblock %}
{% block placeholder_img %}
    {% set online = '' %}
    {% if event.type == 'meeting' and not event.location and event.webMeetingUrl %}
        {% set online = '-online' %}
    {% endif %}
    <picture>
        <source type="image/webp"
                srcset="{{ asset('images/placeholders/' ~ event.type ~ online ~ '.webp') }}">
        <source type="image/png"
                srcset="{{ asset('images/placeholders/' ~ event.type ~ online ~ '.png') }}">
        <img loading="{% if loop is defined and loop.first %}eager{% else %}lazy{% endif %}"
             class="{{ class }}"
             src="{{ asset('images/placeholders/' ~ event.type ~ online ~ '.png') }}"
             title="{{ block('event_img_title') }}">
    </picture>

{% endblock %}
{%- block links -%}
{% if event.attachment %}
<div class="mb-2">
    <a href="{{ path('sonata_media_download', {id: event.attachment.id}) }}">
        <twig:ux:icon name="link" />{{ event.attachment.name }}
    </a>
</div>
<hr>
{% endif %}
<div class="d-flex flex-wrap justify-content-between event-link-list"
     style="gap: 0.5rem 0">
    {% if event.location %}
    <span>
        <a class="btn btn-outline-info"
           href="{{ path('entropy_event_location.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) }}">
            <twig:ux:icon name="location-dot" />
            {{ 'map'|trans }}
        </a>
    </span>
    {% endif %}
    {% for keys in event.links %}
        {% for url in keys %}
        <span>
            <a class="btn btn-outline-info"
               {% if url.open_in_new_window|default(false) %}target="_blank"{% endif %}
               href="{{ url.url }}">
                <twig:ux:icon name="{{ url.icon|default('link') }}" />
                {{ url.title|trans }}
            </a>
        </span>
        {% endfor %}
    {% endfor %}
    {% if event.epics %}
    <span>
        <a class="btn btn-outline-info" href="{{ event.epics }}">
            <twig:ux:icon name="images" height="1em" width="1em" />
            Epics
        </a>
    </span>
    {% endif %}
    {% if event.webMeetingUrl %}
        {% if event.EventDate|date_modify('-8hours')|date('U') < 'now'|date('U') and event.EventDate|date_modify('+2hours')|date('U') > 'now'|date('U') %}
        <span>
            <a class="btn btn-outline-info" href="{{ event.webMeetingUrl }}">
                <twig:ux:icon name="laptop" />
                {{ 'Join remotely'|trans }}
            </a>
        </span>
        {% elseif event.EventDate|date_modify('-8hours') > date('now') %}
        <span>
            <a class="btn btn-outline-info">
                <twig:ux:icon name="laptop" />
                {{ 'Join remotely'|trans }}
            </a>
        </span>
        {% endif %}
    {% endif %}
    {% if event.includeSaferSpaceGuidelines %}
    <span>
        {% if app.request.locale == 'fi' %}
            <a class="btn btn-outline-info" href="/turvallisemman-tilan-periaatteet">
                <twig:ux:icon name="hand-holding-heart" />
                Turvallisemman tilan periaatteet
            </a>
        {% else %}
            <a class="btn btn-outline-info" href="/en/safer-space-guidelines">
                <twig:ux:icon name="hand-holding-heart" />
                Safer space guidelines
            </a>
        {% endif %}
    </span>
    {% endif %}
    {% set currentMember = app.user ? app.user.member : null %}
    {% set signupLinkVisible = eventTemporalState.canShowSignupLink(event, currentMember) %}
    {% set eventInPast = eventTemporalState.isInPast(event) %}
    {% if signupLinkVisible and event.url %}
    <span>
        <a class="btn btn-outline-info"
           href="{{ path('entropy_event_slug_artist_signup.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) }}">
            <twig:ux:icon name="tasks" height="1em" width="1em"/>
            {{ 'Artist signup'|trans }}
        </a>
    </span>
    {% endif %}
    {% if not eventInPast and event.showNakkikoneLinkInEvent|default(false) and event.url %}
    <span>
        <a class="btn btn-outline-info"
           href="{{ path('entropy_event_slug_nakkikone.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) }}">
            <twig:ux:icon name="tasks" height="1em" width="1em"/>
            Nakkikone
        </a>
    </span>
    {% endif %}
    {% if event.linkToForums and app.user and app.user.member.isActiveMember %}
    <span>
        <a class="btn btn-outline-info" href="{{ event.linkToForums }}">
            <twig:ux:icon name="forum" height="1em" width="1em"/>
            Forums
        </a>
    </span>
    {% endif %}
    {% if event.wikiPage and app.user and app.user.member.isActiveMember %}
    <span>
        <a class="btn btn-outline-info" href="{{ event.wikiPage }}">
            <twig:ux:icon name="wiki" height="1em" width="1em"/>
            Wiki
        </a>
    </span>
    {% endif %}
    {% if event.type == 'announcement' %}
        {% if app.request.locale == 'fi' %}
            {% set url = '/tiedotukset' %}
        {% else %}
            {% set url = '/en/announcements' %}
        {% endif %}
    <span>
        <a class="btn btn-outline-info"
           href="{{ url }}">
            <twig:ux:icon name="tasks" height="1em" width="1em"/>
            {{ 'button.old_announcements'|trans }}
        </a>
    </span>
    {% endif %}
</div>
{%- endblock -%}
{%- block art_artist_list -%}
{%- set bios = event.ArtistInfosByType('ART') -%}
{%- if bios|length > 0 -%}
<div class="row">
    {%- for stage, infos in bios -%}
    <div class="{%- if bios|length > 1 %}col-md-6{% else %}col-12{% endif -%}">
        <h4 class="artists-heading">
            {{ 'Artists'|trans }}
            {%- if stage %}@ {{ stage }}{% endif -%}
        </h4>
        <ul>
            {%- for info in infos -%}
                {% set artist = info.artistClone %}
                {% set name = (artist.name|split(' for')).0 %}
                <li>
                    {%- if info.StartTime is not empty -%}
                        <a href="{{ path('entropy_event_artists.' ~ app.request.locale, {slug: event.url, year: event.eventdate|date('Y')}) }}#{{ artist.type|lower }}-{{ name|slug }}">{{ name }}</a>
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
    </div>
    {% endfor %}
</div>
{%- endif -%}
{%- endblock -%}
{%- block cycle -%}
{%- set current_event = event is defined ? event : null -%}
{%- set artist_display = artist_display is defined
    ? artist_display
    : (current_event ? current_event.artistDisplayConfiguration : null)
-%}
{%- set type = artist_bio_type|default(artist.type) -%}
{%- set bio_config = artist_bio_config|default({}) -%}
{%- if bio_config is empty -%}
    {%- if artist_display -%}
        {%- set bio_config = artist_display.getBioConfig(type) -%}
    {%- else -%}
        {%- set bio_config = {
            show_stage: true,
            show_picture: true,
            show_time: true,
            show_genre: true,
        } -%}
    {% endif -%}
{%- endif -%}
{%- set show_picture = bio_config.show_picture ?? true -%}
{%- set template_name = current_event ? current_event.template : '' -%}
{%- if 'e30v' in template_name|default('') %}
    {%- set anchor = artist.type|lower ~ '-' ~ name|slug -%}
    <div id="{{ anchor }}" class="col-12 mt-3 mb-3 content">
        <div class="row">
            <div class="col-12">
                <h3 class="mb-0 text-dark px-4 mb-4 text-uppercase fw-bolder" {{ stimulus_controller('share', {title: name, anchor: anchor}) }}>
                    {{ name }}
                    <button class="btn float-end text-dark"{{ stimulus_action('share', 'shareUrl') }}>
                        <twig:ux:icon name="share" />
                    </button>
                </h3>
            </div>
            <div class="col-12">
                {%- if show_picture -%}
                    {{- block('artist_pic') -}}
                {%- endif -%}
                {{- block('artist_event_info') -}}
            </div>
        </div>
    </div>
    {%- if not loop.last %}<hr class="d-md-none">{% endif -%}
{%- else -%}
    {%- set thecycle = loop.index0 is odd ? 'odd' : 'even' -%}
    <div id="{{- artist.type|lower }}-{{ name|slug -}}" class="col-md-12 pt-3 pb-3">
        <div class="row">
            {%- if thecycle == 'even' -%}
                <div class="{% if show_picture %}col-6 col-sm-6 col-md-7 col-xl-7{% else %}col-12{% endif %} pt-3 pt-md-0">
                    {{- block('artist_event_info') -}}
                </div>
                {%- if show_picture -%}
                    <div class="col-6 col-sm-6 col-md-5 col-xl-5">{{- block('artist_pic') -}}</div>
                {%- endif -%}
            {%- else -%}
                {%- if show_picture -%}
                    <div class="col-6 col-sm-6 col-md-5 col-xl-5">{{- block('artist_pic') -}}</div>
                    <div class="col-6 col-sm-6 col-md-7 col-xl-7 pt-3 pt-md-0">{{- block('artist_event_info') -}}</div>
                {%- else -%}
                    <div class="col-12 pt-3 pt-md-0">{{- block('artist_event_info') -}}</div>
                {%- endif -%}
            {%- endif -%}
            <div class="col mt-2 d-block d-sm-none">
                {{- artist.getBioByLocale(app.request.locale)|nl2br -}}
            </div>
        </div>
    </div>
    {%- if not loop.last -%}
        {%- if backToBack|default(false) -%}
            <div class="linetext">
                <span>B2B</span>
            </div>
        {%- else -%}
            <hr class="d-md-none">
        {%- endif -%}
    {%- endif -%}
{%- endif -%}
{%- endblock -%}
{%- block bios -%}
{% set artist_display = artist_display is defined ? artist_display : event.artistDisplayConfiguration %}
{% set artist_bio_config = artist_display.getBioConfig('DJ') %}
{% set artist_bio_groups = event.MusicArtistInfos %}
{% set artist_bio_anchor = 'bios' %}
{% set artist_bio_title_prefix = 'DJ ' ~ 'Artists'|trans %}
{% set artist_bio_type = 'DJ' %}
    {{- block('artist_bios_container') -}}
{%- endblock -%}
{%- block dj_bio -%}
    {{- block('bios') -}}
{%- endblock -%}
{%- block vj_bios -%}
{% set artist_display = artist_display is defined ? artist_display : event.artistDisplayConfiguration %}
{% set artist_bio_config = artist_display.getBioConfig('VJ') %}
{% set artist_bio_groups = event.ArtistInfosByType('VJ') %}
{% set artist_bio_anchor = 'vj-bios' %}
{% set artist_bio_title_prefix = 'VJ ' ~ 'Artists'|trans %}
{% set artist_bio_type = 'VJ' %}
    {{- block('artist_bios_container') -}}
{%- endblock -%}
{%- block vj_bio -%}
    {{- block('vj_bios') -}}
{%- endblock -%}
{%- block art_bios -%}
{% set artist_display = artist_display is defined ? artist_display : event.artistDisplayConfiguration %}
{% set artist_bio_config = artist_display.getBioConfig('ART') %}
{% set artist_bio_groups = event.ArtistInfosByType('ART') %}
{% set artist_bio_anchor = 'art-bios' %}
{% set artist_bio_title_prefix = 'Artists'|trans %}
{% set artist_bio_type = 'ART' %}
    {{- block('artist_bios_container') -}}
{%- endblock -%}
{%- block infos -%}
{%- for info in infos -%}
    {% if info.StartTime is not empty %}
        {%- set artist = info.artistClone -%}
        {%- set name = (artist.name|split(' for')).0 -%}
        {{- block('cycle') -}}
    {%- endif -%}
{%- endfor -%}
{%- endblock -%}
{%- block artist_event_info -%}
    {% set current_event = event is defined ? event : null %}
    {% set artist_display = artist_display is defined
        ? artist_display
        : (current_event ? current_event.artistDisplayConfiguration : null)
    %}
    {% set type = artist_bio_type|default(artist.type) %}
    {% set bio_config = artist_bio_config|default({}) %}
    {% if bio_config is empty %}
        {% if artist_display %}
            {% set bio_config = artist_display.getBioConfig(type) %}
        {% else %}
            {% set bio_config = {
                show_stage: true,
                show_picture: true,
                show_time: true,
                show_genre: true,
            } %}
        {% endif %}
    {% endif %}
    {% set show_time = bio_config.show_time ?? true %}
    {% set show_genre = bio_config.show_genre ?? true %}
    {% set template_name = current_event ? current_event.template : '' %}
    {%- if 'e30v' in template_name|default('') and frontpage|default(false) == false -%}
        <div class="float-none mx-4 mb-4">
            {%- if show_genre -%}
                <small class="fw-light">{{ artist.genre }}</small>
            {%- endif -%}
            <div>
                {{- artist.getBioByLocale(app.request.locale)|nl2br -}}
            </div>
            {{- block('artist_links') -}}
        </div>
    {%- else -%}
        {%- set is_multiday = current_event and current_event.multiday -%}
        {%- if is_multiday -%}
            {% set datestring = 'E, HH:mm' %}
        {%- else -%}
            {% set datestring = 'HH:mm' %}
        {%- endif -%}
        <h3>
            {{ name }}
            {%- if artist.type == 'Live' %}(Live){% endif -%}
            {%- if (artist.type == 'Live' or artist.type == 'DJ') and show_time -%}
                {% if info is defined and frontpage|default(false) == false and info.StartTime is not empty %}
                    @ {{ info.StartTime|format_datetime(pattern: datestring) }}
                {%- endif -%}
            {%- endif -%}
        </h3>
        {%- if show_genre -%}
            <small>{{- artist.genre -}}</small>
        {%- endif -%}
        <div class="d-none d-sm-block">
            {{- artist.getBioByLocale(app.request.locale)|nl2br -}}
        </div>
        {{- block('artist_links') -}}
    {%- endif -%}
{%- endblock -%}
{%- block artist_pic -%}
    {%- set artist_display = artist_display is defined
        ? artist_display
        : (event is defined ? event.artistDisplayConfiguration : null)
    -%}
    {%- set type = artist_bio_type|default(artist.type) -%}
    {%- set bio_config = artist_bio_config|default({}) -%}
    {%- if bio_config is empty and artist_display -%}
        {%- set bio_config = artist_display.getBioConfig(type) -%}
    {%- endif -%}
    {%- set show_picture = bio_config.show_picture ?? true -%}
    {%- if show_picture -%}
        {%- if name is not defined -%}
            {%- set name = artist.name -%}
        {%- endif -%}
        <span class="{%- if frontpage|default(false) %}rect-img{% else %}polaroid{% endif -%}">
            {%- if artist.Picture -%}
                <twig:ProgressiveImage
                    :media="artist.Picture"
                    :sizes="{
                        'square': '(max-width: 768px)',
                        'big': '(min-width: 769px)'
                    }"
                    :placeholder="sonata_path(artist.Picture, 'placeholder')"
                    class="aspect-square"
                    :alt="name"
                    :title="name"
                    :lazy="true"
                />
            {%- else -%}
                <img width="100%"
                        loading="lazy"
                        title="{{ name }}"
                        src="{{ asset('images/thumb_artist_square.jpg') }}">
            {%- endif -%}
            <div class="caption d-none d-sm-block">{{ name }}</div>
        </span>
    {%- endif -%}
{%- endblock -%}
{%- block artist_preview_info -%}
    {%- set artist_display = artist_display is defined
        ? artist_display
        : (event is defined ? event.artistDisplayConfiguration : null)
    -%}

    <h3>{{ artist.name }}</h3>
    {% set type = artist_bio_type|default(artist.type) %}
    {% set bio_config = artist_bio_config|default({}) %}
    {% if bio_config is empty and artist_display %}
        {% set bio_config = artist_display.getBioConfig(type) %}
    {% endif %}
    {% if bio_config.show_genre ?? true %}
        <small>{{ artist.genre }}</small>
    {% endif %}
    <div>
        {{ artist.getBioByLocale(app.request.locale)|nl2br }}
    </div>
    {{ block('artist_links') }}
{%- endblock -%}
{%- block artist_links -%}
    {%- if artist.links is not empty -%}
        <hr>
        {%- for link in artist.links -%}
            <span>
                <a
                    {% if link.open_in_new_window|default(false) %}target="_blank"{% endif %}
                    href="{{- link.url -}}"
                    >
                    <twig:ux:icon name="{{ link.icon|lower }}" class="me-1" />
                    {{- link.title -}}
                </a>
            </span>
            {%- if not loop.last %}|{% endif -%}
        {%- endfor -%}
{%- endif -%}
{%- endblock %}
{% block public_artist_info %}
    {% set current_event = event is defined ? event : null %}
    {% set artist_display = artist_display is defined
        ? artist_display
        : (current_event ? current_event.artistDisplayConfiguration : null)
    %}
    {% set name = artist.name %}
    {% set type = artist_bio_type|default(artist.type) %}
    {% set bio_config = artist_bio_config|default({}) %}
    {% if bio_config is empty %}
        {% if artist_display %}
            {% set bio_config = artist_display.getBioConfig(type) %}
        {% else %}
            {% set bio_config = {
                show_stage: true,
                show_picture: true,
                show_time: true,
                show_genre: true,
            } %}
        {% endif %}
    {% endif %}
    {% set show_picture = bio_config.show_picture ?? true %}

    <div id="{{ name|slug }}" class="col-md-12 pt-3">
        <div class="row">
            {% if show_picture %}
                <div class="col-6">{{ block('artist_event_info') }}</div>
                <div class="col-6">{{ block('artist_pic') }}</div>
            {% else %}
                <div class="col-12">{{ block('artist_event_info') }}</div>
            {% endif %}
            <div class="col mt-2 d-block d-sm-none">
                {{ artist.getBioByLocale(app.request.locale)|nl2br }}
            </div>
        </div>
    </div>
{% endblock %}
{%- block streamplayer -%}
{%- set phase = eventTemporalState.getPhase(event) -%}
{%- if event.streamPlayerUrl and phase == 'now' -%}
<div class="ckeditor-html5-audio" style="text-align: center;">
    <audio controls="controls"
           controlslist="nodownload"
           src="{{- event.streamPlayerUrl -}}">&nbsp;</audio>
</div>
{%- elseif event.streamPlayerUrl and phase == 'before' -%}
<div class="ckeditor-html5-audio"
     style="text-align: center;
            border: #aaa solid;
            margin: 0 auto;
            width: 60%">
    {{- 'event.player.will_appear_here_when_the_stream_is_on'|trans }}: {{ event.eventDate|date }}
</div>
{%- endif -%}
{%- endblock -%}
