{% use 'pieces/rsvp.html.twig' %}
{% block event %}
    {% if event.url is null and event.externalUrl %}
        {{ block('event_head') }}
    {% else %}
        <a href="{{ block('event_path') }}">
        {{ block('event_head') }}
        </a>
    {% endif %}
    <small>{{ block('published_and_updated') }}</small>
    {% if event.picture is not null and event.picturePosition == 'right' %}
    <div class="row">
        <div class="col-md-8 order-1 order-md-0">
        {{ block('event_frontpage_content')}}
        </div>
        <div class="col-md-4 order-0 order-md-1">
        {{ block('event_media') }}
        </div>
    </div>
    {% else %}
        {{ block('event_frontpage_content')}}
    {% endif %}
{% endblock %}

{% block event_head_reverse %}
    {{ block('event_banner_media') }}
    <small>{{ block('published_and_updated') }}</small>
    <h3>{{ block('event_name') }}</h3>
{% endblock %}

{% block event_path %}
    {% if event.url and not event.externalUrl %}
        {{ path('entropy_event_slug',{'slug': event.url, 'year': event.eventdate|date('Y')}) }}
    {% else %}
        {% if app.request.locale == 'fi' %}
        {{ path('entropy_event',{'id': event.id}) }}
        {% else %}
        {{ path('entropy_event_en',{'id': event.id}) }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block published_and_updated %}
    {{ 'released'|trans }}: {{ event.publishDate|date() }}
    {% if event.updatedAt and event.updatedAt|date('Y') != '-0001' %}
        {% if event.publishDate|date('d.m') < event.updatedAt|date('d.m') %} -- {{ 'updated'|trans }}: {{event.updatedAt|date }}
    {% endif %}
    {% endif %}
{% endblock %}

{% block event_head %}
    <h3>{{ block('event_name') }}</h3>
    {{ block('event_banner_media') }}
{% endblock %}

{% block event_name %}
{% set name_attr = 'name_attribute'|trans %}
  {{ attribute(event, name_attr) }}{% if event.type != 'announcement' %} - {{ event.eventdate|date() }}{% endif %}
  {% if event.cancelled %}*{{ 'cancelled'|trans }}*{%endif%}
  {% if event.sticky and app.user %}<i style="font-size: 1rem;" class="fas fa-thumbtack float-right"></i>{% endif %}
{% endblock %}

{% block event_banner_media %}
    {% if event.picture is not null and event.picturePosition == 'banner' %}
    {{ block('event_media') }}
    {% endif %}
{% endblock %}

{% block event_content %}
{% set frontpage = false %}
{% apply spaceless %}
{% set content_attr = 'content_attribute'|trans %}
{{ attribute(event,content_attr)|replace({
    '{{ timetable }}': block('timetable'), 
    '{{ bios }}': block('bios'),
    '{{ streamplayer }}': block('streamplayer'),
    '{{ vj_bios }}': block('vj_bios'),
    '{{ links }}':block('links'), 
    '{{ rsvp }}':block('RSVP') 
})|raw }}
{% if '{{ links }}' not in attribute(event,content_attr) %}
    {{ block('links') }}
{% endif %}
{% endapply %}
{% endblock %}

{% block event_frontpage_content %}
{% set frontpage = true %}
{% apply spaceless %}
{% set content_attr = 'content_attribute'|trans %}
{{ attribute(event,content_attr)|replace({
    '{{ timetable }}': block('timetable'), 
    '{{ streamplayer }}': block('streamplayer'),
    '{{ bios }}':'',
    '{{ vj_bios }}':'',
    '{{ links }}':'', 
    '{{ rsvp }}':block('RSVP') 
})|raw }}
{{ block('links') }}
{% endapply %}
{% endblock %}

{% block event_media %}
{% set name_attr = 'name_attribute'|trans %}
{% if event.picture.providername == 'sonata.media.provider.file' and event.picture.contentType == 'video/mp4' %}
<div class="img-fluid">
    <video autoplay loop muted inline width="100%">
    <source src="{{ sonata_path(event.picture, 'reference') }}" type="video/mp4">
    </video>
</div>
{% endif %}
<div class="{% if event.picture.providername == 'sonata.media.provider.youtube' %}video-fluid{% else %}img-filter{% endif %}"
     {{ block('imgfilter') }}
    >
    {% media event.picture, 'banner' with {'style': event.imgFilterBlendMode, 'class':'img-fluid','title': attribute(event, name_attr)} %}
    </div>
{% endblock %}

{% block imgfilter %}
{% if event.imgFilterColor && event.imgFilterBlendMode %}
    style="background: {{event.imgFilterColor}};"
{% endif %}
{% endblock %}

{% block links %}
{% if event.attachment %}
<div class="mb-2">
<a href="{{ path('sonata_media_download', {'id': event.attachment.id}) }}">
    <i class="fas fa-link"></i> 
    {{ event.attachment.name }}
</a>
</div>
{% endif %}
{% if event.epics is not empty or event.links.urls.0 is defined or event.NakkikoneEnabled or event.includeSaferSpaceGuidelines %}
<div>
<hr>
    {% for keys in event.links %}
        {% for url in keys %}
        <span class="pr-2">
            <a {% if url.open_in_new_window|default(false) %}target="_blank"{% endif %} href="{{ url.url }}">
                <i class="{{ url.icon }}"></i>
                {{ url.title|trans }}
            </a>
        </span>
        {% endfor %}
    {% endfor %}
    {% if event.epics %}
    <span class="pr-2">
        <a href="{{ event.epics }}">
            <i class="fas fa-image"></i>
            Epics
        </a>
    </span>
    {% endif %}
    {% if event.includeSaferSpaceGuidelines %}
    <span class="pr-2">
        {% if app.request.locale =='fi' %}
            <a href="/turvallisemman-tilan-periaatteet">
                <i class="fas fa-hand-holding-heart"></i>
                Turvallisemman tilan periaatteet
            </a>
        {%else%}
            <a href="/en/safer-space-guidelines">
                <i class="fas fa-hand-holding-heart"></i>
                Safer space guidelines
            </a>
        {% endif %}
    </span>
    {% endif %}
    {% if event.NakkikoneEnabled and event.url and app.user %}
    <span class="pr-2">
        <a href="{{ path('entropy_event_slug_nakkikone', {'slug': event.url, 'year': event.eventdate|date('Y') }) }}">
            {{"fas fa-tasks"|parse_icon }}
            Nakkikone
        </a>
    </span>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block timetable %}
{% set last = false %}
{% if event.eventArtistInfos %}
<ul>
{% for info in event.eventArtistInfos %}
    {% set name = info.artist.name %}
    {% if info.artistClone is null %}
        {% set artist = info.artist %}
    {% else %}
        {% set artist = info.artistClone %}
    {% endif %}
    {% if artist.type !='VJ' %}
        {% if last is defined %}
            {% if last != info.StartTime %}
                <li>{{ info.StartTime|date('H:i')}}: 
            {% endif %}
        {% endif %}
        {% if info.StartTime is not empty %}
            {% if last is defined %}
                {% if last == info.StartTime %}
                B2B 
                {% endif %}
            {% endif %}
            <a href="{% if frontpage %}{{ path('entropy_event_slug',{'slug': event.url, 'year': event.eventdate|date('Y')}) }}{% endif %}#{{ name }}">{{ name }}</a> {% if artist.type == 'Live' %}(Live){% endif %}
        {% endif %}
        {% set last = info.StartTime %}
        {% if last is defined %}
            {% if last != info.StartTime %}
                </li> 
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block vj_bios %}
{% set bio_attribute = 'bio_attribute'|trans %}
    {% for info in event.eventArtistInfos %}
        {% if info.StartTime is not empty %}
            {% set name = info.artist.name %}
            {% if info.artistClone is null %}
                {% set artist = info.artist %}
            {% else %}
                {% set artist = info.artistClone %}
            {% endif %}
            {% if artist.type =='VJ' %}
                {{ block('cycle') }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block cycle %}
{% set thecycle = loop.index0 is odd ? 'odd' : 'even' %}
{% if thecycle == 'even' %}
<div id="{{ name }}" class="col-md-12 pt-3 pb-3">
    <div class="row">
        <div class="col-md-5 order-last order-md-first pt-3 pt-md-0">
            {{ block('artist_event_info') }}
        </div>
        <div class="col-md-7 order-first order-md-last">
            {{ block('artist_pic') }}
        </div>
    </div>
</div>
{% else %}
<div id="{{ name }}" class="col-md-12 pt-3 pb-3">
    <div class="row">
        <div class="col-md-7 order-first">
            {{ block('artist_pic') }}
        </div>
        <div class="col-md-5 order-last pt-3 pt-md-0">
            {{ block('artist_event_info') }}
        </div>
    </div>
</div>
{% endif %}
{% if not loop.last %}
<hr class="d-md-none">
{% endif %}
{% endblock %}

{% block bios %}
{% set bio_attribute = 'bio_attribute'|trans %}
{% if event.eventArtistInfos|length > 1 %}
    <h3 class="artists-heading">
        {{'Artists'|trans}}
    </h3>
{% endif %}
    {% for info in event.eventArtistInfos %}
        {% if info.StartTime is not empty %}
            {% set name = info.artist.name %}
            {% if info.artistClone is null %}
                {% set artist = info.artist %}
            {% else %}
                {% set artist = info.artistClone %}
            {% endif %}
            {% if artist.type !='VJ' %}
                {{ block('cycle') }}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block artist_event_info %}
{% set content_attr = 'content_attribute'|trans %}
{% set show = true %}
{% if event is defined and '{{ timetable }}' not in attribute(event,content_attr) %}
    {% set show = false %}
{% endif %}
<h3>{{ name }} {% if artist.type == 'Live' %}(Live) {% endif %}{% if artist.type != 'VJ' %}{% if info is defined and show %}@ {{info.StartTime|date('H:i')}}{% endif %}{% endif %}</h3>
    <small>{{ artist.genre }}</small>
    <div>{{ attribute(artist, bio_attribute) }}</div>
    {{ block('artist_links') }}
{% endblock %}

{% block artist_pic %}
    {% if name is not defined %}
        {% set name = artist.name %}
    {% endif %}
    <span class="polaroid">
    {% if artist.Picture %}
    <img width="100%" title="{{name}}" src="{% path artist.Picture, 'square' %}"> 
    {% else %}
    <img width="100%" title="{{name}}" src="{{ asset('images/thumb_artist_square.jpg') }}"> 
    {% endif %}
    <div class="caption">{{ name }}</div>
    </span>
{% endblock %}

{% block artist_preview_info %}
{% set bio_attribute = 'bio_attribute'|trans %}
    <h3>{{ artist.name }}</h3>
    <small>{{ artist.genre }}</small>
    <div>{{ attribute(artist, bio_attribute) }}</div>
    {{ block('artist_links') }}
{% endblock %}

{% block artist_links %}
    {% if artist.links is not empty %}
        <hr>
        {% for link in artist.links %}
        <span><a {% if link.open_in_new_window|default(false) %}target="_blank"{% endif %} 
         href="{{ link.url }}"><i class="{{link.icon}}"></i> {{link.title}}</a>
        </span>{% if not loop.last %} |{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block public_artist_info %}
    {% set name = artist.name %}
    {% set bio_attribute = 'bio_attribute'|trans %}
    <div id="{{ name }}" class="col-md-12 pt-3">
        <div class="row">
            <div class="col-md-5 order-sm-last order-md-first">
                {{ block('artist_event_info') }}
            </div>
            <div class="col-md-7 order-sm-first order-md-last">
                {{ block('artist_pic') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block streamplayer %}
{% if event.streamPlayerUrl and event.NowTest == 'now' %}
    <div class="ckeditor-html5-audio" style="text-align: center;">
        <audio controls="controls" controlslist="nodownload" src="{{ event.streamPlayerUrl }}">&nbsp;</audio>
    </div>
{% elseif event.streamPlayerUrl and event.NowTest == 'before'  %}
    <div class="ckeditor-html5-audio" style="text-align: center;">
        <p>{{ 'event.player.will_appear_here_when_the_stream_is_on'|trans }}: {{ event.eventDate|date }}
    </div> 
{% elseif event.streamPlayerUrl and event.NowTest == 'after'  %}{% endif %}
{% endblock %}
