{% block happening_list %}
<div class="pt-2 pb-2 col-12 d-grid" id="happening_list">
    {% for happening in event.happenings %}
    {% if happening.releaseThisHappeningInEvent %}
    <a class="btn btn-primary w-100 mt-2"
        href="{{ path('entropy_event_happening_show', {'slug': event.url, 'year': event.eventdate|date('Y'), happeningSlug: happening.slug(app.request.locale)}) }}"
        >{{ happening.name(app.request.locale) }} ~ {{ happening.time|format_datetime(pattern='E, HH:mm') }}
        {% if happening.needsPreliminarySignUp %}
            ( {{ happening.bookings|length }}/{{ happening.maxSignUps }} )
        {% endif %}
    </a>
    {% else %}
        {% if app.user.member in happening.owners %}
        <a class="btn btn-danger w-100 mt-2"
            href="{{ path('entropy_event_happening_show', {'slug': event.url, 'year': event.eventdate|date('Y'), happeningSlug: happening.slug(app.request.locale)}) }}"
            >{{ happening.name(app.request.locale) }} ~ {{ happening.time|format_datetime(pattern='E, HH:mm') }}
            {% if happening.needsPreliminarySignUp %}
                ( {{ happening.bookings|length }}/{{ happening.maxSignUps }} )
            {% endif %}
            {{ 'SHOWN ONLY TO YOU'|trans }}
        </a>
        {% endif %}
    {% endif %}
    {% endfor %}
    <a class="btn btn-info w-50 mx-auto mt-2"
        href="{{ path('entropy_event_happening_create', {'slug': event.url, 'year': event.eventdate|date('Y')}) }}"
        >{{ 'happening.create'|trans }}</a>
</div>
{% endblock %}

{% block happening_info %}
{% set name = happening.name(app.request.locale) %}
{% set description = happening.description(app.request.locale) %}
{% set payment_info = happening.paymentInfo(app.request.locale) %}
{% set space_left = happening.maxSignUps - happening.bookings|length %}
<div class="row">
<div class="col-12">
    <h1>
        <a href="{{ path('entropy_event_slug', {'slug': event.url, 'year': event.eventdate|date('Y')}) }}">{{ event.name }}</a> ~
        {{ happening.type|capitalize|trans }}
        {% if admin %}
        ~ <a class="btn btn-lg btn-secondary" href="{{ path('entropy_event_happening_edit', {'slug': event.url, 'year': event.eventdate|date('Y'), 'happeningSlug': happening.slug(app.request.locale)}) }}">{{ 'Edit'|trans }}</a>
        {% endif %}
    </h1>
    {% if happening.releaseThisHappeningInEvent == false %}
        <h2 class="text-danger">{{ 'SHOWN ONLY TO YOU'|trans }}</h2>
    {% endif %}
</div>
{% if happening.picture %}
    <div class="col-sm-6 col-md-4">
    {{ block('happening_pic') }}
    </div>
    <div class="col-sm-6 col-md-8 mt-4 mt-sm-0">
{% else %}
    <div class="col-12 mt-4 mt-sm-0">
{% endif %}
<h3>{{ name }} <small>{{ happening.time|format_datetime(pattern='E, HH:mm') }}</small></h3>
<p>{{ description|nl2br }}</p>
{% if happening.needsPreliminaryPayment %}
    <hr>
    <h4>{{ 'happening.paymentInfo'|trans }}</h4>
    <p>{{ payment_info|nl2br }}</p>
{% endif %}
{% if happening.price(app.request.locale) != 0 %}
    <h5>{{ 'Price'|trans }}</h5>
    <p>{{ happening.price(app.request.locale) }}</p>
{% endif %}
</div>
{% if event.nowTest != 'after' %}
<div class="col-12 mt-4">
    {% if happening.needsPreliminarySignUp %}
        <h4>{{ space_left }} {{ 'seats available'|trans }}</h4>
        {% if happeningB.member == app.user.member %}
            {{ 'You have an reservation with a comment'|trans }}: {{ happeningB.comment }}
            <div>
                <a href="{{ path('entropy_event_happening_remove', {'id': happeningB.id}) }}" class="btn btn-warning">{{ 'Remove reservation'|trans }}</a>
            </div>
        {% else %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-primary" type="submit" value="{{ 'sign up'|trans|capitalize }}">
            {{ form_end(form) }}
        {% endif %}
    {% endif %}
    {% if happening.needsPreliminarySignUp and admin %}
    <div class="row mt-4">
        <div class="col-12">
            <h4>{{ 'Bookings'|trans }} {{ 'happening.bookings_for_admin'|trans }}</h4>
            <ol>
            {% for booking in happening.bookings %}
                <li>{{ booking.member }}: {{ booking.comment }}</li>
            {% else %}
                <span>{{ 'happening.no_reservations'|trans }}</span>
            {% endfor %}
            </ol>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block happening_pic %}
<span class="polaroid">
    {% if happening.picture %}
    <img width="100%" loading="lazy" title="{{ name }}" src="{{ sonata_path(happening.picture, 'square') }}">
    {% endif %}
    <div class="caption d-none d-sm-block">{{ name }}</div>
</span>
{% endblock %}
