{% block your_nakkis %}
    {% if selected|length > 0 %}
    <h3>{{ 'Your Nakkis'|trans }}</h3>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 text-center">
            {% for b in selected %}
                {% set name = b.nakki.definition.name(app.request.locale) %}
                {% set show = true %}
                {% set i = loop.index %}
                {{ block('card') }}
            {% endfor %}
           {#    <li>{{ b.nakki.definition.name(l) }}: {{block('time') }}</li> #}
        </div>
    {% endif %}
{% endblock %}
{% block reserve_nakkis %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 text-center">
        {% for name, nakki in nakkis %}
            {% set i = loop.index %}
            {% for b in nakki.bookings %}
                {{ block('card') }}
            {% endfor %}
        {% endfor %}
        </div>
{% endblock %}
{% block card %}
{#{ dump(show|default(false)) }#}
<div class="col mb-3{% if not show|default(false) %} card-hide d-none{% endif %}" {% if not show|default(false) %}id="card-{{ i }}"{% endif %}>
<div class="card
    {% if event.headerTheme == 'dark' %}
        bg-black text-white
    {% endif %}
    ">
    <h5 class="card-header">{{ name }}</h5>
    <div class="card-body">
        {% if not hide_time|default(false) %}
        <h6 class="card-subtitle mb-2 text-muted">{{ block('time') }}</h6>
        {% endif %}
        {% if show_definition|default(false) %}
        <p class="card-subtitle mb-2 text-muted">
            {{ b.nakki.definition.description(app.request.locale)|raw }}
        </p>
        {% endif %}
        {% if b.nakki.definition.onlyForActiveMembers %}<p>{{ 'Only for active members'|trans }}</p>{% endif %}
        <div class="btn-group">
        {% if b.nakki.mattermostChannel is not empty %}
            <a data-turbo="false" class="btn btn-secondary" target="_black" href="{{ b.nakki.mattermostChannel }}"><i class="fa-solid fa-up-right-from-square"></i> Mattermost</a>
        {% endif %}
        {% if b.member is null %}
        <a data-turbo="false" href="{{ path('entropy_event_nakki_sign_up', {'id': b.id, 'slug': event.url, 'year': event.eventdate|date('Y')}) }}" class="btn btn-primary">{{ 'Reserve'|trans }}</a>
        {% else %}
            {% if b.member == app.user.member and allow_nakki_cancel|default(true)%}
            <a data-turbo="false" href="{{ path('entropy_event_nakki_cancel', {'id': b.id, 'slug': event.url, 'year': event.eventdate|date('Y')}) }}" class="btn btn-secondary">{{ 'Cancel'|trans }}</a>
            {% else %}
            <button class="btn btn-success">{{ b.member.username }}</button>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block time %}
{% if event.multiday %}
{{ b.startAt|date('j.m.') }}<br>
{% endif %}
{% if b is defined %}
{{ b.startAt|date('H:i') }} - {{ b.endAt|date('H:i') }}
{% endif %}
{% endblock %}
