{% block product_block %}
    {#
        Variables expected:
        - product: Product entity
        - product_form: FormView for this product
        - minus: int (number of items in checkouts), default 0
        - show_quantity: bool (whether to show quantity selector), default true
        - show_available: bool (whether to show available quantity), default false
        - disabled_submit: bool (whether submit should be disabled), default false
        - locale: string (current locale)
    #}
    <div class="col-12 col-sm-9 col-md-7 col-xl-6 product rounded" {{ stimulus_controller('product', {max: product.max((minus|default(0)))}) }}>
        <div class="row">
            <div class="col-12 pic text-center">
                {% if product.picture %}
                    {{ sonata_media(product.picture, 'big', {class: 'img-fluid w-100', title: product.name(locale)}) }}
                {% endif %}
            </div>
            <div class="col-12 price">
                <button {{ stimulus_action('product', 'callopse') }} class="p-0 text-uppercase d-flex justify-content-between rounded">
                    <h3 class="ps-4 pe-2 py-2 d-flex w-100 fw-bold justify-content-between align-items-center">
                        <span>
                            {% if locale == 'fi' %}
                                {% if product.name(locale) is not null %}
                                    {{ product.name(locale) }}
                                    <br>
                                    <span class="fs-6 float-start">({{ product.nameEn }})</span>
                                {% else %}
                                    {{ product.nameEn }}
                                {% endif %}
                            {% else %}
                                {{ product.name(locale) }}
                            {% endif %}
                        </span>
                        <span>{{ product.amount / 100 }}€</span>
                    </h3>
                    <span class="btn fs-4" {{ stimulus_target('product', 'chevron') }}>
                        <twig:ux:icon class="d-none" name="chevron-up" />
                        <twig:ux:icon name="chevron-down" />
                    </span>
                </button>
            </div>
            <div class="col-12 info" {{ stimulus_target('product', 'callopse') }}>
                <div class="px-4">
                    <p class="mt-3">{{ product.description(locale) }}</p>
                    {% if show_available %}
                        <p>
                            {{ 'shop.product.available'|trans }}: {{ product.max(minus|default(0)) }}
                        </p>
                    {% endif %}
                </div>
                <div class="text-uppercase text-center fw-bold">{{ 'shop.product.quantity'|trans }}</div>
            </div>
            <div class="col-12 quantity">
                {% if show_quantity %}
                    <div class="quantity-holder d-flex justify-content-center rounded">
                        {% if product.max(minus|default(0)) <= 0 %}
                            {% set button = 'btn-secondary disabled' %}
                        {% else %}
                            {% set button = 'btn-primary' %}
                        {% endif %}
                        <button {{ stimulus_target('product', 'minus') }} {{ stimulus_action('product', 'minus') }} class="btn {{ button }} fs-4">
                            <twig:ux:icon name="minus" />
                        </button>
                        <span class="number text-center w-100 fs-2 fw-bolder" {{ stimulus_target('product', 'quantity') }}>
                            {% if product.max(minus|default(0)) <= 0 %}
                                {{ 'shop.product.sold_out'|trans }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                        <button {{ stimulus_target('product', 'plus') }} {{ stimulus_action('product', 'plus') }} class="btn {{ button }} fs-4">
                            <twig:ux:icon name="plus" />
                        </button>
                    </div>
                {% endif %}
            </div>
            <div style="height: 0px;overflow: hidden">{{ form_row(product_form) }}</div>
        </div>
    </div>
{% endblock %}
