{%- block stripe_ticket -%}
{%- if event.ticketsEnabled -%}
<div class="pt-2 pb-2" id="ticket">
    <div class="clearfix">
        {%- if tickets|length > 0 -%}
        <a class="btn btn-primary w-100"
            href="{{ path('entropy_event_tickets', {slug: event.url, year: event.eventdate|date('Y')}) }}">
            {% if event.nakkiRequiredForTicketReservation %}
                {{ 'ticket.details_with_nakki'|trans }}
            {% else %}
                {{ 'ticket.details'|trans }}
            {% endif %}
        </a>
        {%- else -%}
            {%- if eventTemporalState.isPresaleOpen(event) -%}
            <a class="btn btn-primary w-100"
                href="{{- path('entropy_event_shop', {slug: event.url, year: event.eventdate|date('Y')}) -}}"
            >
                <div class="fs-4 fw-bold text-uppercase">{{ 'ticket.to_ticket_shop'|trans }}</div>
                {% set locale = (app.request.locale == 'fi' ? 'fi' : 'en-GB') %}
                {{ 'ticket.sale_ends'|trans }}: {{ event.ticketPresaleEnd|format_datetime('short', 'short', locale: locale) }}
            </a>
            {%- else -%}
                {% if event.ticketPresaleStart > date('now') %}
                <a class="btn btn-primary w-100 disabled">{{ 'ticket.sale_starts'|trans }}: {{ event.ticketPresaleStart|date }}</a>
                {% elseif event.ticketPresaleEnd < date('now') %}
                <a class="btn btn-primary w-100 disabled">{{ 'ticket.sale_ended'|trans }}: {{ event.ticketPresaleEnd|date }}</a>
                {% endif %}
            {%- endif -%}
        {%- endif -%}
    </div>
</div>
{%- endif -%}
{%- endblock -%}
