{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {{ importmap('admin_effects') }}
{% endblock %}
{%- block logo %}
    <a class="logo w-100"
       href="{{ path('dashboard', {_locale: app.request.locale}) }}">
        <img src="{{ asset(sonata_config.logo) }}"
             alt="{{ sonata_config.title }}"
             width="100%"
             style="max-width:100%">
    </a>
{% endblock -%}
