{% use 'pieces/event.html.twig' %}
<div{{ attributes }} id="artists-{{ hash }}">
    {% if isOnline %}
        <div class="d-grid grid-cols-2 gap-2">
        {% for streamArtist in stream.artistsOnline %}
            {% if loop.first %}
            <h2>{{ 'stream.page.players'|trans }}</h2>
            {% endif %}
            {% set artist = streamArtist.artist %}
            {% set name = artist.name %}
            {% set artist_display = artist_display|default(null) %}
            {% set artist_bio_type = artist.type %}
            {% set artist_bio_config = artist_display is not null ? artist_display.getBioConfig(artist_bio_type) : null %}
            {% set backToBack = true %}
            {% set event = event|default(null) %}

            {{ block('cycle') }}
                {# <span class="polaroid">
                    {% if artist.Picture %}
                        <img width="100%"
                            loading="lazy"
                            title="{{ artist.name }}"
                            src="{{ sonata_path(artist.Picture, 'square') }}">
                    {% endif %}
                    <div class="caption d-none d-sm-block">{{ artist.name }}</div>
                </span> #}
        {% else %}
            <div class="polaroid">
                <img width="100%"
                    loading="lazy"
                    title="{{ 'stream.page.unknown'|trans }}"
                    src="{{ asset('images/thumb_artist_square.jpg') }}">
                <div class="caption d-none d-sm-block">{{ 'stream.page.unknown'|trans }}</div>
            </div>
        {% endfor %}
        </div>
    {% endif %}
</div>
