<div class="stream-control-component" {{ attributes }}>
    <div class="stream-status">
        {% if this.streamStatus %}
            <div class="alert alert-success">
                <twig:ux:icon name="broadcast" height="2em"/>
                {{ 'stream.control.on'|trans }}
            </div>
        {% else %}
            <div class="alert alert-secondary">
                <twig:ux:icon name="power-off" height="2em" />
                {{ 'stream.control.off'|trans }}
            </div>
        {% endif %}
        {% if this.streamStatus %}
            <a href="{{ path('recording_stop') }}" class="btn btn-danger" data-turbo="false">
                <twig:ux:icon name="stop" />
                {{ 'stream.control.stop'|trans }}
            </a>
        {% else %}
            <a href="{{ path('recording_start') }}" class="btn btn-success" data-turbo="false">
                <twig:ux:icon name="play" />
                {{ 'stream.control.start'|trans }}
            </a>
        {% endif %}
    </div>
</div>
