{% block modal %}
<div class="modal fade" tabindex="-1" id="MemberModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">{{'register_as_member'|trans}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {{ form_start(form) }}
      <div class="modal-body">
          {{ form_row(form.username) }}
		  <div class="form-row">
          {{ form_row(form.firstname, {'row_attr': {'class':'col-6'}}) }}
          {{ form_row(form.lastname, {'row_attr': {'class':'col-6'}}) }}
		  </div>
		  <div class="form-row">
          {{ form_row(form.email, {'row_attr': {'class':'col-6'}}) }}
          {{ form_row(form.phone, {'row_attr': {'class':'col-6'}}) }}
		  </div>
          {{ form_row(form.CityOfResidence) }}
          {{ form_row(form.StudentUnionMember) }}
          {{ form_row(form.user.plainPassword) }}
          {{ form_row(form.user.MattermostId, {'row_attr': {'class':'d-none'}}) }}
          {{ form_row(form.locale, {'row_attr': {'class':'d-none'}}) }}
          {{ form_row(form.theme, {'row_attr': {'class':'d-none'}}) }}
          <small>{{'submit_and_agree'|trans}}</small>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'close'|trans}}</button>
          <a target="privacypolicy" href="/rekisteriseloste" type="button" class="btn btn-info">{{ 'privacy_policy'|trans}}</a>
          <input class="btn btn-primary" type="submit" value="Submit" />
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %} 
