{% block modal %}
<div class="modal fade" tabindex="-1" id="MemberModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title">{{'register_as_member'|trans}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {{ form_start(form) }}
          {{ form_row(form.username) }}
		  <div class="form-row">
          {{ form_row(form.firstname, {'row_attr': {'class':'col-6'}}) }}
          {{ form_row(form.lastname, {'row_attr': {'class':'col-6'}}) }}
		  </div>
		  <div class="form-row">
          {{ form_row(form.email, {'row_attr': {'class':'col-6'}}) }}
          {{ form_row(form.phone, {'row_attr': {'class':'col-6'}}) }}
		  </div>
          {{ form_row(form.CityOfResidence) }}
          {{ form_row(form.StudentUnionMember) }}
          {{ form_row(form.user.plainPassword) }}
          {{ form_row(form.user.MattermostId, {'row_attr': {'class':'d-none'}}) }}
          {{ form_row(form.locale, {'row_attr': {'class':'d-none'}}) }}
          <small>{{'submit_and_agree'|trans}}</small>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'close'|trans}}</button>
          <a target="privacypolicy" href="/rekisteriseloste" type="button" class="btn btn-info">{{ 'privacy_policy'|trans}}</a>
          <input class="btn btn-primary" type="submit" value="Submit" />
          {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %} 
