{% extends 'emails/base.html.twig'%}
{% block content %}
    <span style="font-size: 16px; font-weight: bold; color: #555; margin: 0 0 5px; display: inline-block;">
        New Booking! - {{ booking.name }} on {{ booking.bookingDate|date("d.m.Y") }}
    </span>
    <div style="margin: 5px 0 0;">
    {% if booking.retrieval %}
        Pickup Time: {{ booking.retrieval| date("d.m.Y H:m") }}
    {% endif %}
    </div>
    <div>Renter: {{ booking.renter }}</div>
    <div>Creator: {{ booking.creator }}</div>
    </td>
</tr>
<tr>
    <td colspan="2" style="line-height:24px; text-align: center; padding: 10px;  background: #0acfcf; border-bottom: 2px solid white;">
        <a style="color: white; text-align: center; width: 100%; height: 100%; display: block;" href="
        {{ url('admin_app_booking_stuffList', {'id': booking.id}) }}
        ">
            Booking stufflist >>
        </a>
    </td>
</tr>
<tr>
    <td colspan="2" style="line-height:24px; text-align: center; padding: 10px;  background: #0acfcf;">
        <a style="color: white; text-align: center; width: 100%; height: 100%; display: block;" href="
            {{ url('admin_app_booking_edit', {'id': booking.id}) }}
            ">
                Booking edit >>
        </a>
{% endblock %}
