{% if app.user %}
    <a
        aria-label="{{ 'button.theme-switcher'|trans }}"
        class="btn position-absolute top-0 end-0"
        href="{{ path('profile_edit') }}#theme"
        title="{{ 'button.theme-switcher'|trans }}"
    >
        <twig:ux:icon name="dark-theme" height="2em"/>
    </a>
{% else %}
    <button
        aria-label="{{ 'button.theme-switcher'|trans }}"
        class="btn position-absolute top-0 end-0"
        {{ stimulus_controller('theme-switcher') }}
        {{ stimulus_action('theme-switcher', 'toggle') }}
    >
        <twig:ux:icon name="dark-theme" height="2em"/>
    </button>
{% endif %}
